$sitename: 'De Young';

// colors
$color-1:         #D15127;
$color-2:         #A83223;
$color-3:         #72B9C1;
$color-4:         #005244;
$color-5:         #EFE36E;
$color-6:         #ECECEC;
$color-7:         #A8ABAD;
$color-8:         #3E3E3E;
$color-9:         #86281C;
$color-10:        #FFFF83;

$color-white:     #FFF;
$color-black:     #000;
$color-overlay:   rgba(0, 0, 0, 0.5);

// we can also just directly type in the hex values inside this map
// sample usage:
// background-color: color(bg,secondary);
$colors: (
  bg: (
    base:              $color-white,
    secondary:         $color-6,
    highlight:         $color-1,
    quote:             $color-5,
    breaker:           $color-3,
    announcement1:     $color-3,
    announcement2:     $color-2,
    announcement3:     $color-5,
    visitNotification: $color-5,
    membership:        $color-7
  ),
  overlay: (
    black:        $color-black,
    lt-grey:      $color-6,
    dk-grey:      $color-7,
    yellow:       $color-5,
    highlight1:   $color-1,
    highlight2:   $color-2,
    highlight3:   $color-3,
    highlight4:   $color-4,
    highlight54:  $color-5
  ),
  text: (
    base:         $color-8,
    secondary:    $color-7,
    highlight:    $color-1,
    highlight2:   $color-5,

    white:         $color-white,
    black:         $color-black,
    grey-light:    $color-6,
    grey-dark:     $color-7,
    charcoal:      $color-8,
    announcement1: $color-8,
    announcement2: $color-white,
    announcement3: $color-8,
    announcement4: $color-white,
  ),
  h8-special: (
    base:         $color-3
  ),
  link1: (
    base:         $color-8,
    hover:        $color-1,
    hover2:       $color-white
  ),
  link2: (
    base:         $color-6,
    secondary:    $color-7,
    hover:        $color-8
  ),
  link3: (
    base:         $color-1,
    hover:        $color-8
  ),
  link4: (
    base:         $color-7,
    hover:        $color-8
  ),
  link5: (
    base:         $color-1,
    hover:        $color-2
  ),
  linkSocial: (
    base:         $color-1,
    bg:           $color-7,
    hover:        $color-white
  ),
  button: (
    base:         $color-1,
    hover:        $color-2,
    text:         $color-white
  ),
  button2: (
    base:         $color-2,
    hover:        $color-9,
    text:         $color-white
  ),
  border: (
    base:         $color-2,
    secondary:    $color-1,
    white:        $color-white,
    grey:         $color-6,
    line:         $color-5,
    25:           $color-2,
    membership: $color-5
  ),
  related: (
    base:         $color-5,
    secondary: $color-2
  ),
  callout: (
    base:         $color-5
  ),
  icon: (
    base:         $color-1
  ),
  sliderArrow: (
    base:         $color-white,
    hover:        $color-2,
    hover2:       $color-1
  ),
  sliderArrow2: (
    base:         $color-black,
    hover:        $color-1
  ),
  sliderArrow3: (
    base:         $color-1,
    hover:        $color-2
  ),
  map: (
    pin1 :        $color-8,
    pin2 :        $color-5,
    link1:        $color-white,
    link2:        $color-8
  )
);

$global-page-background: $color-white url(/img/page-bg.svg) 0 0 / 9px 9px;


//font
$font-roboto: '"roboto", sans-serif';
  //@include roboto(300), light, light italic
  //@include roboto(700), bold, bold italic
  //@include roboto(900), black




$fonts: (
  body: ( default: $font-roboto, w: 300),
  h1:   ( default: $font-roboto, w: 900),
  h2:   ( default: $font-roboto, w: 900),
  h3:   ( default: $font-roboto, w: 900),
  h4:   ( default: $font-roboto, w: 900),
  h5:   ( default: $font-roboto, w: 700),
  h6:   ( default: $font-roboto, w: 700),
  h7:   ( default: $font-roboto, w: 700),
  h8:   ( default: $font-roboto, w: 700),
  h9:   ( default: $font-roboto, w: 700),
  h10:  ( default: $font-roboto, w: 700)
);



// footer svg.figure config
@mixin footer__figure-box {
  @include respond(
    ('bottom', -90px,-95px, -175px),
    ('right', 20px, 50px, 20px)
  );
}

@mixin footer__figure-img {
  @include respond(
    ('max-width', 96px, 114px, 130px),
    ('min-width', 96px, 114px, 130px)
  );
}

// object settings
$line-border-width: 6px;
$line-border-width-large: 8px;

$editorial-title-line-height: 51px;
@mixin related__stories-line-hide {
  @include respond(
    ('height', 167px, 152px, 193px)
  );
}

// header logo config
@mixin header__logo-inner {
  @include respond(
    ('width', 200px, 185px)
  );
}

//collection hero title position
$c-hero-bottom-sm: -6px;
$c-hero-bottom-md: -10px;
$c-hero-bottom-lg: -13px;
