<section class="block-container js-blocks ">
    {{#each grid.blocks as |block|}}
    <div class="block--item">
        <div class="block--media">
            <a class="content" data-img="{{#each block.images as |image|}}{{ image.item }},{{/each}}"></a>
        </div>
        <div class="block--text">
            <a class="close-block">
                <svg role="img"><use xlink:href="img/icons/icons.svg#close_button"></use></svg>
            </a>
            <h2 class="h7">{{block.title}}</h2>
            <div class="block--context">
                <p>{{block.excerpt}} <a href="{{block.url}}">View More</a></p>
            </div>
        </div>
    </div>
    {{/each}}
</section>

