<div class="collection module transition {{collection.classes._this}}">

  <div class="collection__sections {{collection.classes.sections}}">

    {{#if collection.module.bio }}
      {{#if collection.title }}<h2 class="collection__title h4 {{collection.classes.title}}">{{{collection.title}}}</h2>{{/if}}
    {{/if}}

    <section class="collection__hero js-collection-hero {{collection.classes.hero}}">
      <div class="media-bg {{collection.classes.heroMediaBg}}" data-bg="img/{{collection.hero.img}}">
        {{#if collection.hero.url}}<a href="{{collection.hero.url}}" class="collection__hero-link media-link {{collection.classes.heroLink}}" title="{{collection.hero.title}}"></a>{{/if}}
        {{#if collection.callout }}{{> callout collection.callout }}{{/if}}
        {{#if collection.module.mapHero }}{{> map-hero collection }}{{/if}}
        {{#if collection.module.bio }}{{> media-overlay-button exhibition-hero=collection.hero}}{{/if}}
      </div>
      {{#if collection.module.bio }}
        {{#if collection.caption }}<div class="collection__caption u-caption {{collection.classes.caption}}">{{{collection.caption}}}</div>{{/if}}
      {{/if}}
    </section>


    {{#if collection.module.bio }}
    <section class="collection__text {{collection.classes.text}}">
      {{#if collection.body }}
      <div class="collection__body {{collection.classes.body}}">
        <article class="collection__body-inner">
          {{{collection.body}}}
        </article>
      </div>
      {{/if}}
      {{#if collection.cta }}{{> cta collection.cta }}{{/if}}
    </section>
    {{ else }}
    <section class="collection__text {{collection.classes.text}} line {{collection.line.classes}}">
      {{#if collection.tag }}<h2 class="collection__content-tag h8 {{collection.classes.tag}}">{{{collection.tag}}}</h2>{{/if}}
      {{#if collection.title }}<h3 class="collection__title h4 {{collection.classes.title}}">{{{collection.title}}}</h3>{{/if}}
      {{#if collection.subTitle }}<h3 class="collection__sub-title h8 {{collection.classes.subTitle}}">{{{collection.subTitle}}}</h3>{{/if}}
      {{#if collection.body }}<div class="collection__body {{collection.classes.body}}">{{{collection.body}}}</div>{{/if}}
      {{#if collection.cta }}{{> cta collection.cta }}{{/if}}
    </section>
    {{/if}}

    {{#if collection.module.bio }}
      {{#each collection.galleries as |gallery| }}
      <section class="collection__gallery transition {{gallery.classes.item}}">
        <div class="collection__gallery-hero media-bg {{gallery.classes.hero}}" data-bg="img/{{gallery.hero.img}}">
          {{> media-overlay-button exhibition-hero=gallery}}
        </div>
        {{#if gallery.caption }}<div class="collection__caption u-caption {{gallery.classes.caption}}">{{{gallery.caption}}}</div>{{/if}}
      </section>
      {{/each}}
    {{/if}}
  </div>
</div>
