<section class="events-listing-blocks block-container js-blocks">
  {{#each grid.blocks as |block|}}
    <div class="block--item{{#unless block.image}} block--item--noimage{{/unless}}">
      {{#if block.image}}
        <div class="block--media">
          <a href="{{block.url}}" class="content" data-img="{{block.image}}"></a>
        </div>
      {{/if}}
      <a class="block--text" href="{{block.url}}">
        <h8 class="block--category h8 u-highlight">{{block.category}}</h8>
        <h4 class="block--title h4">{{{block.title}}}</h4>
        <h8 class="block--datevenue h8">{{block.dateVenue}}</h8>
      </a>
    </div>
  {{/each}}

  <div class="block--error">
    <p>There are no results that meet your query. View a list of all upcoming Special Events <a href="{{noResultLink}}">here</a>.</p>
  </div>
</section>

<script id="events-listing-blocks-template" type="text/template">
  <div class="block--item">
    <div class="block--media">
      <a href="" class="content" data-img=""></a>
    </div>
    <a class="block--text" href="">
      <h8 class="block--category h8 u-highlight"></h8>
      <h4 class="block--title h4"></h4>
      <h8 class="block--datevenue h8"></h8>
    </a>
  </div>
</script>
