<section class="block-container js-blocks ">
    {{#each grid.blocks as |block|}}
    <div class="block--item">
        <div class="block--media">
            <a class="content" data-img="{{#each block.images as |image|}}{{ image.item }},{{/each}}"></a>
        </div>
        <div class="block--text">
            <h2 class="h7"><a href="#"><span class="underline">{{block.title}}</span><span class="no-break">&nbsp;<svg role="img"><use xlink:href="img/icons/icons.svg#offsite_link"></use></svg></span></a></h2>
        </div>
    </div>
    {{/each}}
</section>
