<script>
/**
  (Comments within script tag to avoid compatibility issues with '--' in class names)

  To add a video/image to the overlay, the media-btn element must have the media-overlay__item class and the following data attributes:

    * data-type: video or image
    * data-src: video or image source url
    * data-title: video or image title

  To add multiple items to the overlay as a carousel, the media-btn element must also have the media-overlay__item--gallery class. This is only intended for the Exhibition pages. On these pages, all images which are content managed and do not serve as links to other pages should be included. See dev site and/or dist- folders for examples.

  From a backend perspective, the hero__gallery-btn element should only be rendered when all of the following conditions are true

    * Page is Regular or Special Exhibitions
    * Item is to be included in the overlay carousel
    * Item is not video
*/
</script>


<a class="media-btn media-overlay__item {{#if exhibition-hero.mediaGallery}}media-overlay__item--gallery{{/if}} {{ exhibition-hero.mediaData.type }} [ u-bg-block ]"  data-type="{{ exhibition-hero.mediaData.type }}" data-title="{{ exhibition-hero.mediaData.title }}" data-src="{{ exhibition-hero.mediaData.src }}">
    {{#if exhibition-hero.mediaData.related }}
    <i class="hero__gallery-btn"><svg role="img"><use xlink:href="img/icons/icons.svg#gallery_button"></use></svg></i>
    {{/if}}
    <span class="hero__play-btn">
        <svg role="img"><use xlink:href="img/icons/icons.svg#global_play_button"></use></svg>
        <svg role="img"><use xlink:href="img/icons/icons.svg#global_play_button_hover"></use></svg>
    </span>
</a>
