<div class="textfield">
  <input name="{{ textfield.name }}" type="{{ textfield.type }}" placeholder="{{ textfield.placeholder }}">
  {{#if textfield.button }}
  <button type="{{ textfield.button.type }}"></button>
  {{/if }}
</div>
