<div class="ticket">

  <div class="ticket__sections">

    <section class="ticket__info {{ ticket.classes.info.cont }}">

      <div class="ticket__hero {{ ticket.classes.hero }}">
        <div class="ticket__hero-media media-bg {{ ticket.classes.heroMedia }}" data-bg="img/map.jpg">
          <div class="[ u-bg-block u-bgc-hl3 u-opacity-75 ]"></div>
        </div>
      </div>

      <div class="ticket__info-details">
        <div class="ticket__info-title {{ ticket.classes.info.title }}">
          <div class="ticket__info-title-inner {{ ticket.classes.info.titleInner }}">
            <h2>Ticket Information</h2>
          </div>
        </div>
      
        <ul class="ticket__item-list list">
          <li><span class="h8">Adults -</span> $15</li> 
          <li><span class="h8">Seniors -</span> $10</li>
          <li><span class="h8">Students -</span> $6</li>
          <li><span class="h8">FAMSF Members -</span> Free</li> 
          <li><span class="h8">Children Under 5 -</span> Free</li>
        </ul>
      </div>

      <div class="ticket__info-body">
        <div class="h4">
          {{{ ticket.info.body }}}
        </div>


        {{#if ticket.info.disclamer }}
        <div class="ticket__info-disclamer u-fsi">{{ ticket.info.disclamer }}</div>
        {{/if}}
      </div>

    </section>

    {{#if ticket.sched }}
    <section class="ticket__sched u-span6@m u-span5@l">
      
      <div class="ticket__sched-title">
        <h2 class="h8-special">Full Hours</h2>
      </div>

      <div class="ticket__sched-item">
        <h3 class="ticket__sched-item__title h8 u-highlight">Regular Hours</h3>
        <h4 class="ticket__sched-item__sub-title h8">Tues–Sun</h4>
        9:30 am–5:15 pm
      </div>

      <div class="ticket__sched-item">
        <h3 class="ticket__sched-item__title h8 u-highlight">Friday Nights at the de Young</h3>
        <h4 class="ticket__sched-item__sub-title h8">Apr 15 – Nov 25. 2016</h4>
        5:00pm–8:45pm
      </div>

      <div class="ticket__sched-item">
        <h3 class="ticket__sched-item__title h8 u-highlight">Open select Mondays</h3>
        <h4 class="ticket__sched-item__sub-title h8">Dec 26, 2016 </h4>
        <h4 class="ticket__sched-item__sub-title h8">May 29, 2017</h4>
        9:30 am–5:15 pm
      </div>

      <div class="ticket__sched-item">
        <h3 class="ticket__sched-item__title h8 u-highlight">Order tickets by phone 24/7</h3>
        <div class="ticket__sched-item__sub-title"><span class="h8">Members -</span> 800.777.9996</div> 
        <div><span class="h8">Non-Members</span> - 888.901.6645</div>
      </div>

      <div class="ticket__sched-item">
        <span class="u-caption">Closed Thanksgiving Day and December 25th. Check our calendar for special hours.</span>
      </div>

      <div class="ticket__sched-item">
        <span class="u-caption">The Museum Café and Hamon Education Tower Observation Level close one hour prior to museum close.</span>
      </div>
    </section>
    {{/if}}
    
    {{#if ticket.museumMap }}
    <section class="museum-map u-span6">
      <div class="museum-map__text">
        <h2 class="h4">View the <a href="/" title="" alt="" target="_blank">museum map</a></h2>
      </div>
      
      <div class="museum-map__figure">
        <div class="museum-map__figure-svg media-aw-left">
          <svg role="img" class="u-bg-block"><use xlink:href="img/icons/icons.svg#museum-map"></use></svg>
        </div>
      </div>
    </section>
    {{/if}}
  </div>
</div>