<!--
  Explicitly for https://codeandtheory.atlassian.net/browse/FAMSF-419
-->

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
    <style>
        .section-calendar {
            
        }
        .sample-section {
            background: black;
            min-height: 500px;
            margin-bottom: 40px;
        }
    </style>
</head>
<body class="section-calendar">
    <header class="header header--short js-header header--expanded">
    </header>
    <div class="navigation">
    </div>
    <main>

        
        <div class="calendar module js-calendar">
        <div class="calendar__inline container js-calendar--inline">
            <div class="calendar__wrapper js-calendar--wrapper">

                <div class="clndr">
                    <h3 class="calendar__title js-calendar--title h3" style="width: 408px;">
                        <span class="calendar__month js-calendar--month">May</span>
                        <span class="calendar__date js-calendar--date">May 12</span>
                    </h3>
                    
                    <div class="calendar__open js-calendar--open">
                        <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
                    </div>
                    
                    <div class="calendar__close js-calendar--close">
                        <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#header_cross"></use></svg>
                    </div>
                    
                    <div class="calendar__head">
                        <div class="calendar__nav js-calendar--nav" style="height: 274px;">
                        <a class="calendar__link calendar__link--prev js-calendar--prev">
                            <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
                        </a>
                        <a class="calendar__link calendar__link--next js-calendar--next">
                            <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_right"></use></svg>
                        </a>
                        </div>
                    </div>
                    
                    <div class="calendar__grid js-calendar--grid">
                        <div class="calendar__row clearfix">
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">S</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">M</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">T</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">W</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">Th</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">F</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">S</span>
                            </h4>
                        
                        </div>
                        <div class="calendar__row clearfix">
                        
                            <h8 class="h8 empty last-month calendar__cell">
                            <span class="calendar__item"></span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-01 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">1</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-02 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">2</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-03 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">3</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-04 calendar-dow-4 calendar__cell">
                            <span class="calendar__item">4</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-05 calendar-dow-5 calendar__cell">
                            <span class="calendar__item">5</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-06 calendar-dow-6 calendar__cell">
                            <span class="calendar__item">6</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-07 calendar-dow-0 calendar__cell">
                            <span class="calendar__item">7</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-08 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">8</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-09 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">9</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-10 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">10</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-11 calendar-dow-4 calendar__cell">
                            <span class="calendar__item">11</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-12 calendar-dow-5 calendar__cell selected">
                            <span class="calendar__item">12</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-13 calendar-dow-6 calendar__cell">
                            <span class="calendar__item">13</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-14 calendar-dow-0 calendar__cell">
                            <span class="calendar__item">14</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-15 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">15</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-16 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">16</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-17 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">17</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-18 calendar-dow-4 calendar__cell">
                            <span class="calendar__item">18</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-19 calendar-dow-5 calendar__cell">
                            <span class="calendar__item">19</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-20 calendar-dow-6 calendar__cell">
                            <span class="calendar__item">20</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-21 calendar-dow-0 calendar__cell">
                            <span class="calendar__item">21</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-22 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">22</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-23 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">23</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-24 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">24</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-25 calendar-dow-4 calendar__cell">
                            <span class="calendar__item">25</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-26 calendar-dow-5 calendar__cell">
                            <span class="calendar__item">26</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-27 calendar-dow-6 calendar__cell">
                            <span class="calendar__item">27</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-28 calendar-dow-0 calendar__cell">
                            <span class="calendar__item">28</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-29 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">29</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-30 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">30</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-31 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">31</span>
                            </h8>
                        
                            <h8 class="h8 empty next-month calendar__cell">
                            <span class="calendar__item"></span>
                            </h8>
                        
                            <h8 class="h8 empty next-month calendar__cell">
                            <span class="calendar__item"></span>
                            </h8>
                        
                            <h8 class="h8 empty next-month calendar__cell">
                            <span class="calendar__item"></span>
                            </h8>
                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="calendar__fixed js-calendar--fixed">
            <div class="calendar__wrapper js-calendar--wrapper">

                <div class="clndr">
                    <h3 class="calendar__title js-calendar--title h3" style="width: 408px;">
                        <span class="calendar__month js-calendar--month">May</span>
                        <span class="calendar__date js-calendar--date">May 12</span>
                    </h3>
                    
                    <div class="calendar__open js-calendar--open">
                        <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
                    </div>
                    
                    <div class="calendar__close js-calendar--close">
                        <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#header_cross"></use></svg>
                    </div>
                    
                    <div class="calendar__head">
                        <div class="calendar__nav js-calendar--nav" style="height: 274px;">
                        <a class="calendar__link calendar__link--prev js-calendar--prev">
                            <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
                        </a>
                        <a class="calendar__link calendar__link--next js-calendar--next">
                            <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_right"></use></svg>
                        </a>
                        </div>
                    </div>
                    
                    <div class="calendar__grid js-calendar--grid">
                        <div class="calendar__row clearfix">
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">S</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">M</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">T</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">W</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">Th</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">F</span>
                            </h4>
                        
                            <h4 class="calendar__cell h4">
                            <span class="calendar__item">S</span>
                            </h4>
                        
                        </div>
                        <div class="calendar__row clearfix">
                        
                            <h8 class="h8 empty last-month calendar__cell">
                            <span class="calendar__item"></span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-01 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">1</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-02 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">2</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-03 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">3</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-04 calendar-dow-4 calendar__cell">
                            <span class="calendar__item">4</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-05 calendar-dow-5 calendar__cell">
                            <span class="calendar__item">5</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-06 calendar-dow-6 calendar__cell">
                            <span class="calendar__item">6</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-07 calendar-dow-0 calendar__cell">
                            <span class="calendar__item">7</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-08 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">8</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-09 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">9</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-10 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">10</span>
                            </h8>
                        
                            <h8 class="h8 day past calendar-day-2017-05-11 calendar-dow-4 calendar__cell">
                            <span class="calendar__item">11</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-12 calendar-dow-5 calendar__cell selected">
                            <span class="calendar__item">12</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-13 calendar-dow-6 calendar__cell">
                            <span class="calendar__item">13</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-14 calendar-dow-0 calendar__cell">
                            <span class="calendar__item">14</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-15 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">15</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-16 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">16</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-17 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">17</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-18 calendar-dow-4 calendar__cell">
                            <span class="calendar__item">18</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-19 calendar-dow-5 calendar__cell">
                            <span class="calendar__item">19</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-20 calendar-dow-6 calendar__cell">
                            <span class="calendar__item">20</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-21 calendar-dow-0 calendar__cell">
                            <span class="calendar__item">21</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-22 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">22</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-23 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">23</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-24 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">24</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-25 calendar-dow-4 calendar__cell">
                            <span class="calendar__item">25</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-26 calendar-dow-5 calendar__cell">
                            <span class="calendar__item">26</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-27 calendar-dow-6 calendar__cell">
                            <span class="calendar__item">27</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-28 calendar-dow-0 calendar__cell">
                            <span class="calendar__item">28</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-29 calendar-dow-1 calendar__cell">
                            <span class="calendar__item">29</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-30 calendar-dow-2 calendar__cell">
                            <span class="calendar__item">30</span>
                            </h8>
                        
                            <h8 class="h8 day calendar-day-2017-05-31 calendar-dow-3 calendar__cell">
                            <span class="calendar__item">31</span>
                            </h8>
                        
                            <h8 class="h8 empty next-month calendar__cell">
                            <span class="calendar__item"></span>
                            </h8>
                        
                            <h8 class="h8 empty next-month calendar__cell">
                            <span class="calendar__item"></span>
                            </h8>
                        
                            <h8 class="h8 empty next-month calendar__cell">
                            <span class="calendar__item"></span>
                            </h8>
                        
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        

        <!-- START: SAMPLE CONTENT BELOW -->
        <section class="sample-section events-listing container module transition">
            <section class="events-listing-blocks block-container js-blocks" style="height:1000px;">
              <div class="block--item">
              </div>
              <div class="block--item">
              </div>
              <div class="block--item">
              </div>
              <div class="block--item block--item--noimage">
              </div>
          </section>
        </section>
        <section class="sample-section container module"></section>
        <section class="sample-section container module"></section>
        <!-- END: SAMPLE CONTENT BELOW -->

        
    </main>


    <script src="js/jquery.min.js"></script>
    <script src="js/modernizr-custom.js"></script>    
    
    <script src="js/calendar-scripts.js"></script>
</body>
</html>
