<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
<body class="section-calendar">
    {{> header }}

    <main>
        {{> calendar }}
        {{> events-listing }}
        {{> editorial }}
    </main>

    {{> footer }}
    {{> bottom }}
</body>
</html>
