<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
<body>
{{> header}}

<main class="page--collections">
    {{> hero hero=heroes.hero-full }}
    {{> collection-intro}}
    {{> grid }}
    {{> media-gallery }}
    {{> editorial }}
</main>

{{> footer }}

{{> bottom }}
</body>
</html>
