<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main>
      <h1 class="h2 container module">FE Bio</h1>
      
      <!-- BEGIN MODULE: BIO: text right -->
      <div class="bio js-bio container transition">
        {{> collection collection=collection.bio-text-right }}        
      </div>
      <!-- END MODULE: BIO: text right -->

      <!-- BEGIN MODULE: BIO: text left-->
      <div class="bio js-bio container transition">
        {{> collection collection=collection.bio-text-left }}        
      </div>
      <!-- END MODULE: BIO: text left -->

      


    </main>
    {{> bottom }}
  </body>
</html>
