<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main>
      <h1 class="h2 container">FE Blockquotes</h1>
      {{#each quotes as |blockquote|}}
      <section class="objects__section">
        <h2 class="h4 u-mar-b30 container">{{blockquote.type}} block:{{#if blockquote.title}} on {{else}} off{{/if}} </h2>
        {{> blockquote blockquote=blockquote }}
      </section>
      {{/each}}
    </main>
    {{> bottom }}
  </body>
</html>
