<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main class="container">
      <h1 class="h2">{{ pageTitle }}</h1>
      <section class="objects__section">
        {{#each breakers as |breaker|}}
          {{> breaker breaker=breaker }}
        {{/each}}
      </section>
    </main>
    {{> bottom }}
  </body>
</html>
