<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main class="container">
      <h1 class="h2">FE Circulation Module</h1>
      <section class="objects__section">
        {{#each circulation as |circulation|}}
        <h2 class="h4">{{circulation.numItems}} Items:</h2>
          {{> circulation circulation=circulation }}
        {{/each}}
      </section>
    </main>
    {{> bottom }}
  </body>
</html>
