<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main class="container">
      <h1 class="h2">FE Features</h1>
      <section class="objects__section">
        {{#each features as |feature|}}
          {{> collection collection=feature }}
        {{/each}}
      </section>
    </main>
    {{> bottom }}
  </body>
</html>
