<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main>
      <h1 class="h2 container">{{ pageTitle }}</h1>
      <section class="objects__section">
        <h2 class="h4 u-mar-b30 container">No Hero</h2>
        {{> general-article-header pageTitle='No hero' }}
      </section>
      {{#each heroes as |hero|}}
        <section class="objects__section">
          <h2 class="h4 u-mar-b30 container">{{ hero.title }}</h2>
          {{> hero hero=hero }}
          {{> general-article-header pageTitle=hero.title }}
        </section>
      {{/each}}
    </main>
  {{> bottom }}
  </body>
</html>
