<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
<body>
<main>
    <h1 class="h2 container">{{ pageTitle }}</h1>
    {{#each sections as |section|}}
        <section class="objects__section">
            <h2 class="h4 u-mar-b30 container">{{section.title}}</h2>
            {{> general-info gen-info=section}}
        </section>
    {{/each}}
</main>
{{> bottom }}
</body>
</html>
