<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
<body>
<main>
    <h1 class="h2 container">{{ pageTitle }}</h1>
    {{#each heroes as |hero|}}
        <section class="objects__section">
            <h2 class="h4 u-mar-b30 container">{{hero.title}}</h2>
            {{> exhibition-hero exhibition-hero=hero}}
        </section>
    {{/each}}
</main>
{{> bottom }}
</body>
</html>
