<!DOCTYPE html>
<html class="no-js" lang="en">
  <head> 
    {{> head }}
  </head>
  <body class="objects">
    <main class="container">
      <h1 class="h3">{{ pageTitle }}</h1>
      <section class="objects__section">
        <h2 class="h4">CTA</h2>
        {{> cta }}
      </section>
      <section class="objects__section">
        <h2 class="h4">Callout</h2>
        {{> callout }}
      </section>
      <section class="objects__section">
        <h2 class="h4">Textfield</h2>
        {{> textfield }}
      </section>
      <section class="objects__section">
        <h2 class="h4">Text Styling</h2>
        {{> text-styling }}
      </section>

      <section class="objects__section">
        <h2 class="h4">Text Styling : list</h2>
        <ul class="list">
          <li>Sample text</li>
          <li>Sample text</li>
          <li>Sample text</li>
          <li>Sample text</li>
          <li>Sample text</li>
        </ul>
      </section>
    </main>
    {{> bottom }}
  </body>
</html>
