<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
  <body>
    {{> header }}
    <main class="page--general-article">
      {{> hero hero=global.heroes.hero-full }}
      {{> general-article-header }}
      {{> article exhibition-hero=article }}
      {{> featured-video exhibition-hero=featured-video  }}
      {{> figures }}
      {{> cinematic-gallery cinematicGallery=module.cinematicGallery}}
      {{> related-stories }}
      {{> editorial }}
    </main>
    {{> footer }}
    {{> bottom }}
  </body>
</html>
