<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
  <body>
    {{> header }}
    <main class="page--give">
      {{> join-give-hero}}
      {{> join-give-intro }}
      {{> grid_titled}}
      {{> breaker }}
    </main>
    {{> footer }}
    {{> bottom }}
  </body>
</html>
