<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
<body>
{{> header hasTall=true }}
<main class="{{#if isHome}}homepage{{/if}}">
    {{> carousel-marquee }}
    {{> map }}

</main>
{{> footer }}

{{> bottom }}
</body>
</html>
