<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> header hasTall=true }}

    <main>
      {{> carousel-marquee }}
      {{> manifesto-dy }}
      {{> museum-details-dy }}
      {{> manifesto-loh }}
      {{> museum-details-loh }}
      {{> feature }}
      {{> blockquote }}
      {{> media-gallery }}
      {{> permanent-collections }}
      {{> breaker module }}
      {{> editorial }}
      {{> map }}
    </main>

    {{> footer }}

    {{> bottom }}
  </body>
</html>
