<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
    <style>
      h1 { padding-top: 20px; }
      h2 { margin-bottom: 20px; }
      li { margin-left: 20px; list-style: disc; }
    </style>
  </head>
  <body>
    <main class="container">
      <h1 class="h2 u-grey-dark" style="padding-top: 20px;">{{ siteName }}</h1>
      <section class="objects__section">
        <h2 class="h6 u-highlight" style="margin-bottom: 20px;">Pages</h2>
        <ul>
        {{#each pages as |page|}}
            <li><a href="{{page.url}}.html" target="_blank">{{page.title}}</a></li>
        {{/each}}
        </ul>
      </section>

      <section class="objects__section">
        <h2 class="h6 u-highlight" style="margin-bottom: 20px;">Style Guide</h2>
        <ul>
        {{#each styleguides as |styleguide|}}
            <li><a href="fe-{{styleguide.url}}.html" target="_blank">{{styleguide.title}}</a></li>
        {{/each}}
        </ul>
      </section>
    </main>
    {{> bottom }}
  </body>
</html>
