<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> header isLanding=true }}

    <main class="page--landing">
      {{> landing-hero }}
      {{> breaker }}
      {{> media-gallery }}
      {{> map }}
    </main>

    {{> landing-footer }}

    {{> bottom }}
  </body>
</html>
