<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
  <body>
    {{> header }}
    <main class="page--regular-exhibitions">
      {{> exhibition-hero }}
      {{> body }}
      {{> breaker module }}
      {{> bio }}
      {{> editorial }}
      {{> cinematic-gallery cinematicGallery=global.modules.cinematicGallery}}
      {{> general-info}}
    </main>
    {{> footer }}
    {{> bottom }}
  </body>
</html>
