<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
  <body>
    {{> header }}
    <main class="page--special-exhibitions">
      {{> exhibition-hero }}
      {{> body }}
      {{> special-ticket }}
      {{> bio }}
      {{> editorial }}
      {{> featured-video exhibition-hero=featured-video }}
      {{> cinematic-gallery cinematicGallery=global.modules.cinematicGallery}}
      {{> related-events }}
      {{> press }}
      {{> blockquote }}
      {{> general-info }}
    </main>
    {{> footer }}
    {{> bottom }}
  </body>
</html>
