<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    {{> head }}
</head>
  <body>
    {{> header }}
    <main class="page--visit-us">
      {{> hero hero=global.heroes.hero-2block }}
      {{> visit-notification }}
      {{> visit-intro }}
      {{> visit-ticket }}

      {{> related-events-small }}
      {{> map }}
      {{> feature-single-collection }}

      {{> breaker module }}
      {{> cinematic-gallery cinematicGallery=module.cinematicGallery}}
      {{> circulation }}
      {{> general-info}}
    </main>
    {{> footer }}
    {{> bottom }}
  </body>
</html>
