<!-- BEGIN PARTIAL: HEAD ITEMS -->
<title>{{ pageTitle }} | {{ siteName }}</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="stylesheet" href="css/main.css">
<script src="https://use.typekit.net/{{ typekitID }}.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<!-- END PARTIAL: HEAD ITEMS -->
