/*------------------------------------------------------------------*\
  FONT FAMILY
    for font families refer to settings/_fonts.scss -> $fonts map
    example usages:
      font-family: font(riccione, xlight);
      font-family: font(freight, 400);
\*------------------------------------------------------------------*/
@function font($font, $default: 'default') {
  @if map-has-key($fonts, $font) {
    @return #{map-get(map-get($fonts, $font), $default)};
    // font-size: rem($size);
  } @else {
    @warn "Unknown '#{$font}' in $fonts.";
    @return null;
  }
}

/*------------------------------------------------------------------*\
  COLORS
    for color selection
    usage:
      background-color: color(white);
\*------------------------------------------------------------------*/
@function color($name, $tone: 'base') {
  @if map-has-key($colors, $name) {
    @return map-get(map-get($colors, $name), $tone);
  } @else {
	  @warn "Unknown '#{$name}' in $colors.";
	  @return null;
	}
}

/*------------------------------------------------------------------*\
  Z INDICES
    for z index management
    usage:
      z-index: z(header);
\*------------------------------------------------------------------*/
@function z($layers...) {
  @if not map-has-nested-keys($z-layers, $layers...) {
    @warn "No layer found for `#{inspect($layers...)}` in $z-layers map. Property omitted.";
  }
 
  @return map-deep-get($z-layers, $layers...);
}

@function map-has-nested-keys($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return false;
    }
    $map: map-get($map, $key);
  }
  
  @return true;
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
 
  @return $map;
}
