@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*---------------------------------------------------------------*\
  RESPONSIVE PROPERTY HANDLER
    handles the per-breakpoint property for mobile-first approach

    note: requires a key-less 'breakpoints' scss map
          e.g. $breakpoints: ( 320px, 760px, 1080px, 1280px );

    usage:
      @include respond(
        (display, none, block, flex),
        (margin-top, null, 10px, 20px)
      );
\*---------------------------------------------------------------*/

@mixin respond($args...) {
  @for $i from 1 through length($breakpoints) { // loop through all the breakpoints
    @if $i == 1 { // if the loop is in the smallest breakpoint
      @for $j from 1 through length($args) { // loop through all the properties
        @if( unquote("#{nth(nth($args, $j), 2)}") != null ) {
          #{nth(nth($args, $j), 1)} : unquote("#{nth(nth($args, $j), 2)}"); // apply value to the property
        }
      }
    } @else { // if the loop is not in the smallest breakpoint
      @media (min-width: #{nth($breakpoints, $i)}) { // set mediq query
        @for $j from 1 through length($args) { // loop through all the properties
          @if $i < length(nth($args, $j)) { // check if the number of values is less than the number of breakpoints
            @if( unquote("#{nth(nth($args, $j), $i+1)}") != null ) {
              #{nth(nth($args, $j), 1)} : unquote("#{nth(nth($args, $j), $i+1)}"); // apply value to the property
            }
          }
        }
      }
    }
  }
}

@mixin sgs-row {
  @include clearfix;
  margin: 0 $page-margin-small;
  max-width: $page-max-width - $page-margin-large * 2;
  position: relative;
  width: auto;

  @include breakpoint($bp-medium) {
    margin: 0 $page-margin-medium;
  }

  @include breakpoint($bp-large) {
    margin: 0 $page-margin-large;
  }

  @include breakpoint($bp-xlarge) {
    margin: 0 $page-margin-xlarge;
  }

  // @include sgs-change('debug', true);
  // @include background-grid($color: blue);
}

// Text for screen reader
@mixin screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.screen-reader-text {
  @include screen-reader-text;
}

//ASPECT RATIO
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

// Center element horizontally and vertically
@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin color-overlay($color: #000, $opacity: 1) {
  &:before {
    background-color: rgba($color, $opacity);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

// Remove page margin from sgs row
@mixin remove-sgs-row-margin {
  @include respond(
    ('margin-left', -$page-margin-small, -$page-margin-medium, -$page-margin-large),
    ('margin-right', -$page-margin-small, -$page-margin-medium, -$page-margin-large)
  );
}

// Content container
@mixin container($max-width: $page-max-width) {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  position: relative;
}
