.article__media {
  @include respond(
    (margin-top, 38px, 48px, 58px),
    (margin-bottom, 38px, 48px, 58px)
  );

  position: relative;

  img {
    display: block;
    width: 100%;
  }

  .media-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__caption {
    margin-top: 20px;
    font-style: italic;
    color: color(text, secondary);
  }
}

@include breakpoint($bp-medium) {
  .article {
    //@include grid-span(10,3);

    >p,
    >ul,
    >ol,
    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6{
      @include grid-span(10,3);
    }

    &__media {
      @include grid-span(11,2)
    }
  }
}

@include breakpoint($bp-large) {
  .article {

    >p,
    >ul,
    >ol,
    >h1,
    >h2,
    >h3,
    >h4,
    >h5,
    >h6{
      @include grid-span(9,4);
    }

    &__media {
      @include grid-span(10,3)
    }
  }
}
