.collection--bio {

  .collection__hero {
    .media-bg {
      @include respond(
      ('margin-left', null, 0 ),
      ('width', null, 100%)
    );
    }
  }

  .collection__title {
    @include respond(
      ('text-align', center, left)
    );
  }

  .collection__caption {
    @include respond(
      ('margin-bottom', 30px, 130px)
    );
    margin-top: 20px;

    &:after { top: - 43px; }
  }

  .collection__body {
    @include respond(
      ('max-height', 220px,null,292px, 456px)
    );

    overflow: hidden;
    transition: max-height 1s ease-in-out;

    &.is-expanded {
      max-height: 100%;
      transition: max-height 1s ease-in-out;
    }

    p {
      @include respond(
        ('margin-bottom', 22px,null,24px)
      );
    }
  }
}


// gallery items

.collection__gallery {
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  position: absolute;
  opacity: 0;
  z-index: -1;

  &:last-of-type .collection__caption {
    @include respond(
      ('margin-bottom', 130px,null, 0)
    );
  }

  @include breakpoint($bp-medium){
    .bio.is-expanded & {
      visibility: visible;
      position: relative;
      z-index: 10;
      opacity: 1;
    }
  }
}


// modifier
.collection--bio.collection--text-left {
  .collection__title,
  .collection__caption,
  .collection__body {
    text-align: right;
  }

  .collection__title,
  .collection__text {
    float: none;
    display: inline-block;
  }
}

.collection--bio {
  .collection__title {
    @include breakpoint($bp-large){
      margin-bottom: 19px;
    }
    &.line {
      @include respond(
                      ('margin-top', 30px, 105px, 150px)
      );

      &:before, &:after {
        @include respond(
                        ('top', -53px, -41px, -48px)
        );
      }
    }
  }
  .collection__gallery {
    &.u-cl {
      @include breakpoint($bp-large) {
        margin-top: -28px;
      }
    }
  }
  .media-bg {
    @include aspect-ratio(4,3);
  }
}
