// SGS config;
.blockquote__bg {
  @include grid-span(6);
  margin: 0;
}

@include breakpoint($bp-medium) {

  .blockquote__bg {
    @include grid-span(6);
    margin: 0;
  }

  .blockquote__title {
    @include grid-span(3);
    margin: 0;
  }

  .blockquote__text {
    @include grid-span(9);
    margin: 0;
  }
  
  // Modifier: WYSIWYG BLOCK
  .blockquote--wysiwyg {
    .blockquote__bg {
      @include grid-span(5,2);
      padding: 0;
    }

    .blockquote__title, .blockquote__text {
      @include grid-span(9);
      margin: 0;
      margin-left: auto;
    } 
  }

  // Modifier: GIVE/JOIN BLOCK
  .blockquote--give-join {
    .blockquote__sections {
      @include grid-span(8,3);
    }

    .blockquote__bg {
      @include grid-span(7.4);
      padding: 0;
    }

    .blockquote__title, .blockquote__text {
      @include grid-span(10.4);
      margin: 0;
      margin-left: auto;
    }
  }
  
}
@include breakpoint($bp-large) {
  .blockquote__bg {
    @include grid-span(5);
    margin: 0;
  }
  
  .blockquote__title {
    @include grid-span(2,2);
  }

  // Modifier: WYSIWYG BLOCK
  .blockquote--wysiwyg {
    .blockquote__bg {
      @include grid-span(5,3);
      padding: 0;
    }

    .blockquote__title, .blockquote__text {
      @include grid-span(8);
      margin: 0;
      margin-left: auto;
    } 
  }

}

// comps styling
.blockquote { 
  @include clearfix();
}

.blockquote__sections {
  @include respond(
    ('padding', 50px 0, 60px 0, 80px 0),
    ('margin-bottom', 44px, null, 60px)
  );

  position: relative;
}

.blockquote__inner {
  position: relative;
}

.blockquote__bg {
  @include respond(
    ('margin-left', -20px, -40px, 0),
    ('padding-left', 40px, 40px, 0)
  );

  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0, .5);
  height: 100%;
  z-index: 0;
  background: color(bg, quote);

  &:before {
    content:"";
    position: absolute;
    right:23%;
    top:100%;
    width: 0;
    height: 0;
    border-top: 44px solid color(bg, quote);
    border-right: 54px solid transparent;
    transform: skew(-10deg, 0);

    @include breakpoint($bp-large){
      border-top-width: 60px;
      border-right-width: 70px;
    }
  }
}

.blockquote__title {
  @include respond(
    ('padding-top', 0, 8px)
  );
  padding-bottom:20px;
} 

.blockquote__byline {
  @include respond(
    ('margin-top', 20px, 30px, 35px)
  );
}

