.body-module {
  .body-module-content {
    @include grid-span(6,1);
    height: auto;
    max-height: calc(22px * 7);
    overflow: hidden;
    margin-bottom: 27px;
    transition-duration: 500ms;
    @include breakpoint($bp-medium){
      @include grid-span(11,1);
      height: auto;
      max-height: none;
      margin-bottom: 0;
    }
    @include breakpoint($bp-large){
      @include grid-span(9,2);
    }

    strong {
      font-weight: 700;
    }
    p {
      margin-bottom: 25px;
    }

    &.open {
      max-height: 2000px;
      @include breakpoint($bp-medium){
        max-height: none;
      }
    }
  }
  .showmore-cta {
    display: inline-flex;
    @include breakpoint($bp-medium){
      display: none;
    }
  }

}