.breaker__sections {
  @include respond(
    ('padding', 60px 0, 80px 0, 100px 0)
  );
  position: relative;
}

.breaker__hero {
  &, &:after {
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
  }
  overflow: hidden;


  .media-bg {
    height: 100%;
    filter: grayscale(100%);
  }

  &:after {
    content: "";
    width: 100%;

    transition: opacity 200ms ease;
  }
}

.breaker__text {
  position: relative;

  a:hover {
    color: color(text, white);
  }
}

.breaker__text.u-white {

  a:hover {
    color: color(text, charcoal)
  }
}

.breaker__title {
 @include respond(
    ('margin-bottom', 20px, 30px, 40px)
  );
}
