.calendar {
  @include clearfix;
  @include respond(
    ('min-height', 0, 515px, 597px)
  );
  position: relative;
  overflow: hidden;
}

.calendar__inline,
.calendar__fixed {
  @include respond(
    ('width', 100%, calc(100% - (#{$page-margin-medium} * 2)), calc(100% - (#{$page-margin-large} * 2)), $bp-xlarge),
    ('min-height', 384px, 0),
    ('bottom', -328px, auto),
    ('position', fixed, relative),
    ('transition', bottom 200ms ease, left 200ms ease)
  );
  z-index: 91;
}

.calendar__inline {
  @include respond(
    ('display', none, block),
    ('margin', 0, 0 $page-margin-medium, 0 $page-margin-large, 0 $page-margin-xlarge)
  );
}

.calendar__fixed {
  @include respond(
    ('bottom', -329px, auto),
    ('left', null, 101vw),
    ('width', null, null, null, 1320px),
    ('transition', bottom 200ms ease, left 200ms ease)
  );
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);

  &.calendar--show {
    @include respond(
      ('bottom', -329px, auto),
      ('left', null, calc(100% - 90px), calc(100% - 120px))
    );
  }

  &.calendar--open {
    @include respond(
      ('bottom', 0, auto),
      ('left', null, calc(#{percentage(116/1001)} + #{$page-margin-medium}), calc(#{percentage(116/1001)} + #{$page-margin-large}), calc(166px + (100vw - 1320px) / 2))
    );
  }

  &.calendar--hidden {
    @include respond(
      ('bottom', -384px, auto),
      ('left', null, 101vw)
    );
  }
}

.calendar__wrapper {
  @include clearfix;
  @include respond(
    ('width', 100%, percentage(805/921))
  );
  background: $color-2;
  opacity: 0.95;
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: $color-2;
    top: 0;
    left: 100%;
  }

  .calendar__inline & {
    @include respond(
      ('margin-left', null, percentage(116/921)),
      ('padding-top', 55.5px, 130px),
      ('padding-bottom', 55.5px, 64px)
    );
  }

  .calendar__fixed & {
    padding: 80px 0;
    position: absolute;
    opacity: 0.95;
    transition: right 200ms ease, opacity 200ms ease;
  }

  .calendar--open & {
    @include respond(
      ('height', 384px, auto)
    );
  }
}

.clndr {
  @include clearfix;
}

.calendar__title {
  @include respond(
    ('width', 100%, null),
    ('min-width', null, 274px, 326px),
    ('transform', null, rotate(-90deg)),
    ('margin-top', -6px, 0),
    ('margin-left', null, -12px),
    ('top', 0, 100%),
    ('bottom', auto, 0),
    ('left', 0, auto),
    ('right', 0, auto)
  );
  position: absolute;
  transform-origin: left top 0;
  color: $color-white;
  text-align: center;

  .calendar__date {
    @include respond(
      ('display', inline, none)
    );

    .calendar__fixed & {
      @include respond(
        ('display', null, inline)
      );
    }

    .calendar--open & {
      @include respond(
        ('display', none, none)
      );
    }
  }

  .calendar__month {
    @include respond(
      ('display', none, inline)
    );

    .calendar__fixed & {
      @include respond(
        ('display', null, none)
      );
    }

    .calendar--open & {
      @include respond(
        ('display', inline, inline)
      );
    }
  }
}

.calendar__open {
  @include respond(
    ('width', 100%, 90px, 120px),
    ('height', 56px, 100%),
    ('left', 0, 40px, 60px),
    ('right', 0, auto),
    ('display', flex, none),
    ('justify-content', center, left),
    ('padding-top', 24px, 0)
  );
  position: absolute;
  top: 0;
  cursor: pointer;

  .calendar__fixed & {
    @include respond(
      ('display', null, flex),
      ('align-items', null, center),
      ('left', null, 0),
      ('padding-left', null, 52px, 64px)
    );
  }

  .calendar--open & {
    @include respond(
      ('display', null, none)
    );
  }

  svg {
    @include respond(
      ('stroke-width', 4px, 2px),
      ('stroke', $color-white, $color-5),
      ('transform', rotate(90deg), rotate(0)),
      ('width', 12px, 24px),
      ('height', 30px, 60px)
    );
    fill: none;

    .calendar--open & {
      @include respond(
        ('transform', rotate(-90deg), rotate(0))
      );
    }
  }
}

.calendar__close {
  @include respond(
    ('right', null, -5px, 15px, 0),
    ('top', null, 28px),
    ('width', null, 22px, 24px),
    ('height', null, 22px, 24px)
  );
  display: none;
  position: absolute;
  cursor: pointer;

  .calendar--open & {
    @include respond(
      ('display', none, block)
    );
  }

  svg {
    fill: $color-white;
    width: 100%;
    height: 100%;
  }
}

.calendar__head {
  @include respond(
    ('position', absolute, static),
    ('width', 100%, null),
    ('bottom', 40px, auto),
    ('display', none, block)
  );

  @include breakpoint($bp-medium) {
    @include grid-span(2, 1, 10);
  }

  .calendar__fixed & {
    @include respond(
      ('display', block, none)
    );
  }

  .calendar--open & {
    @include respond(
      ('display', block, block)
    );
  }
}

.calendar__nav {
  @include respond(
    ('min-height', null, 274px, 326px),
    ('flex-direction', row, column-reverse),
    ('position', null, relative),
    ('left', null, -3px, -6px)
  );
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint($bp-medium) {
    @include grid-span(1, 2, 2);
  }
}

.calendar__link {
  @include respond(
    ('width', 15px, 32px, 40px),
    ('height', 37.5px, 80px, 100px),
    ('margin', 0 25px, 0 auto)
  );
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 200ms ease;

  &:hover {
    opacity: 1;

    svg {
      fill: none;
    }
  }

  svg {
    @include respond(
      ('stroke-width', 4px, 2px)
    );
    stroke: $color-white;
    fill: none;
    width: 100%;
    height: 100%;
  }
}

.calendar__grid {
  @include respond(
    ('position', null, relative),
    ('left', null, -28px, -32px),
    ('visibility', hidden, visible)
  );
  width: calc(100% - 40px);
  margin: 0 20px;

  @include breakpoint($bp-medium) {
    @include grid-span(7, 4, 10);
    margin: 0 auto;
  }

  @include breakpoint($bp-large) {
    @include grid-span(7, 3, 10);
  }

  .calendar__fixed & {
    @include respond(
      ('visibility', hidden, hidden)
    );
  }

  .calendar--open & {
    @include respond(
      ('visibility', visible, visible)
    );
  }

  h4 {
    color: $color-5;
  }

  h8 {
    color: $color-white;
  }
}

.calendar__row {
  @include clearfix;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  &:first-child {
    @include respond(
      ('margin-bottom', 5px, 16px, 28px)
    );
  }

  &:last-child {
    font-weight: 300;

    .calendar__cell:nth-child(n+8) {
      @include respond(
        ('margin-top', 3px, 12px, 12px)
      );
    }
  }

  h8 {
    font-weight: 400;
  }
}

.calendar__cell {
  width: calc(1/7 * 100%);
  min-height: 1px;
  text-align: center;

  @include breakpoint($bp-medium) {
    @include float-span(1, $grid: 7);

    &:nth-child(7n+7) {
      @include float-span(1, 'last', $grid: 7);
    }
  }

  &.day {
    cursor: pointer;
  }

  &.day:hover,
  &.selected {
    .calendar__item {
      background: $color-white;
      color: $color-1;
      font-weight: bold;
    }
  }
}

.calendar__item {
  @include respond(
    ('width', 30px, 35px, 45px),
    ('height', 30px, 35px, 45px)
  );
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 200ms ease;
}

.section-calendar .footer {
  @include respond((margin-bottom, 56px, 0));
}
