.carousel-marquee__item {
  @include respond(
    ('height', 575px, 718px, 965px)
  );
  @include color-overlay(#000, 0.25);

  &:before {z-index: 2;}

  position: relative;

  &.carousel-marquee__item--announcement-1 {
    @include color-overlay(color(bg, announcement1), 0.8);
  }

  &.carousel-marquee__item--announcement-2 {
    @include color-overlay(color(bg, announcement2), 0.8);
  }

  &.carousel-marquee__item--announcement-3 {
    @include color-overlay(color(bg, announcement3), 0.8);
  }
}

.carousel-marquee__item-image {
  position: relative;
  height: 100%;
  z-index: 1;

  .carousel-marquee__item--announcement & {
    filter: grayscale(100%);
  }

  img {
    display: none !important;
  }
}

.carousel-marquee__item-content {
  @include respond(
    (width, calc(100% - #{$page-margin-small} * 2), calc(100% - #{$page-margin-medium} * 2), calc(100% - #{$page-margin-large} * 2))
  )

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 3;

  @include breakpoint($bp-xlarge) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.carousel-marquee__item-content-inner {
  @include respond(
    ('bottom', 130px, 140px, 220px)
  );
  position: absolute;

  @include breakpoint($bp-medium) {
    @include grid-span(10, 1);
  }

  .carousel-marquee--single & {
    @include respond(
      ('bottom', 55px, 140px, 220px)
    );
  }

  .carousel-marquee__item--announcement & {
    @include respond(
      ('bottom', 130px, 130px, 210px)
    );

    @include breakpoint($bp-medium) {
      @include grid-span(11, 1);
    }
  }
}

.carousel-marquee__item-tag {
  @include h8;
  color: color(text, white);

  .carousel-marquee__item--announcement-1 & {
    color: color(text, announcement1)
  }

  .carousel-marquee__item--announcement-2 & {
    color: color(text, announcement2)
  }

  .carousel-marquee__item--announcement-3 & {
    color: color(text, announcement3)
  }
}

.carousel-marquee__item-title {
  @include respond(
    ('margin-top', 15px, 20px, 25px)
  );
  @include h2;
  color: color(text, white);

  .carousel-marquee__item--announcement & {
    @include respond(
      ('margin-top', 10px, 15px, 20px)
    );
  }

  .carousel-marquee__item--announcement-1 & {
    color: color(text, announcement1)

    :hover {
      color: color(text, white);
    }
  }

  .carousel-marquee__item--announcement-2 & {
    color: color(text, announcement2)

    :hover {
      color: color(text, charcoal);
    }
  }

  .carousel-marquee__item--announcement-3 & {
    color: color(text, announcement3)

    :hover {
      color: color(text, announcement4);
    }
  }
}

.carousel-marquee__item-cta {
  @include respond(
    ('margin-top', 15px, 20px, 25px)
  );
}
