.cinematic-gallery {
  overflow: hidden;
  position: relative;

  .h4 {
    text-align: center;
    @include respond(
      ('margin-bottom', 26px, 39px, 54px)
    );
  }

  .cinematic-gallery--items {
    width: percentage(882/1001);
    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
      width: percentage(1001/882) - 100%;
      height: 100%;
      background: rgba($color-2,0.7);
      z-index: 5;

    }

    .gallery-item {
      @include aspect-ratio(16,9);
      width: 100%;
      background-size: cover;
      border-right: 2px $color-white solid;
      outline: none;

      &.video .hero__gallery-btn {
        display: none;
      }

      .slideInject {
        width: 100%;
        height: 100%;
        position: absolute;
        left: calc(100% + 2px);
        top: 0;
        background: #000;
        background-size: cover;
      }

      .caption {
        position: absolute;
        left: 0;
        top: 100%;
        @include body();
        color: $color-7;
        font-style: italic;
        @include respond(
                        ('padding-top', 15px, 23px, 23px),
                        ('padding-left', 50px, 28px, 38px),
                        ('padding-right', 20px, 28px, 38px)
        );
        opacity: 0;

      }

    }

    .slick-list {
      overflow: visible;
    }

    .slick-arrow {
      position: absolute;
      z-index: 6;
      outline-width: 0;
      @include centerer(false, true);
      @include respond(
                      ('bottom', 50px, auto),
                      ('height', 30px, 60px, 100px),
                      ('right', auto, $page-margin-medium, $page-margin-large)
      );
      width: percentage(1001/882) - 100%;
      @include breakpoint($bp-medium) {
        @include centerer(false, true);
      }

      &:hover {
        svg {
          stroke: color(sliderArrow3, base);

          .can-touch & {
            stroke: color(sliderArrow3, base);
          }
        }
      }

      svg {
        height: 100%;
        fill: none;
        stroke-width: 5;
        stroke: $color-white;
        width: 100%;
        @include breakpoint($bp-medium) {
          stroke-width: 3;
        }
      }
    }

    .slick-next {
      @include respond(
                      ('left',100%),
                      ('margin-top',percentage(-10/100),percentage(-8/100), percentage(-8/100))
      );
    }

    .slick-prev {
      @include respond(
                      ('left',100%),
                      ('margin-top',percentage(10/100),percentage(8/100), percentage(8/100))
      );
    }
  }

  .gallery-controls__numbers {
    position: absolute;
    @include respond(
      ('left', $page-margin-small, percentage(882/1001) ),
      ('top', auto ),
      ('margin-top',calc((1/2) * 100vw ),calc((1/2.01) * 50% - 10px ),calc((1/2.01) * 50% - 10px )),
      ('padding-top', 12px, 0),
      ('font-weight', 700),
      ('color', $color-black, $color-white),
      ('letter-spacing', -2px, 0px,0),
      ('width', auto,100% - percentage(882/1001))
    );
    z-index: 7;
    text-align: center;
  }

  .cinematic-gallery--caption {
    em{
      display: block;
      color: $color-7;
      font-style: italic;
      @include respond(
                      ('padding-left', calc(#{$page-margin-small} * 2 + 10px),$page-margin-medium,$page-margin-large),
                      ('padding-right', $page-margin-small ,$page-margin-medium,$page-margin-large),
                      ('padding-top', 15px, 23px, 23px)
      );
    }
  }
}
