.circulation {
  @include clearfix;
  @include respond(
                  ('margin-bottom', 60px - 20px, 60px - 50px, 80px - 60px)
  );

  max-width: calc(420px + #{gutter-span()} + #{$page-margin-small} * 2);
  margin-left: auto;
  margin-right: auto;
  padding-right: $page-margin-small;
  padding-left: $page-margin-small;

  &.two-up {
    .circulation__item:last-child {
      margin: 0;
    }
  }

  &__item {
    display: block;
    float: left;
    width: 50% - gutter-span() / 2;
    max-width: 210px;
    height: 134px;
    padding: 20px 10px;
    margin-bottom: 20px;
    border-color: color(border, 25);
    border-style: solid;
    @include respond(
                    ('border-width', $line-border-width 0 0 $line-border-width,$line-border-width 0 0 $line-border-width,$line-border-width-large 0 0 $line-border-width-large)
    );

    &:nth-of-type(odd) {
      margin-right: gutter-span();
    }

    a {
      @include h6;
      color: color(text, secondary);
      text-decoration: none;

      &:hover {
        color: color(text, base);
        text-decoration: underline;
      }
    }
  }

  @include breakpoint($bp-medium) {
    max-width: 1320px;
    margin-left: $page-margin-medium;
    margin-right: $page-margin-medium;

    &__item {
      $gutter-width: gutter-span();

      width: calc(33.333% - 40px - #{$gutter-width} / 2);
      max-width: none;
      height: 176px;
      padding: 30px 20px;
      margin-right: calc(#{$gutter-width} + 40px);
      margin-bottom: 50px;

      &:nth-of-type(odd) {
        margin-right: calc(#{$gutter-width} + 40px);
      }

      &:nth-of-type(3n+0) {
        margin-right: 0;
      }
    }

    &.two-up {
      font-size: 0;
      text-align: center;

      .circulation__item {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        float: none;
      }

      .circulation__item:last-child {
        margin: 0;
      }
    }
  }

  @include breakpoint($bp-large) {
    margin-left: $page-margin-large;
    margin-right: $page-margin-large;
    
    &__item {
      $gutter-width: gutter-span();

      width: calc(33% - 40px - #{$gutter-width} / 2);
      height: 215px;
      margin-right: calc(#{$gutter-width} + 40px);
      margin-bottom: 60px;

      &:nth-of-type(odd) {
        margin-right: calc(#{$gutter-width} + 40px);
      }

      &:nth-of-type(3n+0) {
        margin-right: 0;
      }
    }
  }

  @include breakpoint($bp-xlarge) {
    margin-left: auto;
    margin-right: auto;
  }
}
