//comp styling
.editorial__title {
  @include respond(
    ('text-align', null, center),
    ('margin-bottom', 35px, 60px, 70px)
  );

  h1 {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: block;
    @include breakpoint($bp-medium) {
      width: auto;
    }
  }

  span {
    @include respond(
      ('padding', 0 10px 0 0, 0 30px, 0 40px)
    );
    display: inline-block;
  }

  // line styling
  &, & span {
    position: relative;

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: $line-border-width / -2;
      background: color(border,line);

      @include breakpoint($bp-large){
        margin-top: $line-border-width-large / -2;
      }
    }
  }

  &:before, &:after {
    @include respond(
      ('height', 55px, 190px, 230px)
    );
    width: $line-border-width;
    @include breakpoint($bp-large){
      width: $line-border-width-large;
    }
  }
  &:before {
    left: $line-border-width / -2;
    @include breakpoint($bp-large){
      left: $line-border-width-large / -2;
    }
  }
  &:after {
    right: 0;
    @include breakpoint($bp-medium){
      right: $line-border-width / -2;
    }
    @include breakpoint($bp-large){
      right: $line-border-width-large / -2;
    }
  }

  span {
    &:before, &:after {
      width: calc(100vw - 0px);
      height: $line-border-width;
      @include breakpoint($bp-large){
        height: $line-border-width-large;
      }
    }
    &:before { right: 100%; }
    &:after { left: 100%; }
  }
}

.editorial__items {
  position: relative;
  @include respond(
    ('padding',null, 0 17px)
  );
}

.editorial__item__hero {
  @include respond(
    ('margin-bottom', 17px, 15px, 22px)
  );
}

.editorial__item__title, .editorial__item__category {
  @include respond(
    ('margin-bottom', 20px, null, 20px)
  );
}



.editorial__item__title {
  @include h6;

  position: relative;
  padding: 25px 0 0 25px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: (2 / 3) * 100%;
    top: 0;
    z-index: -1;
    box-shadow: color(border,25) $line-border-width $line-border-width 0 inset;

    @include breakpoint($bp-large){
      box-shadow: color(border,25) $line-border-width-large $line-border-width-large 0 inset;
    }
  }
}

.editorial__item__body {
  padding-left: 25px;
}

.editorial__item__hero + .editorial__item__text {
  .editorial__item__title {
    padding: 0;
    &:before { display: none; }
  }
  .editorial__item__body {
    padding-left: 0;
  }
}

// small breakpont only
@media (max-width: $bp-medium - 1 ){
  .editorial {
    overflow: visible;
    //margin-right:0;
    height: auto;
  }
  .editorial__scroll--container {
    overflow: hidden;

    margin-left: -$page-margin-small;
    margin-right: -$page-margin-small;
  }

  .editorial__scroll {
    @include clearfix();
    width: 100vw;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 60px;
    z-index: 0;
    margin-bottom: -60px;

    &::-webkit-scrollbar { width: 12px; }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
      -webkit-border-radius: 10px; border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: rgba(255,0,0,0);
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    }
    &::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(255,0,0,0);
    }


  }

  .editorial__items {
    @include grid-span(14);
    margin: 0;
    padding: 0 20px;
  }

  .editorial__item {
    @include grid-span(2.1);
    margin: 0;
  }

  .editorial__title {
    &, & span {
      &:before {
        display: none;
      }
    }

    &:after {
      @include respond(
        ('height', $editorial-title-line-height, null, null)
      );
    }
  }
}
