.events-listing {
  @include respond(
    ('margin-top', 120px, 0)
  );

  &::before {
    @include respond(
      ('height', 128px, 250px)
    );
    border-bottom: 0;
  }

  h3 {
    @include respond(
      ('padding-bottom', 35px, 50px, 70px)
    );

    span::after {
      left: calc(100% + 10px);

      @include breakpoint($bp-medium) {
        left: calc(100% + 40px);
      }
    }
  }
}

.events-listing__filter {
  @include respond(
    ('display', none, flex)
  );
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.events-listing__filter__cell {
  @include respond(
    ('width', percentage(252/280), percentage(368/921))
  );
}

.events-listing__filter__label {
  @include respond(
    ('margin-bottom', 10px, 15px, 10px)
  );
  display: block;
  letter-spacing: 0.06em;
}

.events-listing__date {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid $color-2;
  height: 60px;
}

.events-listing__date__prev,
.events-listing__date__next {
  height: 24px;
  padding: 0 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;

  svg {
    width: 12px;
    height: 24px;
    fill: $color-white;
    stroke-width: 8px;
    stroke: $color-1;
  }

  &:hover {
    svg {
      fill: $color-1;
    }
  }
}

.events-listing__date__prev {
  left: 0;
}

.events-listing__date__next {
  right: 0;
}

.events-listing__date__label {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.events-listing__date__label--updating {
  opacity: 0;
}
