.exhibition-hero {}
.exhibition-hero--content {
  position: relative;
  @include respond(
    ('height', 280px, 420px, 580px)
  );
  background-size: cover;
  background-position: center top;

  html.cssclippathpolygon & {
    @include respond(
      ('clip-path',
        polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - #{$page-margin-small}) 100%, calc(100% - #{$page-margin-small}) calc(100% - 30px), 0% calc(100% - 30px)),
        polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 100px) 100%, calc(100% - 100px) calc(100% - 40px), 0% calc(100% - 40px)),
        polygon(0% 0%, 100% 0%, 100% 100%, percentage(830/1001) 100%, percentage(830/1001) calc(100% - 60px), 0% calc(100% - 60px))
      )
    );
  }

  html.cssclippathpolygon .special & {
    @include respond(
      ('clip-path',
        polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - #{$page-margin-small}) 100%, calc(100% - #{$page-margin-small}) calc(100% - 40px), 0% calc(100% - 40px)),
        polygon(0% 0%, 100% 0%, 100% 100%, calc(100% - 100px) 100%, calc(100% - 100px) calc(100% - 60px), 0% calc(100% - 60px)),
        polygon(0% 0%, 100% 0%, 100% 100%, percentage(830/1001) 100%, percentage(830/1001) calc(100% - 60px), 0% calc(100% - 60px))
      )
    );
  }

  html:not(.cssclippathpolygon) &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: $global-page-background;
    display: block;
    z-index: 5;
    border-bottom: 1px solid #fff;

    @include respond(
      ('height', 30px, 40px, 60px),
      ('width',percentage(300/320),calc(100% - 100px),percentage(830/1001))
    );
  }

  html:not(.cssclippathpolygon) .special &:before {
    @include respond(
      ('height', 40px, 60px, 60px)
    );
  }
  .special & {
    @include respond(
      ('height', 500px, 640px, 700px)
    );
    &::before {
      @include respond(
        ('height', 40px, 60px, 60px)('background-position', 0 7px, 0 2px, 0 2px)
      );
    }
  }
}
.exhibition-hero--item {
  position: relative;
  z-index: 5;
  @include respond(
    ('margin-top', -5px, -15px, -15px)
  );
  .special & {
    @include respond(
      ('margin-top', -15px, -33px, -12px)
    );
  }
}
.exhibition-hero--text{
  @include grid-span(5.2);
  @include breakpoint($bp-medium){
    @include grid-span(11);

  }
  @include breakpoint($bp-large){
    @include grid-span(9,2);

  }
  h3 {
    @include respond(
      ('margin-bottom', 30px, 40px, 50px)
    );
  }
  h4 {
    color: $color-1;
    @include respond(
      ('margin-bottom', 5px, 16px, 16px)
    );
  }

  .special & {
    h3 {
      @include respond(
        ('margin-bottom', 20px, 30px, 38px)
      );
    }
    h4 {
      @include respond(
        ('margin-bottom', 5px, 12px, 16px)
      );
    }
  }

}
