.featured-video {
  @include clearfix;
}

.featured-video__media {
  @include aspect-ratio(4,3);

  z-index: 1;
  width: calc(#{column-span(6,1)} + #{$page-margin-small});
  margin-left: -$page-margin-small;
  background: color(overlay, highlight2);
  cursor: pointer;

  .media-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &:hover {
      background: transparent;
    }
  }

  img {
    width: 100%;
    opacity: .3;
  }
}

.featured-video__text {
  position: relative;
  width: calc(#{column-span(6,1)} + #{$page-margin-small});
  background: color(bg, secondary);
  padding: 36px $page-margin-small 60px column-span(1,1);
  margin-top: -15px;
  z-index: 2;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    top: -15px;
    border-bottom: 15px solid color(bg, secondary);
  }

  &:before {
    left: 0;
    width: column-span(1.2,1);
    border-right: 15px solid transparent;
  }

  &:after {
    right: 0;
    width: calc(100% - #{column-span(1.2,1)});
    border-left: 15px solid transparent;
  }

  .featured-video__title {
    @include h4;
    margin-bottom: 15px;
  }
}

@include breakpoint($bp-medium) {
  .featured-video__media {
    width: calc(#{column-span(9,1)} + #{$page-margin-medium});
    margin-left: -$page-margin-medium;
  }

  .featured-video__text {
    float: right;
    width: calc(#{column-span(7,1)} + #{$page-margin-medium});
    padding-top: 32px;
    padding-left: column-span(1,1);
    margin-top: -56px;
    margin-right: -$page-margin-medium;

    &:before,
    &:after {
      border-width: 24px;
      top: -24px;
    }

    &:before {
      width: column-span(2.2,1);
    }

    &:after {
      width: calc(100% - #{column-span(2.2,1)});
    }

    .featured-video__title {
      margin-bottom: 16px;
    }
  }
}

@include breakpoint($bp-large) {
  .featured-video__media {
    float: left;
    width: calc(#{column-span(7,1)} + #{$page-margin-large} + #{gutter-span()});
    margin-left: -$page-margin-large;
  }

  .featured-video__text {
    width: calc(#{column-span(5,1)} + #{$page-margin-large});
    padding-top: 74px;
    padding-right: calc(#{column-span(1,1)} + #{$page-margin-large});
    padding-bottom: 80px;
    padding-left: 40px;
    margin-top: 60px;
    margin-right: -$page-margin-large;

    &:before,
    &:after {
      border-width: 24px;
      left: -24px;
    }

    &:before {
      top: 0;
      width: 0;
      height: 66px;
      border-top: none;
      border-right: 24px solid color(bg, secondary);
      border-bottom: 29px solid transparent;
    }

    &:after {
      top: auto;
      right: auto;
      bottom: 0;
      width: 0;
      height: calc(100% - 66px);
      border-top: 29px solid transparent;
      border-right: 24px solid color(bg, secondary);
      border-bottom: none;
      border-left: none;
    }
  }
}
