.figures {
  .slick-arrow {
    @include centerer(true, false);
    top: -60px;
    height: 30px;
    width: 14px;
    
    &:hover {
      svg {
        stroke: color(sliderArrow3, hover);

        .can-touch & {
          stroke: color(sliderArrow3, base);
        }
      }
    }

    svg {
      stroke-width: 5;
      stroke: color(sliderArrow3, base);
    }
  }

  .slick-prev {
    margin-left: -#{column-span(1, 1) + gutter-span() / 3};
  }

  .slick-next {
    margin-left: #{column-span(1, 1) + gutter-span() / 3};
  }

  .slick-dots {
    @include centerer(true, false);
    top: -53px;
  }
}

.figures__inner {
  @include sgs-row;
}

.figures__title {
  @include h4;
  text-align: center;
}

.figures__list {
  @include respond(
    ('margin-top', 75px, 30px, 40px)
  );
}

.figures__list-item {
  min-height: 210px;
  position: relative;

  &:nth-child(odd) {
    @include breakpoint($bp-medium) {
      @include grid-span(5, 2);
      clear: both;
    }
  }

  &:nth-child(even) {
    @include breakpoint($bp-medium) {
      @include grid-span(5, 8);
    }
  }

  &:nth-child(n+3) {
    @include respond(
      ('margin-top', 0, 40px, 45px)
    );
  }

  &:after {
    @include h2;
    border: none;
    color: color(border,line);
    display: block;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
    position: absolute;

    @include respond(
      ('margin-top', -6px, -12px, -16px),
      ('margin-left', 0, -#{gutter-span()}),
      ('transform', translateX(0), translateX(-100%))
    );
  }

  @for $i from 1 through 6 {
    &.figures__list-item-#{$i} {
      &:after {
        content: "#{$i}";
      }
    }
  }

  .line {
    margin-top: 0;
    min-height: 210px;
    @include respond(
      ('margin-left', #{column-span(1, 1)}, 0),
      ('padding-left', 24px, 24px, 28px),
      ('padding-top', 34px, 34px, 38px)
    );

    &:before {
      height: 210px;
      left: 0;
      top: 0;
      width: 210px;
    }
  }
}

.figures__list-title {
  @include h8;
}

.figures__sublist {
  margin-top: 20px;
}

.figures__sublist-item {
  padding-left: 20px;

  + .figures__sublist-item {
    margin-top: 14px;
  }

  &:before {
    content: "—";
    display: inline;
    left: 0;
    margin-right: 6px;
    position: absolute;
  }
}
