// SGS config;
.footer__container {
  position: relative;

  @media (max-width: $bp-medium - 1) {

  }
}

.footer__site-name,
.footer__newsletter,
.footer__site-info,
.footer__nav,
.footer__figure {
  @include grid-span(6);
  margin:0;
  position: relative;
  z-index: 1;
}

.footer__social,
.footer__about {
  @include grid-span(3);
  margin: 0;
  position: relative;
  z-index: 1;
}

@include breakpoint($bp-medium) {

  .footer__sections {
    position: relative;
    @include grid-span(8);
  }

  .footer__copyright {
    @include grid-span(8,5);
  }

  .footer__site-name,
  .footer__newsletter,
  .footer__site-info,
  .footer__nav,
  .footer__social,
  .footer__about {
    @include grid-span(6);
    margin: 0;
  }
}

@include breakpoint($bp-large) {
  .footer {
    margin-top: -10px;
  }

  .footer__sections {
    @include grid-span(8,2);
  }

  .footer__copyright {
    @include grid-span(6,6);
  }

  .footer__site-name,
  .footer__newsletter,
  .footer__site-info,
  .footer__nav,
  .footer__social,
  .footer__about {
    @include grid-span(5.91);
    margin: 0;
  }
}

.footer__figure {
  @include breakpoint($bp-medium){
    @include grid-span(6.5);
    margin: 0;
  }
  @include breakpoint($bp-large){
    @include grid-span(6);
    margin: 0;
  }
}

// flexbox | item order and configuration | alter SGS config

.footer__sections {
  @include respond(
    ('align-items', stretch, flex-start)
  );
}

@include breakpoint($bp-medium) {
  .footer__site-name  { order: 0; }
  .footer__newsletter { order: 1; }
  .footer__site-info  { order: 2; }
  .footer__nav        { order: 3; }
  .footer__social     { order: 4; margin-left: auto; }
}

// comps styling

// light grey bg color
.footer__inner {
  @media (max-width: $bp-medium - 1) {
    overflow: hidden;
  }
}

.footer__inner:before,
.footer__figure:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  background-color: color(bg,secondary);
  z-index: 0;
}

.footer__inner {
  @include respond(
    ('padding-top', 0, 0, 110px),
    ('padding-bottom', 18px, 0)
  );

  position: relative;

  &:before {
    @include respond(
      ('height', null,210px,290px)
    );
  }
}

.footer__figure {
  @include respond(
    ('position',relative,absolute),
    ('bottom', auto,210px,290px),
    ('left', auto, 100%, 90.45%),
    ('margin-top', 40px, 0)
  );

  height: 10px;

  z-index: 0;

  &:before {
    @include respond(
      ('display',block,none)
    );
    height: 1000px;
    top:0;
    left: -20px;
    right: -20px;
  }
}

.footer__figure-box {
  @include footer__figure-box;

  position: absolute;
  width: 100%;
  font-size: 0;
  line-height: 0;
  text-align: right;

  img {
    @include footer__figure-img;

    width: 100%;
  }
}

.footer__about {
  @include respond(
    ('height', null,210px,290px),
    ('padding-bottom', 12px, 0)
  );

  @include breakpoint($bp-medium) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  h2 {
    max-width: 150px;
    margin-bottom: 20px;

    a {
      color: color(link1);
      &:hover {
        color : color(link1,hover);
      }
    }
  }


  a {
    color: color(link2, secondary);
    text-decoration: none;

    &:hover {
      color: color(link2,hover);
      text-decoration: underline;
    }
  }

}

.footer__social {
  @include respond(
    ('margin-top', 0, 35px),
    ('text-align', right, left)
  );


  ul {
    @include respond(
      ('width', 92px, 300px),
      ('margin-bottom',0, 40px)
    );
  }

  li {
    @include respond(
      ('margin-bottom', 12px, 0)
    );

    width: 40px;
    height: 40px;
    background-color: color(bg,secondary);
  }

  a {
    position: relative;
    display: block;
    padding: 10px 10px 0;
    height: 40px;


    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: color(linkSocial,bg);
      opacity: 0.2;

      //transition: all 0.2s ease;
    }

    svg {
      position: relative;
      width: 20px;
      height: 20px;
      fill: color(linkSocial);
    }

    &:hover {
      &:before { background: color(linkSocial); opacity: 1; }
      svg { fill: color(linkSocial,hover); }
    }
  }
}

.footer__nav {
  @include respond(
    ('margin-top', 30px, 30px, 50px)
  );

  li {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: color(link1);
    text-decoration: none;

    &:hover {
      color: color(link1, hover);
      text-decoration: underline;
    }
  }
}

.footer__newsletter {
  @include respond(
    ('margin-bottom', 30px, 0)
  );

  h2 {
    @include respond(
      ('margin-bottom', 10px,20px)
    );
  }

  form {
    @include respond(
      ('max-width', null, null, 300px)
    );
  }

  input {
    @include body;
  }
}

.footer__site-info {
  @include respond(
    ('margin-top', 30px,28px,24px)
  );
}

.footer__phone {
  @include respond(
    ('margin-top', 20px, 40px, 27px),
    ('margin-bottom', 40px, 0)
  );
}

.footer__phone-link {
  color: color(link5);
  svg {
    fill: color(link5);
    width:13px;
    height: 19px;
    margin-right: 8px;
    margin-bottom: -5px;
  }

  &:hover {
    color: color(link5,hover);
    svg { fill: color(link5,hover); }
  }
}

.footer__copyright {
  @include respond (
    ('height', 70px, 90px),
    ('padding-top', 20px, 30px),
    ('text-align', center, left)
  );
}
