.general-info {
  &::after {
    content: "";
    display: block;
    width: 100%;
    @include respond(
                    ('height', 43px, 43px, 52px)
    );

    border-left: $line-border-width color(border,line) solid;
    border-bottom: $line-border-width color(border,line) solid;
    border-right: $line-border-width color(border,line) solid;
    @include breakpoint($bp-large){
      border-left: $line-border-width-large color(border,line) solid;
      border-bottom: $line-border-width-large color(border,line) solid;
      border-right: $line-border-width-large color(border,line) solid;
    }


  }

  .general-info__title {
    @include respond(
                    ('text-align', center),
                    ('margin-bottom', 35px, 60px, 60px)
    );

    .h4 { overflow: hidden; }

    span {
      @include respond(
                      ('padding', 0 10px 0 , 0 30px, 0 40px)
      );
      display: inline-block;
    }

    // line styling
    &, & span {
      position: relative;

      &:before, &:after {
        content: "";
        position: absolute;
        margin-top: $line-border-width / -2;
        background: color(border,line);
        top: calc(100% - 10px);

        @include breakpoint($bp-large){
          top: calc(100% - 14px);
          margin-top: $line-border-width-large / -2;
        }
      }
    }

    &:before, &:after {
      @include respond(
                      ('height', 55px, 43px, 57px)
      );
      width: $line-border-width;
      @include breakpoint($bp-large){
        width: $line-border-width-large;
      }
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }

    span {
      &:before, &:after {
        width: 100vw;
        height: $line-border-width;
        @include breakpoint($bp-large){
          height: $line-border-width-large;
        }
      }
      &:before { right: 100%; }
      &:after { left: 100%; }
    }
  }
  .general-info__text {
    @include grid-span(5.2,1.5);
    margin-bottom: -30px;
    @include breakpoint($bp-medium){
      @include grid-span(10,2);
      margin-bottom: 0;
    }
    @include breakpoint($bp-large){
      @include grid-span(10,2);
    }
    .h8 {
      margin: 0 auto 15px;
    }
    p {
      margin: 0 auto 31px;
    }
  }
  .general-info--special {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include respond(
      ('width',percentage(210/280), percentage(608/920)),
      ('padding-top', 0,0, 8px),
      ('margin-bottom',-27px,0,15px),
      ('justify-content', space-between, space-around),
                    ('align-content',stretch,center)
    );
    .general-info--special__item {
      @include respond(
        ('width', percentage(85/210), percentage(101/443) , percentage(134/608)),
        ('margin-bottom',30px,0)
      );
    }
    .general-info--special__media {
      @include aspect-ratio(4,3);
      width: percentage(104/134);
      margin: 0 auto;
      @include respond(
                      ('width', 100%, 100%,  percentage(104/134)),
                      ('margin-bottom',0,8px)
      );


      img.landscape {
        width: 100%;
        height: auto;
        @include centerer(false,true);
      }
      img.portrait {
        width: auto;
        height: 100%;
        @include centerer(true,false);
      }
    }
    .general-info--special__text {
      text-align: center;
      a {
        text-decoration: none;
      }
    }

  }


  // Single Entry
  &.is-single {
    &::after {
      opacity: 0;
      height: 0;
      border-bottom: 0;
    }
  }
  .is-single--info{
    @include breakpoint($bp-medium){
      @include grid-span(6,4)
    }
    @include breakpoint($bp-large){
      @include grid-span(6,4)
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      @include respond(
                      ('height', 43px, 43px, 52px)
      );
      border-left: $line-border-width color(border,line) solid;
      border-bottom: $line-border-width color(border,line) solid;
      border-right: $line-border-width color(border,line) solid;
      @include breakpoint($bp-large){
        border-left: $line-border-width-large color(border,line) solid;
        border-bottom: $line-border-width-large color(border,line) solid;
        border-right: $line-border-width-large color(border,line) solid;
      }

    }

    .general-info--special {
      justify-content: center;
      @include breakpoint($bp-medium){
        width: 100%;
      }
      .general-info--special__item {
        @include breakpoint($bp-medium){
          width: percentage(134/447);
        }
        @include breakpoint($bp-large){
          width: percentage(134/447);
        }
      }
      .general-info--special__media {
        @include breakpoint($bp-large){

        }
      }

    }

  }

  //FULL ENTRY
  &.is-full {

    .general-info--special{
      @include breakpoint($bp-medium){
        justify-content: space-between;
        align-content: stretch;
        width: percentage(557/671);
      }
      @include breakpoint($bp-large){
        justify-content: space-between;
        align-content: stretch;
        width: percentage(763/920);
      }

      .general-info--special__item {
        @include breakpoint($bp-medium){
          width: percentage(101/557);
        }
        @include breakpoint($bp-large){
          width: percentage(134/763);
        }
      }

    }
  }

}
