.general-article {
  @include clearfix;

  position: relative;
  z-index: 10;

  &__header {
    @include clearfix;
    @include respond(
      ('margin-bottom', 32px, 34px, 54px),
      ('padding', 60px #{$page-margin-small} 40px #{column-span(1,1)}, 60px 0 40px,  80px 0 60px 0)
    );
    background-color: $color-2;
    margin-top: 60px;
    margin-right: -$page-margin-small;

    @include breakpoint($bp-medium) {
      @include grid-span(11,2);

      width: calc(#{column-span(11,1) + #{$page-margin-medium}});
      margin-right: -$page-margin-medium;
      padding-right: column-span(1.3,1);
      padding-left: column-span(1.3,1);
    }

    @include breakpoint($bp-large) {
      @include grid-span(10,3);

      width: calc(#{column-span(10,1) + #{$page-margin-large}});
      margin-right: -$page-margin-large;
      padding-right: column-span(1.33,1);
      padding-left: column-span(1.33,1);
    }
  }

  .general-article--title {
    @include h3;
    color: $color-white;
  }

  .general-article--category,
  .general-article--author-date {
    @include h8;
    display: block;
  }
}

.general-article--category {
  @include respond(
    ('padding-bottom', 15px, 25px)
  );
  color: $color-5;
}

.general-article--title {
  @include respond (
    ('padding-bottom', 30px, 30px, 40px)
  );
}

.general-article--author-date {
  color: $color-white;
}

.hero + .general-article {
  .general-article__header {
    margin-top: -60px;
    @include respond(
      ('margin-top', -50px, -40px, -60px)
    );
  }
}
