.grid-titled {
  @include respond(
                  ('padding-bottom', 41px, 27px,45px),
                  ('margin-bottom',76px, 91px, calc(80px + 32px))
  );
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    border-color:  color(border, membership);
    border-style: solid;
    border-top: 0;
    border-left: 0;
    @include respond(
                    ('width',calc(100% + 20px),calc(91.50522% + 25px), calc(91.42237% + 40px)),
                    ('left', - $page-margin-small,- $page-margin-medium,- $page-margin-large),
                    ('top', calc(32px / 2),calc(60px /2), calc(68px / 2)),
                    ('border-right-width',$line-border-width,null,$line-border-width-large),
                    ('border-bottom-width',$line-border-width,null,$line-border-width-large)
    );
  }
  h3 {
    @include respond(
                    ('padding-bottom', 43px,64px,105px),
                    ('width', percentage(280/280), percentage(614/671),percentage(842/921))
    );
    float: left;
    overflow: hidden;
    position: relative;

    span {
      position: relative;
      display: block;
      float: left;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 60px);
        background: color(border, membership);
        width: 100vw;
        @include respond(
                        ('height', $line-border-width,null,$line-border-width-large),
                        ('top', calc(32px / 2),calc(60px /2), calc(68px / 2))
        );
      }
    }


  }
}

.grid,
.grid-titled {
  z-index: 90;
}
