.header {
  z-index: z(header);
}

.header--tall {
  @include respond(
    ('display', none, block),
    ('height', 0, 120px, 150px)
  );
  background-color: $color-white;
  position: relative;

  &:after {
    background-color: $color-white;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform:translateX(100%);
    width: 20px;
  }

  .header__top {
    float: right;
  }

  .header__bottom {
    clear: both;
    float: right;
  }
}

.header--short {
  @include respond(
    ('transform', translateY(0), translateY(-200%))
  );
  height: 60px;
  position: fixed;
  top: 0;
  transition: transform 0.5s;
  width: 100%;

  &.header--expanded {
    transform: translateY(0);
  }

  .header__nav-search-cta {
    float: right;
    height: 100%;
    position: relative;
  }
}

.header__inner {
  height: 100%;
}

.header__logo {
  @include remove-sgs-row-margin;

  .header--tall & {
    bottom: 0;
    left: 0;
    position: absolute;
    transform: translateY(100%);
  }

  .header--short & {
    float: left;
    height: 100%;
    position: relative;
  }
}

.header__logo-inner {
  img {
    display: block;
    width: 100%;
  }

  .header--short & {
    @include header__logo-inner;
    height: 100%;
    position: absolute;

    &:before,
    &:after {
      background-color: $color-white;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 5000px;
    }

    &:after {
      left: 100%;
    }

    &:before {
      right: 100%;
    }

    a {
      display: block;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
  }
}

.header__nav {
  @include breakpoint($bp-medium) {
    float: left;
  }

  .header--tall & {
    @include breakpoint($bp-medium) {
      margin-top: 20px;
    }

    @include breakpoint($bp-large) {
      margin-top: 35px;
    }
  }

  .header--short & {
    display: none;

    @include breakpoint($bp-medium) {
      display: block;
      margin-top: 18px;
    }
  }
}

.header__nav-item {
  float: left;

  a {
    @include h8;
    color: color(link1, base);
    text-decoration: none;

    &:hover {
      color: color(link1, hover);
      text-decoration: underline;
    }
  }
  &.buy {
    margin-bottom: 60px;
    a {
      color: color(button, base);
      &:hover {
        color: color(button, hover);
      }
    }
    @include breakpoint($bp-medium){
      display: none;
    }

  }

  + .header__nav-item {
    .header--tall & {
      margin-left: 50px;

      @include breakpoint($bp-large) {
        margin-left: 70px;
      }
    }

    .header--short & {
      margin-left: 40px;
    }
  }
}

.header__nav-item--active {
  a {
    color: color(link1, hover);
  } 
}

.header__search-button {
  svg {
    @include respond (
      ('height', 30px, 19px, 24px),
      ('width', 34px, 21px, 27px)
    );
    fill: color(button, base);
  }

  .header--tall & {
    @include breakpoint($bp-medium) {
      float: left;
      margin-left: 40px;
      margin-top: 21px;
    }

    @include breakpoint($bp-large) {
      margin-left: 60px;
      margin-top: 35px;
    }
  }

  .header--short & {
    display: none;

    @include breakpoint($bp-medium) {
      display: block;
      float: left;
      margin-left: 40px;
      margin-top: 20px;
    }

    @include breakpoint($bp-large) {
      margin-top: 18px;
    }
  }
}

.header__ticker {
  float: left;
  margin-right: 20px;
  margin-top: 20px;

  .header--short & {
    display: none;
  }
}

.header__buy-tickets-cta {
  white-space: nowrap;

  .header--tall & {
    float: left;
  }
  
  .header--short & {
    line-height: 45px;
    padding: 0 20px;
    position: absolute;
    right: -$page-margin-small;
    top: 100%;

    @include breakpoint($bp-medium) {
      padding: 0 25px;
      right: 0;
    }

    @include breakpoint($bp-large) {
      float: left;
      height: 60px;
      margin-left: 30px;
      padding: 0 30px;
      position: relative;
      top: 0;
    }
  }
}

.header__nav-toggle {
  @include respond(
    ('right', -$page-margin-small, 0)
  );
  background-color: color(button2, base);
  height: 60px;
  position: absolute;
  top: 0;
  width: 60px;

  &:hover {
    background-color: color(button2, hover);
  }

  @include breakpoint($bp-medium) {
    display: none;
  }
}

.header__nav-toggle-bar {
  background-color: $color-white;
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  position: relative;
  transition: transform .25s;
  width: 24px;

  &:nth-child(1) {
    margin-top: -8px;
    transform-origin: left center;
  }

  &:nth-child(3) {
    transform-origin: right center;
  }

  &:nth-child(4) {
    margin-top: -10px;
  }

  .header__nav-toggle--active & {
    &:nth-child(1) {
      transform: scaleX(0);
    }

    &:nth-child(2) {
      transform: rotate(-135deg);
    }

    &:nth-child(3) {
      transform: scaleX(0);
    }

    &:nth-child(4) {
      transform: rotate(-45deg);
    }
  }
}

.header__search-inner {
  position: relative;

  @include breakpoint($bp-medium) {
    @include grid-span(10, 2);
    margin-top: 130px;
  }

  @include breakpoint($bp-large) {
    @include grid-span(8, 3);
    margin-top: 140px;
  }
}

.header__search-close-button {
  height: 24px;
  opacity: 1;
  width: 24px;
  line-height: normal;

  svg {
    fill: color(button, base);
    height: 24px;
    pointer-events: none;
    width: 24px;
  }

  &:active {
    top: 0;
  }
}

.header__search-form {
  clear: both;
  margin-top: 90px;
}

.header__search-label {
  @include h4;
  color: color(text, base);
  font-weight: 300;
}

.header__search-field[type="text"] {
  @include h4;
  border: none;
  border-bottom: 1px solid $color-white;
  color: color(text, secondary);
  font-weight: 300;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;

  &:focus {
    color: color(text, white);
  }
}
