.join-give--hero {
  @include container($page-max-width-wide);
  @include clearfix;
  @include respond(
    ('margin-bottom', 15px, 30px, 40px)
  );

  &__sections {
    @include clearfix;
    @include respond(
      ('height', 280px, 340px, 450px)
    );
  }

  &__media,
  &__media-right-img {
    background: {
      position: center center;
      size: cover;
    }
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
  }

  &__media-left {
    @include respond(
      ('display', none, block),
      ('width', null, column-span(8, 1, 12))
    );

    .u-bgc-hl-blk {
      background-color: $color-black;
    }

    .u-opacity-15 {
      opacity: .15;
    }
  }

  &__media-right {
    @include respond(
      ('margin-left', null, 2px),
      ('width', 100%, calc(100% - #{column-span(8, 1, 12)} - 2px)) // lol
    );
  }

  &__media-right-img {
    filter: grayscale(100%);
  }

  &__toggles{
    @include clearfix;
    @include respond(
      ('bottom', 20px, null, 30px)
    );
  }

  &__goto {
    @include h7;
    @include respond(
      ('padding', 25px 20px, null, 30px 30px 30px 40px)
    );

    background: $color-6;
    color: $color-7;
    display: inline-block;
    float: left;
    text-decoration: none;
    width: 50%;

    &:hover {
      span button {
        border-bottom: 0 solid $color-1;
      }
    }

    // Active states
    &.active {
      span:before { opacity: 0; }

      span,
      span & {
        button {
          border-bottom: 0 solid $color-white;

          @include respond(
            ('border-bottom-width', 20px, 20px, 30px),
            ('border-left-width', 20px, 20px, 30px)
          );
        }
      }

      background: $color-2;
      color: $color-white;

      @include breakpoint($bp-medium) {
        &:before span,
        & span button {
          bottom: 0;
          left: auto;
          right: 0;
          top: auto;
        }

        span,
        span & {
          button {
            @include respond(
              ('border-bottom-width', 20px, 20px, 30px),
              ('border-left-width', 20px, 20px, 30px)
            );

            border-right-width: 0;
            border-top-width: 0;
          }
        }
      }
    }

    // Hover states
    &:hover span,
    a:hover span & {
      button {
        @include respond(
          ('border-bottom-width', 20px, 20px, 30px),
          ('border-left-width', 20px, 20px, 30px)
        );

        border-right-width: 0;
        border-top-width: 0;
      }
    }

    @include breakpoint($bp-medium) {
      &:before span,
      & span button {
        bottom: 0;
        left: auto;
        right: 0;
        top: auto;
      }

      &:hover span,
      a:hover span & {
        button {
          @include respond(
            ('border-bottom-width', 20px, 20px, 30px),
            ('border-left-width', 20px, 20px, 30px)
          );

          border-right-width: 0;
          border-top-width: 0;
        }
      }
    }
  }

  // Default state override
  .cta--square {
    @include respond(
      ('height', 20px, 20px, 30px),
      ('width', 20px, 20px, 30px),
      ('margin-top', 5px, 2px, 0)
    );

    background: none;
    float: right;

    &:before, button {
      @include respond(
        ('height', 20px, 20px, 30px),
        ('width', 20px, 20px, 30px)
      );

      border-color: $color-7;
      border-width: 0 2px 2px 0;
      bottom: 0;
      left: auto;
      right: 0;
      top: auto;
    }

    button {
      border: {
        bottom: 0 solid $color-7;
        left: 0 solid transparent;
        right: 0;
        top: 0;
      }
    }
  }
}
