.join-give-intro__main {
  position: relative;
  z-index: 4;
  margin-bottom: 50px;
}


.join-give-intro__title {
  @include h3;
  margin-bottom: 20px;
}

.join-give-intro__aux {
  &__title {
    @include h8-special;
  }

  &__item-title {
    display: block;
    @include h8;
    margin-bottom: 5px;
  }

  li {
    @include respond(
      (margin-bottom, 10px, 20px, 30px)
    );

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@include breakpoint($bp-medium) {
  .join-give-intro {
    @include clearfix;
  }

  .join-give-intro__title {
    margin-top: -10px;
  }

  .join-give-intro__main {
    @include grid-span(8,1);
    margin-bottom: 0;
  }

  .join-give-intro__aux {
    width: percentage(190/671);
    position: relative;
    float: right;


    &.fixed {
      width: 100%;
      position: fixed;
      top: 140px;
      z-index: 3;
      right: 0;
      left: 0;
      padding-left: 0;
      float: none;
      height: 300px;

      .join-give-intro__aux__inner {
        @include sgs-row;
        position: relative;
      }


      .join-give-intro__aux__content {
        width: percentage(190/671);
        right: 0;
        position: absolute;
      }
    }



    &.scrolled {
      position: absolute;
      right: 0;
      bottom: 0;
    }
    &.ios-device {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -o-sticky;
      position: -ms-sticky;
      position: sticky;
      top: 120px;
      z-index: 9;
    }
  }
}

@include breakpoint($bp-large) {
  .join-give-intro__main {
    @include grid-span(8,1);
  }

  .join-give-intro__aux {
    width: percentage(262/921);

    &.fixed {
      top: 105px;

      .join-give-intro__aux__content {
        width: percentage(262/921);
        right: 0;
        position: absolute;
      }
    }

    &.scrolled {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

@include breakpoint($bp-xlarge) {
  .join-give-intro__aux {
    width: percentage(272/921);
  }
  .join-give-intro__aux.fixed {

    & .join-give-intro__aux__content {
      width: percentage(272/921);
      right: 0;
      position: absolute;
    }
  }
}
