.landing-hero {
  @include respond(
    (padding-top, 85px, 130px, 140px)
  );
  position: relative;
  overflow: hidden;

  // gray backgoound
  &:before {
    @include respond(
      (height, calc(100% - 70px), calc(100% - 100px), calc(100% - 150px))
    );
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-6;
  }
}


.landing-hero__sections {
  @include respond(
    (margin-bottom, 35px, 47px, 59px)
  );
  position: relative;
}


.landing-hero__content {
  @include respond(
    (padding-top, 31px, 32px, 35px) //-4, -8, -10
  );

  position: relative;

  @include breakpoint($bp-medium){
    padding-left: column-span(1,1) + gutter-span();
    padding-right: column-span(2,1) + gutter-span();
  }

  @include breakpoint($bp-large){
    padding-left: column-span(2,1) + gutter-span();
    padding-right: column-span(2,1) + gutter-span();
  }
}

.landing-hero__title {
  @include respond(
    (margin-bottom, 27px, null, 38px)
  );
  padding-right: column-span(1,1);

  span {
    position: relative;
    z-index: 10;
  }

  @include breakpoint($bp-medium){
    padding-right: 0;
  }
}

// line
.landing-hero__title,
.landing-hero__title a {
  &:before {
    @include respond(
      (width, 115px, 143px, 179px),
      (height, 124px, 154px, 192px)
    );
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: solid $color-5;
    border-width: $line-border-width $line-border-width 0 0;
    z-index: 0;

    transition: all 200ms ease;

    @include breakpoint($bp-medium){
      right: column-span(1,1) + gutter-span();
    }

    @include breakpoint($bp-large){
      border-width: $line-border-width-large $line-border-width-large 0 0;
    }
  }
}
.landing-hero__title a {
  &:before {
    width: 0 !important;
    height: 0 !important;
    border: 0;
    border-top: 0 solid $color-5;
    border-left: 0 solid transparent;
  }

  &:hover {
    &:before {
      @include respond(
        (border-left-width, 125px, 153px, 189px),
        (border-top-width, 134px, 164px, 202px)
      );
    }
  }
}


.landing-hero__figures {
  @include respond(
    (display, block, flex),
    (justify-content, null, space-between )
  );

  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.landing-hero__figure {
  @include respond(
    (max-height, 216px, none)
  );
  position: relative;
  height: 100%;

  div {
    position: absolute;
    height: 100%;
  }

  img {
    opacity: 0;
    height: 100%;
  }

  svg {
    stroke: $color-white;
    stroke-width: 3px;
    fill: transparent;
    opacity: .40;

    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .landing-hero__figure-dy {
    @include respond(
      (top, -15px, -50px, -60px),
      (right, null, 0),
      (height, 100%, calc(100% + 50px), calc(100% + 60px)),
      (min-height, 216px, 349px, 420px)
    );

    right: column-span(2.5,1) + gutter-span();
  }

  .landing-hero__figure-loh {
    @include respond(
      (top, -58px, 35px, 30px),
      (left, null, 0),
      (min-height, 256px, 332px, 408px)
    );

    left: column-span(3,1) + gutter-span();
  }

  @include breakpoint($bp-medium){
    width: column-span(6,1);
  }

  @include breakpoint($bp-large){
    width: column-span(6,1);
  }

  @include breakpoint($bp-xlarge){
    width: column-span(6,1);

    div, img {
      width: 680px;
      height: auto !important;
    }

  }
}
