.manifesto {
  &__inner {
    @include clearfix;
    @include respond((margin-top, -40px, -120px, -200px));

    position: relative;
    padding-bottom: 60px;
    z-index: 3;

    &:before {
      $manifesto-bg-width-small: column-span(5,1);

      content: '';
      display: block;
      position: absolute;
      left: -$page-margin-small;
      top: -50px;
      width: calc(#{$manifesto-bg-width-small} + #{$page-margin-small});
      height: calc(100% + 50px);
      background: color(bg,secondary);
      z-index: 1;
    }

    .cta--text {
      position: relative;
      z-index: 2;

      a {
        display: inline-block;
        position: relative;
        text-decoration: none;

        &:after {
          content: '';
          display: block;
          width: 0px;
          height: 2px;
          position: absolute;
          bottom: 1px;
          left: 0;
          background: color(text, base);
          transition: width 500ms ease-in-out;
        }

        &.is-underlined:after {
          width: 100%;
        }

        &:hover:after {
          background: color(link1, hover);
        }
      }


    }

    @include breakpoint($bp-medium) {
      $manifesto-bg-width-med: column-span(11,1);

      min-height: 215px;
      padding: 60px $page-margin-medium;
      margin-left: -$page-margin-medium;
      width: calc(#{$manifesto-bg-width-med} + #{$page-margin-medium});
      background: color(bg, secondary);

      &:before {
        display: none;
      }
    }

    @include breakpoint($bp-large) {
      $manifesto-bg-width-large: column-span(9,1);

      width: calc(#{$manifesto-bg-width-large} + #{$page-margin-large});

      margin-left: -$page-margin-large;
      padding: 80px $page-margin-large;
      background: color(bg, secondary);


      &:before {
        display: none;
      }
    }
  }
}

.manifesto--deyoung {
  .cta--text {
      position: relative;
      z-index: 3;
  }

  .manifesto__images {
    display: none;
  }

  @include breakpoint($bp-medium) {
    .manifesto__images {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    .manifesto__image {
      position: absolute;
      overflow: hidden;
      height: 176px;
      background-size: cover;
      opacity: 0;
      transition: opacity 150ms ease-in-out;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-10;
        opacity: .5;
      }

      img {
        display: none;
      }

      &:nth-of-type(1),
      &:nth-of-type(5) {
        left: $page-margin-medium;
        top: 20px;
        width: 239px;
      }

      &:nth-of-type(2) {
        top: 20px;
        right: 40px;
        width: 176px;
        border-radius: 50%;
        background-clip: border-box;
      }

      &:nth-of-type(3) {
        bottom: 20px;
        right: 40px;
        width: 239px;
      }

      &:nth-of-type(4) {
        bottom: 20px;
        left: $page-margin-medium;
        width: 176px;
        border-radius: 50%;
        background-clip: border-box;
      }

      &.is-visible {
        opacity: 1;
      }
    }
  }

  @include breakpoint($bp-large) {
    .manifesto__images {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .manifesto__image {
      height: 220px;

      &:nth-of-type(1),
      &:nth-of-type(5) {
        left: $page-margin-large;
        width: 298px;
      }

      &:nth-of-type(2) {
        width: 220px;
      }

      &:nth-of-type(3) {
        width: 298px;
      }

      &:nth-of-type(4) {
        left: $page-margin-large;
        width: 220px;
      }
    }
  }
}

html:not(.cssclippathpolygon) .manifesto--deyoung .manifesto__inner {
  @include respond(
    (padding-right, #{$page-margin-small}, #{$page-margin-medium}, #{$page-margin-large})
  );

  &:before {
    width: calc(100% + #{$page-margin-small});
  }

  @include breakpoint($bp-medium) {
    width: calc(100% + #{$page-margin-medium});

    .cta--text,
    .manifesto__images {
      width: column-span(11,1);
    }
  }

  @include breakpoint($bp-large) {
    width: calc(100% + #{$page-margin-large});

    .cta--text,
    .manifesto__images {
      width: column-span(9,1);
    }
  }
}

// For dev only: circumvents negative margin-top when both deYoung and LoH are on same page
.museum-details--deyoung + .manifesto--loh {
  @include respond(
    ('margin-top', 60px, 60px, 80px)
  );
}
