
.map__media {
  position: absolute;
  top:0;
  left:0;
  margin: 0 !important;
  width: 100% !important;

  opacity: 0;
  transition: opacity 200ms ease;
}

.map__pin {
  @include respond(
    ('height', 40px, 40px, 65px),
    ('padding-left', 20px,20px, 22px),
    ('padding-right', 46px,49px, 77px)
  );

  position: absolute;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:before, &:after {
    @include respond(
      ('width', 19px, 19px, 31px),
      ('height', 19px, 19px, 31px),
      ('top', 10px, 10px, 16px),
      ('right', 10px, 10px, 16px)
    );
    content: "";
    position: absolute;
    border: solid color(map, link1);
    border-width: 1px 1px 0 0; 
    z-index: 10;

    transition: all 200ms ease;
  }

  &:after {
    width: 0 !important;
    height: 0 !important;
    border: 0;
    border-top: 0 solid color(map, link1);
    border-left: 0 solid transparent;
  }

  &:hover {
    &:after {
      @include respond(
        ('border-top-width', 19px, 19px, 31px),
        ('border-left-width', 19px, 19px, 31px)
      );
    } 
    &:before { opacity: 0; }
  }

  // default pin color
  background: color(map,pin1);
  color: color(map,link1);
  &:hover { color: color(map,link1); }
}

.map__pin-arrow {
  @include respond(
    ('height', 40px, 40px, 65px),
    ('width', 30px, 30px, 46px),
    ('left', -31px, -31px, -47px),
    ('top', 4px, 4px, 6px)
  );
  position:absolute;
  
  bottom: 0;
  display:block;
  
  transform: skew(0,-15deg);
  overflow:hidden;
  -webkit-transform-style: preserve-3d;

  &:before {
    @include respond(
      ('border-width', 0 0 40px 30px, 0 0 40px 30px, 0 0 65px 46px)
    );
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent color(map,pin1) transparent;
    position: absolute;
    top:0;
    left:0;
  } 
}

// pin positioning
.map__pin-loh {
  left: 19.9690402477%;
  top: 7.26141078838%;
}

.map__pin-dy {
  right: 15.9442724458%;
  bottom: 29.8755186722%;
}

// modifier
.map__pin-arrow--right {
  @include respond(
    ('right', -31px, -31px, -47px)
  );
  left: auto;
  transform: skew(0,15deg);

  &:before {
    @include respond(
      ('border-width', 0 30px 40px 0, 0 30px 40px 0, 0 46px 65px 0)
    );
  }
}

.map__pin--main {
  background: color(map,pin2);
  color: color(map,link2);
  &:hover { color: color(map,link2); }

  &:before, &:after {
    border-top-color: color(map, link2);
    border-right-color: color(map, link2);  
  }

  .map__pin-arrow {
    &:before {
      border-color: transparent transparent color(map,pin2) transparent;
    }
  }

  .map__pin-arrow--right { 
    &:before {
      border-color: transparent transparent color(map,pin2) transparent;
    }
  }
}
