.gallery {
  .h4 {
    text-align: center;
    @include respond(
                    ('margin-bottom', 26px, 39px, 54px)
    );
  }
}
.media-gallery {
  .slick-arrow:hover svg { 
    stroke: color(sliderArrow,hover2);
  }
  @media (max-width: $bp-medium - 1) {
    .slick-arrow  { bottom: 20px; }
    .slick-dots   { bottom: 42px; }
  }
}

.media-gallery__item {
  @include respond(
    ('min-height', 480px, auto)
  );
  @include aspect-ratio(16, 10);

  .content {
    @include color-overlay(#000, 0.25);
  }
}

.media-gallery__item-image {
  display: none !important;
}

.media-gallery__item-content {
  height: 100%;
}

.media-gallery__item-content-inner {
  @include centerer(false, true);
  @include breakpoint($bp-medium) {
    @include grid-span(7, 1);
  }
}

.media-gallery__item-tag {
  @include h8;
  color: color(text, highlight2);
}

.media-gallery__item-title {
  @include respond(
    ('margin-top', 12px, 12px, 20px)
  );
  @include h4;
  color: color(text, white);
}

.media-gallery__item-description {
  color: color(text, white);
  @include respond(
    ('display', none, block),
    ('margin-top', 0, 10px, 20px)
  );
}

.media-gallery__item-cta {
  @include respond(
    ('margin-top', 25px, 25px, 35px)
  );
}
