.media-overlay {
  .mfp-container {
    @include sgs-row;
    cursor: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    position: relative;
    height: 100%
  }

  .mfp-content {
    max-width: none;
    width: 100%;

    @include respond(
      ('top', 40px, 100px)
    );

    @include breakpoint($bp-medium) {
      @include grid-span(10, 2);
    }

    figure {
      @include respond(
        ('margin-top', 50px, 54px, 70px)
      );
    }
  }

  .mfp-figure {
    &:after {
      background: transparent;
      box-shadow: none;
    }

    img {
      padding-top: 0;
      padding-right: 0;
      opacity: 0;
      transition: opacity 500ms ease;
    }
  }

  .mfp-iframe-holder {
    padding-top: 0;
  }

  .mfp-iframe-container {
    position: relative;

    @include respond(
      ('padding-top', 50px, 54px, 70px)
    );
  }

  .mfp-iframe-scaler {
    position: relative;
  }

  .mfp-iframe {
    width: 100%;
  }

  .mfp-title {
    @include respond(
      ('margin-top', 15px, 25px)
    );
    font-style: italic;
    padding-right: 0;
  }

  .mfp-arrow {
    opacity: 1;
    margin-top: 0;
    transform: scale(1);

    @include respond(
      ('height', 30px, 36px, 42px),
      ('top', 40px, 100px),
      ('width', 12px, 14px, 18px)
    );

    &:before,
    &:after {
      content: none;
    }

    svg {
      height: 100%;
      fill: none;
      stroke-width: 3;
      stroke: color(sliderArrow, base);
      width: 100%;
    }

    &:hover svg {
      stroke: $color-1;
    }
  }

  .mfp-arrow-left {
    @include breakpoint($bp-medium) {
      left: calc(#{column-span(1, 1)} + #{gutter-span()});
    }
  }

  .mfp-arrow-right {
    left: calc(#{column-span(1, 1)} + #{gutter-span()});
    right: auto;

    @include breakpoint($bp-medium) {
      left: calc(#{column-span(2, 1)} + #{gutter-span()});
    }
  }

  .mfp-close {
    cursor: pointer !important;
    height: 24px;
    opacity: 1;
    padding-right: 0;
    right: 0;
    top: 0;
    width: 24px;

    svg {
      display: block;
      fill: color(button, base);
      height: 24px;
      pointer-events: none;
      width: 24px;
    }

    &:hover svg {
      fill: color(button, hover);
    }
  }

  .mfp-counter {
    @include h9;
    display: inline-block;
    left: calc(((#{column-span(1, 1)} + #{gutter-span()}) / 2) + 6px);
    right: auto;
    transform: translate(-50%, -50%);


    @include respond(
      ('top', 15px, 18px, 21px)
    );

    @include breakpoint($bp-medium) {
      left: calc(((#{column-span(1, 2, 10)} + #{gutter-span($page-gutter-medium, 10)}) / 2) + 7px);
    }

    @include breakpoint($bp-large) {
      left: calc(((#{column-span(1, 2, 10)} + #{gutter-span($page-gutter-large, 10)}) / 2) + 9px);
    }
  }

  .mfp-bottom-bar {
    position: relative;
    top: auto;
    left: auto;
  }
}
