.membership-level {
  @include respond(
    ('padding-bottom', 17px, 20px, 50px)
  );
  position: relative;

}

// line config
.membership-level__line,
.membership-level__title h1 {
  &:before, &:after {
    @include respond(
      ('top', 16px, 30px, 34px), // h3: line-height / 2
      ('height', $line-border-width, null, $line-border-width-large),
      ('margin-top', -$line-border-width/2, null, -$line-border-width-large/2)
    );
    content: "";
    position: absolute;
    left: 100%;
    width: 100vw;
    background: color(border, membership);
  }
}

.membership-level__line {
  @include respond(
    ('top', 16px, 30px, 34px) // h3: line-height / 2
  );
  position: absolute;
  left:0;
  bottom: 0;
  width: 100%;

  &:before {
    @include respond(
      ('width', $line-border-width, null, $line-border-width-large)
    );
    height: 100%;
    top:0;
    right: 0;
    left: auto;
  }
  &:after {
    left: auto;
    top: auto;
    right:0;
    bottom: 0;

    @include breakpoint($bp-large){
      width: calc(100% + #{$page-margin-large});
    }
  }

  @include breakpoint($bp-medium){
    width: column-span(11,1);


  }
}

.membership-level__title {
  position: relative;
  overflow: hidden;
  padding-right: column-span(2,1);

  h1 {
    @include respond(
      (margin-bottom, 60px, null, 80px)
    );
    position: relative;
    padding-right: gutter-span();
  }

  @include breakpoint($bp-medium){
    width: column-span(11,1);
    padding-right: column-span(3,1);

    h1 { padding-right: column-span(.57,1); }
  }

  @include breakpoint($bp-large){
    padding-right: column-span(3,1);

    h1 { padding-right: column-span(.85,1); }
  }

  @include breakpoint($bp-int-large-xlarge){
    padding-right: column-span(4,1);

    h1 { padding-right: column-span(.85,1); }
  }

  @include breakpoint($bp-xlarge){
    padding-right: column-span(5,1);

    h1 { padding-right: column-span(.85,1); }
  }
}

.membership-level__tab-content {
  position: relative;
}


.membership-level__items {
  position: absolute;
  left:0;
  top: 100px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
  z-index: 1;

  &.is-active {
    position: relative;
    top: 0;
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
}

.membership-level__item {
  @include respond(
    (padding-bottom, 75px, 60px)
  );

  position: relative;
  margin-bottom: 30px;


  &:before {
    @include respond(
      (left, -$page-margin-small, -$page-margin-medium, -$page-margin-large),
      (width, calc(100% + #{$page-margin-small} * 2), calc(100% + #{$page-margin-medium} * 2), calc(100% + #{$page-margin-large} * 2))
    );
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: cacl(100%);
    height: 100%;
    background: $color-6;
    border-bottom: 2px solid $color-1;
  }
}

.membership-level__item-inner {
  position: relative;

  @include breakpoint($bp-medium){
    display: flex;
    justify-content: space-between;
  }
}

.membership-level__item-media {
  margin-bottom: 20px;

  .media-bg {
    @include respond(
      (margin-left, -$page-margin-small, -$page-margin-medium, -$page-margin-large),
      (width, calc(100% + #{$page-margin-small} * 2), calc(100% + #{$page-margin-medium}), calc(100% + #{$page-margin-large}))
    );

    &:before {
      @include respond(
        (padding-top, 9/16 * 100%, 4/3 * 100% )
      );
    }
  }

  @include breakpoint($bp-medium){
    width: column-span(2,1) + gutter-span();
  }
}

.membership-level__item-content {
  @include respond(
    (margin-top, 16px, 35px, 33px),
    (display, null, flex),
    (justify-content, null, space-between)
  );



  @include breakpoint($bp-medium){
    width: column-span(9.1,1) + gutter-span();
  }
}

.membership-level__item-content-inner {
  @include respond(
    (width, null, calc(100% - 188px), calc(100% - 207px))
  );
}

.membership-level__item-title {
  color: $color-2;
}

.membership-level__item-title,
.membership-level__item-subtitle {
  margin-bottom: 25px;
}

.membership-level__item-body {
  position: relative;
  overflow: hidden;
  max-height: 0;

  overflow: hidden;
  transition: max-height 300ms ease-in-out;

  &.is-expanded {
    max-height: 100%;
    transition: max-height 200ms ease-in-out;
  }

  &-inner {
    padding-bottom: 30px;
  }

  .wysiwyg {
    li:before {
      border-color: $color-8;
    }
  }
}



.membership-level__item-show-wrap {
  position: absolute;
  bottom: 23px;
  width: 100%;
  text-align: center;

  a {
    color: $color-1;
    text-decoration: none;
    &:hover { color: $color-2; }
  }
}

.membership-level__item-cta {
  @include respond(
    (width, column-span(4,1), 158px, 177px),
    (margin, 0 auto, 0)
  );

  .cta {
    width: 100%;
    padding: 0;
    margin-top: 5px;

    &:first-child {
      @include respond(
        (margin-top, 0, 5px, 7px)
      );
    }

    &:hover {
      background-color: $color-2;
      color: $color-white;
    }
  }
}


.membership-level__tab {
  @include respond(
    (padding-bottom, 40px, 50px, 60px)
  );

  position: relative;
  overflow: hidden;
  display: flex;
}

.membership-level__tab-item {
  @include h9;
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: $color-7;

  width: column-span(2,1) + gutter-span();
  margin-right: column-span(1,1);

  &:before {
    @include respond(
      (top, calc( 100% + 10px), calc( 100% + 15px))
    );
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 100vh;
    background: $color-7;
  }

  &.is-active, &:hover {
    color: $color-1;
    &:before { background: $color-1; }
  }

  &:last-child {
    margin-right: 0 !important;
  }

  @include breakpoint($bp-medium) {
    width: auto;
    margin-right: column-span(.7,1);
  }

  @include breakpoint($bp-large) {

    margin-right: column-span(1,1);
  }
}
