.museum-details {

  &__inner {
    @include clearfix;

    position: relative;
    margin-bottom: 120px;

    &:before {
      $museum-details-bg-width-small: column-span(5,1);

      content: '';
      display: block;
      position: absolute;
      left: -$page-margin-small;
      top: 0;
      width: calc(#{$museum-details-bg-width-small} + #{$page-margin-small});
      height: calc(100% + 110px);
      background: color(bg,secondary);
    }

    &--loh {
      padding-top: 0;
    }

    html:not(.cssclippathpolygon) &--deyoung:before {
      width: calc(100% + #{$page-margin-small});
    }
  }
}

.museum-details__media {
  position: absolute;
  left: -$page-margin-small;
  top: 0;
  background-size: cover;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $color-2;
    opacity: .7;
  }

  img {
    display: none;
  }

  .museum-details--deyoung & {
    width: calc(100% + #{$page-margin-small});
    height: 435px;
  }

  html.cssclippathpolygon .museum-details--deyoung & {
    clip-path: polygon(0 0, 100% 0, 100% 150px, 38% 150px, 38% 100%, 0 100%);
  }

  .museum-details--loh & {
    $loh-details-media-width-small: column-span(3,1);

    position: relative;
    top: 0;
    float: left;
    width: calc(#{$loh-details-media-width-small} + #{$page-margin-small});
    height: 230px;
  }
}

.museum-details__text {
  position: relative;

  .museum-details__hours {
    position: relative;
    z-index: 1;

    h4 { @include h8-special; }

    .item-title {
      @include h8;
      @include respond((margin-bottom, 8px, 10px, 15px));

      position: relative;
      color: $color-1;
      z-index: 2;
    }

    li:not(:last-of-type) {
      @include respond((margin-bottom, 25px, 35px, 35px));
    }

    .item-subtitle {
      @include h8;

      position: relative;
      display: block;
      margin-bottom: 6px;
      z-index: 2;
    }

    .cta--text {
      margin-bottom: 25px;
      z-index: 2;
    }

    .museum-details--deyoung & {
      min-height: 260px;
      @include grid-span(3,4);
    }

    .museum-details--loh & {
      $loh-hours-width-small: column-span(3,1);

      width: calc(#{$loh-hours-width-small} - 20px);
      float: right;
    }
  }

  .buy-tickets {
    @include grid-span(6);

    position: relative;
    padding-top: 30px;
    clear: both;
    z-index: 2;

    .cta--text {
      @include h4;

      margin-bottom: 25px;
      z-index: 2;
    }
  }

  .museum-details--deyoung & {
    padding-top: 170px;
  }

  html:not(.cssclippathpolygon) .museum-details--deyoung & {
    .museum-details__hours {
      padding-right: gutter-span(1);

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        left: -60px;
        width: calc(100% + 60px);
        height: calc(100% + 40px);
        background: color(bg, secondary);
        z-index: 1;
      }
    }

    .buy-tickets {
      padding-right: gutter-span(1);
    }
  }
}

html:not(.cssclippathpolygon) .museum-details--deyoung .museum-details__inner:before {
  @include respond(
    (width, calc(100% + #{$page-margin-small}), calc(100% + #{$page-margin-medium}), calc(100% + #{$page-margin-large}))
  );
}

@include breakpoint($bp-medium){
  .museum-details__inner {
    margin-bottom: 160px;

    &:before {
      $museum-details-bg-width-med: column-span(11,1);

      left: -$page-margin-medium;
      top: 0;
      width: calc(#{$museum-details-bg-width-med} + #{$page-margin-medium});
      height: calc(100% + 80px);
    }

    &--loh {

      &:before {
        height: calc(100% - 40px);
      }
    }

    html:not(.cssclippathpolygon) &__deyoung {
      &:before {
        width: calc(100% + #{$page-margin-medium});
      }
    }
  }

  .museum-details__media {
    left: -$page-margin-medium;

    .museum-details--deyoung & {
      width: calc(74.5% + #{$page-margin-medium});
      height: 520px;

    }

    html.cssclippathpolygon .museum-details--deyoung & {
      clip-path: polygon(0 0, 100% 0, 100% 180px, 45.5% 180px, 45.5% 100%, 0 100%);
    }

    .museum-details--loh & {
      $loh-details-media-width-med: column-span(4,1);

      width: calc(#{$loh-details-media-width-med} + #{$page-margin-medium});
      height: 360px;
    }
  }

  .museum-details__text {
    @include grid-span(7,6);

    .museum-details__hours {
      float: left;
      width: 50%;
      padding-right: 3.37%;
    }

    .buy-tickets {
      float: left;
      width: 50%;
      padding-top: 0;
      margin-right: 0;
      clear: none;
    }

    .museum-details--deyoung & {
      padding-top: 220px;

      .museum-details__hours {
        float: left;
        min-height: 0;
      }
    }

    .museum-details--loh & .museum-details__hours {
      float: left;
    }

    html:not(.cssclippathpolygon) .museum-details--deyoung & {
      padding-top: 0;
      margin-top: 220px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        left: -60px;
        width: calc(100% + #{$page-margin-medium});
        height: calc(100% + 40px);
        background: color(bg, secondary);
        z-index: 1;
      }

      .museum-details__hours {
        padding-right: gutter-span(1);
        &:before {
          display: none;
        }
      }
    }
  }
}

@include breakpoint($bp-large){
  .museum-details__inner {
    &:before {
      $museum-details-bg-width-large: column-span(9,1);

      left: -$page-margin-large;
      top: 0;
      width: calc(#{$museum-details-bg-width-large} + #{$page-margin-large});
      height: calc(100% + 80px);
    }

    &--loh:before {
      height: calc(100% + 100px);
    }
  }

  .museum-details__media {
    left: -$page-margin-large;

    .museum-details--deyoung & {
      $dy-details-media-width-large: column-span(10,1);

      width: calc(#{$dy-details-media-width-large} + #{$page-margin-large});
      height: 600px;

    }

    html.cssclippathpolygon .museum-details--deyoung & {
      clip-path: polygon(0 0, 100% 0, 100% 230px, 41% 230px, 41% 100%, 0 100%);
    }

    .museum-details--loh & {
      $loh-media-width-large: column-span(4,1,12) + gutter-span(1,12);

      width: calc(#{$loh-media-width-large} + #{$page-margin-large});
      height: 270px;
    }
  }

  .museum-details__text {
    @include grid-span(7,6);

    .museum-details--deyoung & {
      padding-top: 295px;
    }

    html:not(.cssclippathpolygon) .museum-details--deyoung & {

      &:before {
        top: -40px;
        left: -60px;
        width: calc(100% + #{$page-margin-large});
        height: calc(100% + 120px);
      }
    }
  }
}

@include breakpoint($bp-xlarge) {
  .museum-details__media {

    html.cssclippathpolygon .museum-details--deyoung & {
      height: 840px;
      clip-path: polygon(0 0, 100% 0, 100% 294px, 41% 294px, 41% 100%, 0 100%);
    }

    .museum-details--loh & {
      $loh-media-width-xlarge: column-span(5,1,12);

      width: calc(#{$loh-media-width-xlarge} + #{$page-margin-large});
      height: 430px;
    }
  }

  .museum-details--deyoung .museum-details__text {
    padding-top: 355px;
  }

  .museum-details--loh .museum-details__text {
    width: 55%;
    float: right;

  }
}
