.navigation {
  background-color: rgba($color-white, 0.95);
  bottom: 100%;
  overflow: hidden;
  position: fixed;
  transition: bottom 0.4s;
  width: 100%;
  z-index: z(navigation);
}

.navigation--expanded {
  bottom: 0;
}

.navigation__logo-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $page-max-width;
  position: relative;
  width: 100%;
}

.navigation__logo {
  @include respond(
    ('display', none, block)
  );
  position: absolute;
  max-width: calc(100% - 20px);
}

.navigation__scroll-container {
  height: 100%;
  position: relative;

  .navigation--scrollable & {
    overflow: auto;
  }
}

.navigation__inner {
  position: relative;

  @include breakpoint($bp-medium) {
    @include sgs-row;
  }
}


.navigation__close-button {
  @include respond(
    ('display', none, block)
  );
  position: absolute;
  right: 0;
  top: 40px;

  svg {
    height: 24px;
    fill: color(button, base);
    width: 24px;
  }
  &:hover {
    svg {
      fill: color(button, hover);
    }
  }
}

.navigation__nav {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.navigation__nav--active {
  height: auto;
  position: relative;
}

.navigation__nav-primary {
  @include breakpoint($bp-medium) {
    display: none;
  }
}

.navigation__search-field[type="text"] {
  background-color: $color-6;
  border: none;
  display: block;
  height: 60px;
  padding-right: 70px;
  width: 100%;
  @include h8;
}

.navigation__search-button {
  position: absolute;
  right: $page-margin-small;
  position: absolute;
  top: 15px;

  svg {
    height: 30px;
    fill: color(button, base);
    width: 34px;
  }
}

.navigation__back-button {
  background-color: $color-6;
  height: 60px;
  padding-left: $page-margin-small;
  text-align: left;
  width: 100%;
  @include h8;

  @include breakpoint($bp-medium) {
    display: none;
  }

  svg {
    fill: color(button, base);
    height: 11px;
    width: 6px;
  }
}

.navigation__back-button-label {
  color: color(text, base);
  margin-left: 8px;
}

.navigation__subnav {
  @include breakpoint($bp-medium) {
    @include grid-span(3, 1);
    margin-top: 45px;
  }
}

.navigation__nav-items--level1 {
  @include respond(
    ('margin-top', 25px, 0),
    ('padding-left', $page-margin-small, 0),
    ('padding-right', $page-margin-small, 0)
  );
  &.buy {
    margin-bottom: 60px;
    a {
      color: color(button, base);
      &:hover {
        color: color(button, hover);
      }
    }
    @include breakpoint($bp-medium){
      display: none;
    }

  }
}

.navigation__nav-items--level2 {
   margin-top: 20px
}

.navigation__nav-items--level3 {
  margin-top: 20px;
  padding-left: $page-margin-small;
  position: relative;

  &::before {
    content: '';
    width: 1px;
    height: calc(80% + 0px);
    position: absolute;
    left: 0;
    top: calc(20% + 0px);
    background: color(border,grey);

  }
}

.navigation__nav-item {
  + .navigation__nav-item {
    margin-top: 28px;

    @include breakpoint($bp-medium) {
      margin-top: 23px;
    }
  }

  a {
    @include h10;
    color: color(link1, base);
    display: block;
    opacity: 0;
    text-decoration: none;
    transform: translateY(100%);
    transition: opacity 0s, transform 0s;

    &:hover {
      color: color(link1, hover);
      text-decoration: underline;
    }
  }

  .navigation__nav--active & {
    a {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.25s, transform 0.25s;
    }

    &:nth-child(2)    { a { transition-delay: 0.1s; }}
    &:nth-child(3)    { a { transition-delay: 0.2s; }}
    &:nth-child(4)    { a { transition-delay: 0.3s; }}
    &:nth-child(5)    { a { transition-delay: 0.4s; }}
    &:nth-child(6)    { a { transition-delay: 0.5s; }}
    &:nth-child(7)    { a { transition-delay: 0.6s; }}
    &:nth-child(8)    { a { transition-delay: 0.7s; }}
    &:nth-child(9)    { a { transition-delay: 0.8s; }}
    &:nth-child(n+10) { a { transition-delay: 0.9s; }}
  }
}

.navigation__nav-item--sub {
  a {
    color: color(link4, base);

    &:hover {
      color: color(link4, hover);
    }
  }
}

.navigation__dropdown-toggle {
  svg {
    fill: color(button, base);
    height: 6px;
    margin-left: 5px;
    transform: rotate(180deg);
    vertical-align: middle;
    width: 12px;
  }
}

.navigation__dropdown-toggle--active {
  svg {
    transform: rotate(0);
  }
}

.navigation__dropdown {
  display: none;
  margin-top: 0;
  overflow: hidden;
}

.navigation__dropdown-item {
  &:first-child {
    margin-top: 20px;
  }
}

.navigation__featured {
  display: none;

  @include breakpoint($bp-medium) {
    @include grid-span(8, 4);
    display: block;
    margin-top: 35px;
  }
}

.navigation__featured-title {
  @include h5;
  color: $color-8;
}

.navigation__featured-items {
  margin-top: 20px;
}

.navigation__featured-item {
  @include breakpoint($bp-medium) {
    margin-bottom: 35px;
  }

  &:nth-child(odd) {
    @include breakpoint($bp-medium) {
      @include float-span(4, 1, 8);
    }
  }

  &:nth-child(even) {
    @include breakpoint($bp-medium) {
      @include float-span(4, 5, 8);
    }
  }

  img {
    width: 100%;
  }
}

.navigation__featured-item-link {
  @include h7;
  color: color(link4, base);
  text-decoration: none;
  &:hover {
    color: color(link4, base);
  }
  .navigation__featured-item-image {
    position: relative;
    overflow: hidden;
    background: $color-black;

    img {
      display: block;
      margin: 0;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(#000, 0.5);
      left: 0;
      top: 0;
      opacity: 0;
      transition: 500ms;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

    }
  }
  span:hover {
    color: color(link4, hover);
    text-decoration: underline;
  }
}

.navigation__featured-item-title {
  display: block;
  margin-top: 10px;
}

.navigation__featured-item-date {
  @include h8;
  color: $color-8;
  display: block;
  margin-top: 15px;
}
