.press {
  //@include respond(
  //  ('margin-top', 120px, 120px, 160px)
  //);

  .press__title {
    @include h4;
    text-align: center;
  }
}

.press__items {
  padding-top: 60px;
}

.press__item {
  @include h4;

  min-height: 230px;
  margin-top: 30px;
  margin-left: 33px;
  margin-bottom: 30px;

  &:before {
    top: -30px;
    left: -36px;
  }

  a {
    @include clearfix;

    display: block;
    text-decoration: none;
    color: color(text, secondary);

    svg {
      display: inline;
      
      @include respond(
        (width, 16px, 16px, 21px),
        (height, 16px, 16px, 21px)
      );

      margin-right: 15px;
      stroke: color(text, secondary);
      fill: none;
    }

    &:hover {
      color: color(text, base);


      .underline {text-decoration: underline;}

      svg {
        stroke: color(text, base);
      }
    }
  }

  .press__item__quote {
    display: block;
  }

  .press__item__byline {
    @include body;

    display: block;
    float: left;
    margin-top: 26px;
    padding-right: 15px;
    color: color(text, secondary);
    font-style: italic;

    &:hover {
      text-decoration: none;
    }
  }

  .cta--square {
    vertical-align: top;
    margin-top: 7px;
  }

  .press__item__byline + .cta--square {
    float: left;
    margin-top: 20px;
  }

  .no-break {
    white-space: nowrap;
  }

  a:hover .no-break {
    text-decoration: none;
  }
}

@include breakpoint($bp-medium) {
  .press__item {
    float: left;
    width: column-span(5,1);
    min-height: 246px;

    &:before {
      width: 238px;
      height: 246px;
    }

    &:nth-of-type(odd) {
      margin-right: column-span(.9,1)
    }
  }
}

@include breakpoint($bp-large) {
  .press__item {
    float: left;
    width: column-span(5,1);
    min-height: 238px;

    &:before {
      width: 233px;
      height: 238px;
    }

    &:nth-of-type(odd) {
      margin-right: column-span(1,1)
    }
  }
}
