$relchild-width: 280px;

.related-events {
  @include respond(
    ('padding-bottom', 72px, 0)
  );

  max-width: $page-max-width;

  @media (max-width: $page-max-width){
    margin: {
      left: 0;
      right: 0;
    }
  }
  position: relative;

  // Line config
  &__title-inner,
  &__title-cta {
    display: inline-block;
    position: relative;
  }

  &__title,
  &__title span,
  &__title h4//, &-small
   {
    &:before,
    &:after {
      @include breakpoint($bp-large) {
        margin-top: $line-border-width-large / -2;
      }

      background: color(border, line);
      content: "";
      margin-top: $line-border-width / -2;
      position: absolute;
      top: 50%;
    }

    &:before {
      @include respond(
        ('height', $line-border-width, null, $line-border-width-large),
        ('left', calc(100% + 10px), calc(100% + 20px))
      );
      width: 100vw;

      @include breakpoint($bp-medium) {
        width: 100vw;
      }
    }
  }

  &__title {

    &:before { display: none; }
  }

  &__title-inner {
    &:before {
      @include respond(
        ('display', null, none)
      );
    }
  }

  &__title,
  &__title-cta-wrap {
    &:after {
      @include respond(
        ('width', $line-border-width, null, $line-border-width-large),
        ('margin-top', $line-border-width / 2, null, $line-border-width-large / 2),
        ('right', 0)
      );

      height: 100px;
      top: calc(50% - 15px);
    }
  }

  // line mobile only
  @media (max-width: $bp-medium - 1) {
    &__title h4:before,
    &__title-cta-wrap:before {
      display: none;
    }

    &__title {
      &:after {
        top: 13px;
        right: 20px;
        height: 450px;
      }
    }

    &__title-cta-wrap {
      @include respond(
        ('padding-left', $page-margin-small, $page-margin-medium, $page-margin-large, $page-margin-large)
      );

      bottom: 0;
      left: 0;
      overflow: hidden;
      padding-top: 22px;
      position: absolute;
      width: calc(100% - #{$page-margin-small} / 2 * 2);

      &:after {
        bottom: calc(50% - 11px);
        top: auto !important;
      }
    }
  }

  // Type
  h1 {
    @include h1;
  }

  h4 {
    @include h4;
  }

  h8 {
    @include h8;
    display: block;
  }

  // Module title
  &__title {
    @include respond(
      ('padding-bottom', 35px null, 30px),
      ('position', null, relative),
      ('margin-left', $page-margin-small, $page-margin-medium, $page-margin-large, $page-margin-large),
      ('margin-right', $page-margin-small, $page-margin-medium, $page-margin-large, $page-margin-large)
    );
    text-align: left;
    overflow: hidden;

    h4 {
      @include breakpoint($bp-medium) {
        display: flex;
        align-items: center;
      }
    }
  }

  &__view-all-cta {
    display: inline-block;
    position: relative;
    transition: all 200ms ease;
  }


  // Individual child
  &__item {
    @include respond(
      ('padding-top', 30px, null, 20px),
      ('padding-bottom', 60px, null, 80px),
      ('width', 240px, 270px, 280px)
    );

    background-color: $color-6;
    float: left;
    height: auto;
    margin: 0 2px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;

    &:first-child {
      @include respond(
        ('padding-left', $page-margin-small, $page-margin-medium, $page-margin-large, $page-margin-large),
        ('width', 240px, 275px, 340px)
      );

      background-color: transparent;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-month {
    @include respond(
      ('padding-bottom', 20px, 15px, 40px)
    );
  }

  &__item-details {
    @include respond(
      ('padding-bottom', 35px, null, 40px)
    );

    color: $color-1;
    padding-bottom: 40px;
  }

  &__item-link a {
    color: color(text, secondary);
    text-decoration: none;

    &:hover {
      color: color(text, base);
      text-decoration: underline;
    }
  }

  @for $i from 2 through 8 {
    .items-#{$i} {
      width: calc(#{$i} * #{$relchild-width} + 12px);
    }

    @media (max-width: $bp-large - 1) {
      $relchild-width: 270px;

      .items-#{$i} {
        width: calc(#{$i} * #{$relchild-width} + 12px);
      }
    }

    @media (max-width: $bp-medium - 1) {
      $relchild-width: 240px;

      .items-#{$i} {
        width: calc(#{$i} * #{$relchild-width} + 12px);
      }
    }
  }
}

.related-events-small {
  .related-events__title {
    @include respond(
      ('width', auto, 580px, 570px)
    );
  }

  // yellow border for tablet and above
  @include breakpoint($bp-medium){
    display: inline-block;
    overflow: hidden;
    padding-bottom: 48px;

    &:before {
      top:auto;
      bottom: 0;
    }

    .related-events__title {
      position: static;
      overflow: visible;
      margin-right: 0;

      h4 {
        position: relative;
        overflow: hidden;
      }

      &:before {
        display: block;
        left: auto;
        top: auto;
        bottom: 0;
        right: 0;
      }

      &:after {
        height: 100%;
        top:50px;
      }

    }
  }
}

.related-events__items--small {
  max-width: calc(2 * #{$relchild-width});

  @media (max-width: $bp-large - 1) {
    $relchild-width: 270px;
    max-width: calc(2 * #{$relchild-width});
  }

  @media (max-width: $bp-medium - 1) {
    max-width: 100%;
  }
}

.related-events__child-contain {
  position: relative;
  display: flex;
}

  //grid / item positioning
.related-events__title-inner {
  @include respond(
    ('width', null, 252px, 291px)
  );
}
