.related-stories {
  margin-left: 0;

  h4 {
    @include h4;
  }

  &__title {
    @include respond(
      ('text-align', center)
    );
  }

  // Parent container
  &__items {
    @include respond(
      ('margin-top', 40px, 60px)
    );
    overflow: hidden;
  }

  // Individual child
  &__item {
    position: relative;

    &:after {
      @include respond(
        ('width', $line-border-width, null, $line-border-width-large)
      );
      content: "";
      position: absolute;
      top: 0;
      left: calc(100% + 18px);
      transform: translateX(-50%);
      height: 100%;
      background: color(related);
    }

    &:last-child {
      &:after { display: none; }
    }
  }

  &__item-title {
    position: relative;
    padding: 25px 0 0 25px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: auto;
      padding-top: (3 / 4) * 100%;
      top: 0;
      z-index: -1;
      box-shadow: color(border,25) $line-border-width $line-border-width 0 inset;

      @include breakpoint($bp-large){
        box-shadow: color(border,25) $line-border-width-large $line-border-width-large 0 inset;
      }
    }
  }

  &__image + &__item-title {
    @include respond(
      ('margin-top', 10px, 10px, 20px)
    );

    padding: 0;

    &:before { display: none;}
  }

  .no-break {
    white-space: nowrap;
  }

  a:hover svg {
    text-decoration: none;
    stroke: color(text, base);
  }

  svg {
    stroke: color(text, secondary);
    width: 15px;
    height: 15px;
    @include respond(
      ('width', 15px, 15px, 18px),
      ('height', 15px, 15px, 18px)
    );
  }

  .media-link {
    display: block;
    position: relative;
    height: auto;
    top: auto;
    left: auto;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($color-black, 0.5);
      opacity: 0;
      transition: opacity 200ms ease;
    }

    &:hover:after {
      opacity: 1;
    }
  }

  &__image img {
    display: block;
    width: 100%;
  }

}

//grid / item positioning
.related-stories__items {
  @include respond(
    ('width', calc(100% + 20px), calc(100% + 25px), calc(100% + 40px))
  );
  position: relative;
  overflow: hidden;
}

.related-stories__child-contain {
  position: relative;
  display: flex;

  &.items-3 { @include grid-span(4.5 * 3); margin: 0; }
  &.items-4 { @include grid-span(4.5 * 4); margin: 0; }
  &.items-5 { @include grid-span(4.5 * 5); margin: 0; }
  &.items-6 { @include grid-span(4.5 * 6); margin: 0; }

  @include breakpoint($bp-medium) {
    &.items-3 { @include grid-span(5 * 3); margin: 0; }
    &.items-4 { @include grid-span(5 * 4); margin: 0; }
    &.items-5 { @include grid-span(5 * 5); margin: 0; }
    &.items-6 { @include grid-span(5 * 6); margin: 0; }
  }

  @include breakpoint($bp-large) {
    &.items-3 { @include grid-span(5 * 3); margin: 0; }
    &.items-4 { @include grid-span(5 * 4); margin: 0; }
    &.items-5 { @include grid-span(5 * 5); margin: 0; }
    &.items-6 { @include grid-span(5 * 6); margin: 0; }
  }

}

.related-stories__item {
  @include grid-span(4.5);
  margin: 0;
  margin-left: 36px;

  &:first-child {
    @include respond(
      ('margin-left', $page-margin-small, $page-margin-medium, $page-margin-large)
    );
  }

  &:last-child {
    @include respond(
      ('margin-right', 20px, 25px, 40px)
    );
  }

  @include breakpoint($bp-medium) {
    @include grid-span(5);
    margin: 0;
    margin-left: 36px;
  }

  @include breakpoint($bp-large) {
    @include grid-span(5);
    margin: 0;
    margin-left: 36px;
  }
}
