.special-ticket {

  @include breakpoint($bp-medium){
    .ticket__info-details  {
      @include grid-span(7.4, 2.55);
    }
    .ticket__info-body {
      @include grid-span(7.4,10.1);
    }
  }

  @include breakpoint($bp-large){
    .ticket__info-details  {
      @include grid-span(6.7,4.5);
    }
    .ticket__info-body {
      @include grid-span(6.7,11.5);
    }
  }

  .ticket__info {
    @include respond(
      ('padding-bottom', 60px, null, 80px)
    );
  }
  
  .ticket__info-title  {
    @include respond(
      ('padding-top', 50px, null, 60px)
    );
  }
  
  .h8-special {
    color: color(text, white);

    &, &:before, &:after {
      border-color: color(text, white);
    }
  }

  .ticket__info-body {
    @include respond(
      ('margin-top', null, 123px)
    );
  }
}