.ticker {
  @include respond(
    ('width', 0, 475px, 650px)
  );
  height: 34px;
  overflow: hidden;
  position: relative;
}

.ticker__inner {
  position: absolute;
  right: 0;
  transform: translate3d(0,0,0);
  white-space: nowrap;

  .ticker--animating & {
    right: auto;
  }
}

.ticker__message {
  @include h8;
  color: color(text, highlight);

  + .ticker__message {
    display: none;

    &:before {
      display: inline-block;
      content: "/";
      margin-right: 8px;
      margin-left: 6px;
    }
  }

  .ticker--animating & {
    display: inline-block;
  }

  svg {
    fill: color(icon, base);
    height: 26px;
    margin-right: 5px;
    vertical-align: middle;
    width: 26px;
  }
}
