.visit-notification {
  @include respond(
    ('padding-bottom', 20px, 30px, 40px),
    ('padding-top', 20px, 30px, 40px)
  );
  margin-bottom: 0;
  background-color: color(bg, visitNotification);

  .slider {
    @include clearfix;

    .slick-list {
      @include breakpoint($bp-medium) {
        @include grid-span(9, 2);
      }
    }

    .slick-arrow {
      bottom: auto;
      left: auto;
      margin-top: 0;
      right: 0;
      top: -8px;
      transform: translateY(-100%);

      @include respond(
        ('height', 32px, 38px, 50px),
        ('width', 12px, 15px, 18px)
      );

      @include breakpoint($bp-medium) {
        @include centerer(false, true);
      }
    }

    .slick-prev {
      right: column-span(1, 1) + gutter-span();

      @include breakpoint($bp-medium) {
        right: column-span(1, 1) + gutter-span();
      }
    }

    .slick-dots {
      bottom: auto;
      left: auto;
      right: calc(((#{column-span(1, 1)} + #{gutter-span()}) / 2) + 6px);
      top: -31px;
      transform: translateX(50%);

      @include breakpoint($bp-medium) {
        @include centerer(false, true);
        right: calc(((#{column-span(1, 1)} + #{gutter-span()}) / 2) + 8px);
        transform: translate(50%, -50%);
      }
    }
  }
}

.visit-notification__icon {
  @include breakpoint($bp-medium) {
    @include centerer(false, true);
  }

  svg {
    @include respond(
      ('height', 34px, 43px, 50px),
      ('width', 35px, 44px, 52px)
    );
    display: block;
    fill: $color-black;
  }
}

.visit-notification__items {
  @include respond(
    ('margin-top', 5px, 0)
  )
}

.visit-notification__item {
  display: none;
  font-style: italic;
}
