.visit-intro {
  @include respond(
    ('padding-top', 15px, 30px, 70px)
  );
  
  .visit-intro--inner {
    @include grid-span(6);
    @include breakpoint($bp-medium) {
      @include grid-span(10.8);
    }
    @include breakpoint($bp-large) {
      @include grid-span(9,2);
    }

  }
  .visit-intro--inner__text {
    padding: 10px 0 0;
    @include breakpoint($bp-medium) {
      padding: 25px 0 0;
    }
  }
}