.visit-ticket {

  @include breakpoint($bp-large){
    .ticket__info-details {
      @include grid-span(5.8);
    }
    .ticket__info-body {
      @include grid-span(7.85, 7.2);
      margin-top: 23px;
    }
  }

  .ticket__info {
    @include respond(
      ('padding-bottom', 40px, 60px, 80px),
      ('margin-bottom', 40px, 0)
    );
  }

  .ticket__hero {

    .media-bg {
      @include respond(
        ('clip-path',
          polygon(180px 0, 100% 0, 100% 100%, 0 100%, 0 45px, 180px 45px),
          polygon(180px 0, 100% 0, 100% 100%, 0 100%, 0 50px, 180px 50px),
          polygon(215px 0, 100% 0, 100% 100%, 0 100%, 0 60px, 215px 60px)
        )
      );
    }
  }

  .ticket__info-title {
    @include respond(
      ('height', 45px, 50px, 60px),
      ('margin-bottom', 40px, null, 70px)
    );
  }

  .ticket__info-body {
    @include respond(
      ('margin-top', null, null, 152px)
    );
  }

  html:not(.cssclippathpolygon) & .ticket:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    @include respond(
      (width, 180px, 180px, 215px),
      (height, 45px, 50px, 60px),
      (margin-left, -#{$page-margin-small}, -#{$page-margin-medium}, -#{$page-margin-large})
    );
    border-top: 1px solid $color-white;
    background: $global-page-background;

  }

}

.museum-map {
  @include respond((margin-top, 40px, null, 60px));

  position: relative;
  clear: left;

}

.museum-map__figure-svg {
  @include aspect-ratio(60,35);

  svg {
    stroke: $color-5;
    stroke-width: 3px;
    fill: transparent;
  }
}

.museum-map__text {
  @include respond(
    (top, 40px, null, 60px)
  );
  position: absolute;
  left: 0;
  z-index: 5;
}

@include breakpoint($bp-large) {
  .museum-map__figure {
    @include grid-span(7.85);
  }
  .museum-map__text {
    @include grid-span(5.8, 7.19);
    top:80px;
  }
}
