// FAMSF landing page specific overrides
.header--landing {
  // header nav
  @include respond(
    (background-color, $color-8, $color-white)
  )

  .header__nav-toggle {
    background-color: $color-1;
    transition: all .2s ease;

    &:hover {
      background-color: $color-2;
    }
  }

  .header__logo {
    margin: 0;
  }

  .header__logo-inner {
    a {
      @include respond(
        ('padding', 15px 20px 15px 0, 15px 30px, 12px 35px),
        (width, 200px, 190px, 220px)
      );
      @include h8;

      background: $color-8;
      text-decoration: none;
      color: $color-white;
      -webkit-font-smoothing: antialiased;
    }

    &:before, &:after {
      display: none;
    }
  }
}

.page--landing {
  // Map module
  // Pins & arrows
  .map__pin,
  .map__pin-arrow,
  .map__pin-arrow:before {
    transition: all 0.2s ease;
  }

  .map__pin:hover {
    background: color(map,pin2);
    color: color(map,link2);

    &:before, &:after {
      border-top-color: color(map, link2);
      border-right-color: color(map, link2);
    }

    .map__pin-arrow,
    .map__pin-arrow--right {
      &:before {
        border-color: transparent transparent color(map,pin2) transparent;
      }
    }
  }

  // Grid module
  // Blocks
  .block--text {
    .no-break {
      margin-left: 10px;
      white-space: nowrap;
    }

    .underline {
      text-decoration: underline;
    }

    svg {
      height: 18px;
      stroke: $color-8;
      width: 18px;
    }

    a {
      text-decoration: none;

      &:hover {
        svg { stroke: $color-1; }
      }
    }

    &:before {
      display: none;
    }
  }
}

// Footer module
.landing--footer {
  .footer__sections {
    width: 100%;
  }

  .footer__inner {
    padding-top: 0;
    overflow: visible;

    &:before {
      @include respond(
        ('height', 520px, 240px, 250px)
      );
    }
  }

  // section ordering
  .footer__about      { order: 0; }
  .footer__nav        { order: 1; }
  .footer__newsletter { order: 2; }
  .footer__site-info  { order: 3; }

  @include breakpoint($bp-medium) {
    .footer__about,
    .footer__nav,
    .footer__newsletter,
    .footer__site-info  { order: 0; }
  }

  .footer__about {
    height: auto;
    order: 0;
    position: static;

    article {
      font-size: 18px;
      line-height: 20px;
    }

    h2 {
      margin-bottom: 25px;
      max-width: 175px;
    }
  }

  .footer__newsletter {
    @include respond(
      ('margin-top', 40px, 4px, -10px)
    );
  }

  .footer__social {
    ul {
      width: auto;
      margin-bottom: 0;
    }

    li {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer__nav {
    @include respond(
      ('margin-top', 30px, 10px),
      ('margin-bottom', null, 30px)
    );
  }

  .footer__site-info {
    @include respond(
      ('margin-top', null, 75px, 95px)
    );
  }

  .footer__copyright {
    @include respond(
      ('padding-top', null, 20px, 30px),
      (width, 100%, column-span(6.02,1,12), column-span(4.88,1,12), column-span(4.90,1,12))
    );
    margin: 0;
    float: right;
    text-align: left;
  }

  .footer__phone {
    @include respond(
      ('margin-top', null, 20px, null)
    );
  }
}
