<section class="article [ wysiwyg module container transition ]">
  <p>Constructed of warm, natural materials including copper, stone, wood and glass, the new de Young blends with and complements its natural surroundings. Ribbons of windows erase the boundary between the museum interior and the lush natural environment outside, and four public entrances segue naturally from the park’s pathways, welcoming visitors from all directions.</p>

  <p>The building’s dramatic copper facade is perforated and textured to replicate the impression made by light filtering through a tree canopy, creating an artistic abstraction on the exterior of the museum that resonates with the de Young's tree-filled park setting. The building's copper skin, chosen for its changeable quality through oxidation, will assume a rich patina over time that will blend gracefully with the surrounding natural environment.</p>

  <p>The northeast corner of the building features a 144-foot tower that gently spirals from the ground floor and aligns at the top with the grid formed by the streets of the Richmond and Sunset neighborhoods surrounding the park. A <a href="/">public observation floor</a> offers panoramic views of the entire Bay Area.</p>

  <h2>The Architects</h2>

  <ul>
    <li><strong>Primary Designer:</strong> Herzog &amp; de Meuron, Basel, Switzerland, and San Francisco, California</li>

    <!-- @NOTE(Andrew): Styled external link: requires CSS class and inline SVG, no space between text and SVG. -->
    <li><strong>Principal Architects:</strong> <a class="link--external" href="/" target="_blank">Fong &amp; Chan Architects<svg role="img"><use xlink:href="img/icons/icons.svg#offsite_link"></use></svg></a>, San Francisco, California</li>

    <li><strong>Landcape Architect:</strong> Walter Hood, Hood Design, Oakland, California</li>
    <li><strong>Contractor:</strong> Swinerton and Walberg Builders</li>
    <li><strong>Nested Items:</strong>
      <ul>
        <li><strong>Item one:</strong> Lorem ipsum dolor sit amet</li>
        <li><strong>Item two:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
      </ul>
    </li>
    <li><strong>Lorem ipsum</strong></li>
  </ul>

  <div class="article__media">
    <div class="content">
      <img src="/img/fpo-16x9-1.jpg" alt="Image alt text">
    </div>

    <p class="article__media__caption">Image caption dolor sit amet, consectetur adipisicing elit</p>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <p>
    <!-- @NOTE(Andrew): Styled download link: requires CSS class and inline SVG, no space between SVG and text. -->
    <a class="link--download" href="/"><svg role="img"><use xlink:href="img/icons/icons.svg#download"></use></svg>Download original early sketches</a>
  </p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <div class="article__media">
    <div class="content"><img src="{{article.image}}" alt="Image alt text"></div>
    {{> media-overlay-button }}
  </div>

  <h2>Major Design Features</h2>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h3>Landscape Design</h3>

  <p>The outdoor environment of the new de Young features a public sculpture garden and terrace beneath a cantilevered roof; a children’s garden; and landscaping that creates an organic link between the building and the surrounding environment on all four sides.</p>

  <ol>
    <li>The sphinx sculptures</li>
    <li>The Pool of Enchantment</li>
    <li>The original palm trees</li>
    <li>Nested items
      <ol>
        <li>Item one</li>
        <li>Item two</li>
      </ol>
    </li>
    <li>Lorem ipsum</li>
  </ol>

  <p>As well as sandstone, redwood, ferns and other plants and materials relevant to the site, creating a museum that is permeable, open, and inviting to the public.</p>
</section>

<!-- @NOTE(Andrew): BEGIN: THIS IS FOR FE DEV/QA ONLY: REMOVE THIS SECTION BEFORE CMS INTEGRATION -->
{{> blockquote }}

<section class="article [ wysiwyg module container transition ]">

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <h2>Lorem Ipsum</h2>

  <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<!-- END: THIS IS FOR QA ONLY: REMOVE THIS SECTION BEFORE CMS INTEGRATION -->
