<!-- BEGIN MODULE: BLOCKQUOTE : {{ blockquote.type }} -->
<div class="blockquote blockquote--{{ blockquote.type }} [ container module ] transition">
  <div class="blockquote__sections">
    <section class="blockquote__bg u-content-box"></section>
    <div class="blockquote__inner [ u-df u-flexww u-jcsb ]">
      {{#if blockquote.title }}
      <section class="blockquote__title">
        <h2 class="h8 u-highlight">{{{ blockquote.title }}}</h2>
      </section>
      {{/if}}
      <section class="blockquote__text">
        <div class="blockquote__body h4">
          {{{ blockquote.body }}}
        </div>
        {{#if blockquote.byline }}
        <p class="blockquote__byline u-caption">
          {{{ blockquote.byline }}}
        </p>
        {{/if}}
      </section>
    </div>
  </div>
</div>
<!-- END MODULE: BLOCKQUOTE -->
