<div class="body-module container module transition js-body-module">
    <div class="body-module-content">
        <p><a href="#">Herbst Exhibition Galleries</a>. Ed Ruscha and the Great American West includes 99 works that reveal the artist’s engagement with the American West and its starring role in our national mythology. This exclusive exhibition has been organized by the Fine Arts Museums of San Francisco and celebrates the career of one of the world’s most influential and critically acclaimed artists.</p>
        <p>In 1956, at the age of 18, Ed Ruscha left his home in Oklahoma and drove a 1950 Ford sedan to Los Angeles, where he hoped to attend art school. His trip roughly followed the fabled Route 66 through the Southwest, which featured many of the sights—auto repair shops, billboards, and long stretches of roadway punctuated by telephone poles—that would provide him with artistic subjects for decades to come.</p>
    </div>
    {{> cta  label='Show More +' classes='showmore-cta'}}
</div>

