<!-- BEGIN MODULE: BREAKER -->
<div class="breaker module u-fullwidth-1800 transition">
  <div class="breaker__sections {{breaker.classes.sections}}">
    <section class="breaker__hero">
      <div class="media-bg" data-bg="img/{{breaker.hero.img}}"></div>
      <div class="{{breaker.classes.heroOverlay}}"></div>
    </section>
    <section class="breaker__text container {{breaker.classes.text}}">
      <div class="breaker__text-inner {{breaker.classes.textInner}}">
        {{#if breaker.title }}<h2 class="breaker__title h8 {{breaker.classes.title}}">{{{breaker.title}}}</h2>{{/if}}
        {{#if breaker.body }}<div class="breaker__body h3 {{breaker.classes.body}}">{{{breaker.body}}}</div>{{/if}}
      </div>
    </section>
  </div>
</div>
<!-- END MODULE: BREAKER -->
