<div class="calendar module js-calendar">
  <div class="calendar__inline container js-calendar--inline">
    <div class="calendar__wrapper js-calendar--wrapper"></div>
  </div>
  <div class="calendar__fixed js-calendar--fixed">
    <div class="calendar__wrapper js-calendar--wrapper"></div>
  </div>
</div>

<script id="calender-template" type="text/template">
  <h3 class="calendar__title js-calendar--title h3">
    <span class="calendar__month js-calendar--month"><%= month %></span>
    <span class="calendar__date js-calendar--date"></span>
  </h3>

  <div class="calendar__open js-calendar--open">
    <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
  </div>

  <div class="calendar__close js-calendar--close">
    <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#header_cross"></use></svg>
  </div>

  <div class="calendar__head">
    <div class="calendar__nav js-calendar--nav">
      <a class="calendar__link calendar__link--prev js-calendar--prev">
        <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
      </a>
      <a class="calendar__link calendar__link--next js-calendar--next">
        <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_right"></use></svg>
      </a>
    </div>
  </div>

  <div class="calendar__grid js-calendar--grid">
    <div class="calendar__row clearfix">
      <% _.each(daysOfTheWeek, function(day) { %>
        <h4 class="calendar__cell h4">
          <span class="calendar__item"><%= day %></span>
        </h4>
      <% }); %>
    </div>
    <div class="calendar__row clearfix">
      <% _.each(days, function(day) { %>
        <h8 class="h8 <%= day.classes %> calendar__cell">
          <span class="calendar__item"><%= day.day %></span>
        </h8>
      <% }); %>
    </div>
  </div>
</script>
