<section class="carousel-marquee js-carousel-marquee module u-fullwidth-1800">
  <ul class="carousel-marquee__items slider">
    <li class="carousel-marquee__item carousel-marquee__item--announcement carousel-marquee__item--announcement-1">
      <div class="carousel-marquee__item-image media-bg" data-bg="img/fpo-marquee-4.jpg">
        <img data-src="img/fpo-marquee-4.jpg" alt="Image alt text">
      </div>

      <div class="carousel-marquee__item-content container">
        <div class="carousel-marquee__item-content-inner">
          <h3 class="carousel-marquee__item-tag">Education</h3>
          <h2 class="carousel-marquee__item-title">The <a href="/">Museum Ambassador Program</a> is a two-part program.</h2>
        </div>
      </div>
    </li>

    <li class="carousel-marquee__item">
      <div class="carousel-marquee__item-image media-bg" data-bg="img/fpo-marquee-1.jpg">
        <img data-src="img/fpo-marquee-1.jpg" alt="Image alt text">
      </div>
      <div class="carousel-marquee__item-content container">
        <div class="carousel-marquee__item-content-inner">
          {{> callout label='Coming Soon' classes='carousel-marquee__item-callout'}}
          <h2 class="carousel-marquee__item-title">Frank Stella: A Retrospective</h2>
          {{> cta url='/' label='View Exhibitions' classes='carousel-marquee__item-cta'}}
        </div>
      </div>
    </li>

    <li class="carousel-marquee__item carousel-marquee__item--announcement carousel-marquee__item--announcement-2">
      <div class="carousel-marquee__item-image media-bg" data-bg="img/fpo-marquee-1.jpg">
        <img data-src="img/fpo-marquee-1.jpg" alt="Image alt text">
      </div>
      <div class="carousel-marquee__item-content container">
        <div class="carousel-marquee__item-content-inner">
          <h3 class="carousel-marquee__item-tag">Education</h3>
          <h2 class="carousel-marquee__item-title">The <a href="/">Museum Ambassador Program</a> is a two-part program.</h2>
        </div>
      </div>
    </li>

    <li class="carousel-marquee__item">
      <div class="carousel-marquee__item-image media-bg" data-bg="img/fpo-marquee-2.jpg">
        <img data-src="img/fpo-marquee-42jpg" alt="Image alt text">
      </div>
      <div class="carousel-marquee__item-content container">
        <div class="carousel-marquee__item-content-inner">
          <h2 class="carousel-marquee__item-title">Frank Stella: A Retrospective</h2>
        </div>
      </div>
    </li>

    <li class="carousel-marquee__item carousel-marquee__item--announcement carousel-marquee__item--announcement-3">
      <div class="carousel-marquee__item-image media-bg" data-bg="img/fpo-marquee-4.jpg">
        <img data-src="img/fpo-marquee-4.jpg" alt="Image alt text">
      </div>
      <div class="carousel-marquee__item-content container">
        <div class="carousel-marquee__item-content-inner">
          <h3 class="carousel-marquee__item-tag">Education</h3>
          <h2 class="carousel-marquee__item-title">The <a href="/">Museum Ambassador Program</a> is a two-part program.</h2>
        </div>
      </div>
    </li>
  </ul>
</section>
