<div class="cinematic-gallery module u-fullwidth-1400 transition">
    <h1 class="h4">{{ cinematicGallery.title }}</h1>
    <div class="cinematic-gallery--content ">
        <div class="gallery-controls__numbers">
            <span class="o-h3 mod-image-gallery__paging js-gallery--current">1</span>
            <span class="o-h6">/</span>
            <span class="o-h3 mod-image-gallery__paging js-gallery--total">12</span>
        </div>
        <div class="cinematic-gallery--items js-cinematic-gallery">
            {{#each cinematic as |item|}}
            <div class="gallery-item {{ item.mediaData.type }}" data-item="{{ item.image }}" style="background-image: url({{ item.image }})">
                <div class="content">
                    {{> media-overlay-button exhibition-hero=item}}
                </div>

            </div>
            {{/each}}
        </div>

        <div class="cinematic-gallery--caption js-cinematic-gallery-caption">
            {{#each cinematic as |item|}}
                <div class="gallery-caption--item">
                    <em> {{ item.caption }}</em>
                </div>
            {{/each}}
        </div>


    </div>
</div>