<!-- BEGIN MODULE: CIRCULATION -->

<section class="circulation {{#if circulation.has2Item}} two-up {{/if}} [ transition container module ]">
    {{#each circulation.items as |item|}}
        <div class="circulation__item">
            <a href="{{item.url}}">{{item.title}}</a>
        </div>
    {{/each}}
</section>

<!-- @NOTE(Andrew): If ONLY two items are present, module needs .two-up class in order to center properly. Note that if there are more than three, bottom row should never center even if it only has 1 or 2 items (no class needed). For examples see fe-circulation.html -->
<!-- END MODULE: CIRCULATION -->
