<!-- BEGIN MODULE: EDITORIAL -->
<div class="editorial [ js-editorial container module ] transition">
  <section class="editorial__title">
    <h1 class="h4"><span>{{editorial.title}}</span></h1>
  </section>
  <div class="editorial__scroll--container">
      <section class="editorial__scroll">
        <div class="editorial__items [ u-df u-flexww u-jcsb ]">
          {{#each editorial.items as |item| }}
          <div class="editorial__item [ u-span4 {{item.classes.cont}} ]">

            {{#if item.hero.img}}
            <div class="editorial__item__hero media-bg" data-bg="img/{{item.hero.img}}">
              <a href="{{item.url}}" class="editorial__item__link media-link {{item.classes.heroLink}}"></a>
            </div>
            {{/if}}

            <article class="editorial__item__text">
              {{#if item.category }}<h3 class="editorial__item__category h8 u-highlight">{{item.category}}</h3>{{/if}}
              <h2 class="editorial__item__title h4">
                <a href="{{item.url}}" class="link-dk-grey">{{{item.title}}}</a>
              </h2>
              {{#if item.body }}
              <div class="editorial__item__body">
                {{{item.body}}}
              </div>
              {{/if}}
              {{#if item.date }}<h3 class="editorial__item__date h8">{{{item.date}}}</h3>{{/if}}
            </article>
          </div>
          {{/each}}
        </div>
      </section>
  </div>
</div>
<!-- END MODULE: EDITORIAL -->
