<div class="events-listing grid-titled container module transition">
  <h3 class="h3"><span>Events Listing</span></h3>

  <div class="events-listing__filter js-events-filter">
    <div class="events-listing__filter__cell">
      <span class="events-listing__filter__label">Sort by date:</span>
      <div class="events-listing__date">
        <a class="events-listing__date__prev js-events-filter--nav js-events-filter--prev">
          <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
        </a>
        <a class="events-listing__date__next js-events-filter--nav js-events-filter--next">
          <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_right"></use></svg>
        </a>
        <h8 class="events-listing__date__label h8 js-events-filter--date"></h8>
      </div>
    </div>
  </div>

  {{> events-listing-blocks }}
</div>
