<div class="exhibition-hero {{ exhibition-hero.type}}">
    <div class="exhibition-hero--content u-fullwidth-1800" style="background-image: url('{{ exhibition-hero.image}}');">
        {{> media-overlay-button }}
    </div>
    <div class="exhibition-hero--item container">
        <div class="exhibition-hero--text">
            <h3 class="h3">Kay Sekimachi:<br/> Student, Teacher, Artist</h3>
            <h4 class="h8">April 23, 2016 – November 6, 2016</h4>
        </div>
    </div>
</div>

<!-- @NOTE(Andrew): Media type can be image or video, please see src/templates/objects/media-overlay-button.hbs for implementation details -->
