<section class="featured-video module container transition">
  <div class="featured-video__media" >
    <div class="content"><img src="{{featured-video.image}}" alt="Image alt text"></div>

    {{> media-overlay-button }}
  </div>

  <div class="featured-video__text">
    <h2 class="featured-video__title">Behind The Scenes Tour of the Exhibition</h2>

    <p>Ruscha continues to work steadily at the age of 78, and this exhibition includes prints made as recently as 2015. He maintains a studio in the California desert and makes regular road trips through the spare and evocative landscapes that first inspired him as a young man.</p>
  </div>
</section>
