<!-- BEGIN MODULE: FEATURE -->
<div class="feature container">
  <h1 class="feature__title h4 u-tac">Currently on Display</h1>
  {{#each collections.features as |feature|}}
    {{> collection collection=feature }}
  {{/each}}
</div>
<!-- END MODULE: FEATURE -->
