<section class="figures module transition js-figures">
  <div class="figures__inner">
    <h2 class="figures__title">Architecture Details</h2>
    <ol class="figures__list slider slider--dark">
      <li class="figures__list-item figures__list-item-1">
        <div class="line">
          <h3 class="figures__list-title">Building Features</h3>
          <ul class="figures__sublist">
            <li class="figures__sublist-item">Building Size: 293,000 sq ft</li>
            <li class="figures__sublist-item">Permanent Collection Galleries: 73,200 sq ft</li>
            <li class="figures__sublist-item">Temporary Exhibition Galleries: 12,000 sq ft</li>
            <li class="figures__sublist-item">Other Art Display Areas: 11,000 sq ft</li>
            <li class="figures__sublist-item">Education Areas: 20,000 sq ft</li>
            <li class="figures__sublist-item">Conservation Facilities: 13,200 sq ft</li>
          </ul>
        </div>
      </li>
      <li class="figures__list-item figures__list-item-2">
        <div class="line">
          <h3 class="figures__list-title">Landscape Features</h3>
          <ul class="figures__sublist">
            <li class="figures__sublist-item">Sculpture Garden: 35,000 sq ft</li>
            <li class="figures__sublist-item">Childrens’ Garden: 47,500 sq ft</li>
            <li class="figures__sublist-item">Entry Court: 1,100 sq ft</li>
            <li class="figures__sublist-item">Conservation Facilities: 13,200 sq ft</li>
          </ul>
        </div>
      </li>
      <li class="figures__list-item figures__list-item-3">
        <div class="line">
          <h3 class="figures__list-title">Visitor Amenities</h3>
          <ul class="figures__sublist">
            <li class="figures__sublist-item">Museum Store: 3,900 sq ft</li>
            <li class="figures__sublist-item">Cafe: 3,700 sq ft</li>
            <li class="figures__sublist-item">Auditorium/Lecture Hall: 3,900 sq ft</li>
            <li class="figures__sublist-item">Tower Observation Floor: 2,500 sq ft</li>
          </ul>
        </div>
      </li>
      <li class="figures__list-item figures__list-item-4">
        <div class="line">
          <h3 class="figures__list-title">Park &amp; Surroundings</h3>
          <ul class="figures__sublist">
            <li class="figures__sublist-item">Music Concourse</li>
            <li class="figures__sublist-item">Golden Gate Park</li>
            <li class="figures__sublist-item">Japanese Tea Garden</li>
            <li class="figures__sublist-item">Conservatory of Flowers</li>
          </ul>
        </div>
      </li>
    </ol>
  </div>
</section>
