<!-- BEGIN MODULE: SITE FOOTER -->
<footer class="footer">
	<div class="footer__inner">
		<div class="footer__container container">

      <div class="footer__sections [ u-df u-flexww u-jcsb ]">

        <section class="footer__site-name [ u-asfe@m ]">
          <h2 class="h7 u-grey-dark">{{ siteName }} Museum</h2>
        </section>

        <section class="footer__nav h8">
          <ul>
            <li><a href="/" title="About">About</a></li>
            <li><a href="/" title="E-News">E-News</a></li>
            <li><a href="/" title="Press Room">Press Room</a></li>
            <li><a href="/" title="Employment">Employment</a></li>
            <li><a href="/" title="Contact">Contact</a></li>
            <li><a href="/" title="Privacy">Privacy</a></li>
            <li><a href="/" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
          </ul>
        </section>

        <section class="footer__figure">
          <div class="footer__figure-box">
           <img data-src="img/footer_figure.png" />
          </div>
        </section>

        <section class="footer__site-info">
          <div>{{ footer.address.line1 }}</div>
          <div>{{ footer.address.line2 }}</div>
          <div>San Francisco, CA {{ footer.address.postalCode }}</div>
          <div class="footer__phone">
            <a class="footer__phone-link h9" href="tel:4157503600">
              <svg role="img"><use xlink:href="img/icons/icons.svg#footer_phone"></use></svg>415.750.3600
            </a>
          </div>
        </section>

        <!-- BEGIN MODULE: NEWSLETTER -->
        <section class="footer__newsletter js-newsletter">
          <form id="ajax-newsletter" method="post" action="ajax-newsletter.html" novalidate>
            <h2 class="h8">Sign up for our newsletter</h2>
            {{> textfield textfield=global.footer.newsletter}}
          </form>
        </section>
        <!-- END MODULE: NEWSLETTER -->

        <section class="footer__about h8 [ u-df u-flexdc u-jcc ]">
          <article>
            <h2><a href="/" title="" alt="">Fine Arts Museum of San Francisco</a></h2>
            <div><a href="/" title="de Young">de Young</a></div>
            <div><a href="/" title="Legion of Honor">Legion of Honor</a></div>
          </article>
        </section>

        <section class="footer__social">
          <ul class="[ u-dif u-flexww u-jcsb ]">
            <li><a href="/" title="Facebook"><svg role="img"><use xlink:href="img/icons/icons.svg#footer_social_facebook"></use></svg></a></li>
            <li><a href="/" title="Twitter"><svg role="img"><use xlink:href="img/icons/icons.svg#footer_social_twitter"></use></svg></a></li>
            <li><a href="/" title="Instagram"><svg role="img"><use xlink:href="img/icons/icons.svg#footer_social_instagram"></use></svg></a></li>
            <li><a href="/" title="Tumblr"><svg role="img"><use xlink:href="img/icons/icons.svg#footer_social_tumblr"></use></svg></a></li>
            <li><a href="/" title="YouTube"><svg role="img"><use xlink:href="img/icons/icons.svg#footer_social_youtube"></use></svg></a></li>
            <li><a href="/" title="TripAdvisor"><svg role="img"><use xlink:href="img/icons/icons.svg#footer_social_tripadvisor"></use></svg></a></li>
            <li><a href="/" title="TripAdvisor"><svg role="img"><use xlink:href="img/icons/icons.svg#footer_social_pinterest"></use></svg></a></li>
          </ul>
        </section>
      </div>
		</div>
	</div>
  <div class="footer__container">
    <div class="footer__copyright">
      &copy;2016 Fine Arts Museums of San Francisco
    </div>
  </div>
</footer>
<!-- END MODULE: SITE FOOTER -->
