<!-- BEGIN MODULE: GENERAL ARTICLE HEADER -->
<div class="general-article container">
  <div class="general-article__header">
    <div class="general-article__inner">
      <h5 class="general-article--category">Architecture - History - Design</h5>
      <h3 class="general-article--title">{{pageTitle}}</h3>
      <h5 class="general-article--author-date">By James Anderson / Oct 12, 2016</h5>
    </div>
    </div>
</div>
<!-- END MODULE: GENERAL ARTICLE HEADER -->
