<div class="general-info {{#if isSingle}}is-single{{/if}} {{#if isFull}}is-full{{/if}} container module transition">
    {{#if isSingle}} <div class="is-single--info"> {{/if}}
    <section class="general-info__title">
        <h2 class="h4"><span>{{ gen-info.details.title}}</span></h2>
    </section>
    {{#if gen-info.special}}
        <div class="general-info--special">
            {{#each gen-info.details.content as |item|}}
                <div class="general-info--special__item">
                    <div class="general-info--special__media ">
                        <a class="content" href="{{item.link}}">
                            <img class="{{item.orientaion}}" src="{{item.image}}" alt="{{item.cname}}"/>
                        </a>
                    </div>
                    <h3 class="h8 general-info--special__text">
                        <a href="{{item.link}}">{{item.cname}}</a>
                    </h3>
                </div>

            {{/each}}
        </div>
    {{ else }}
        <div class="general-info__text">
            {{{ gen-info.details.content }}}
        </div>
    {{/if}}
    {{#if isSingle}}</div> {{/if}}


</div>
