<!-- BEGIN MODULE: SITE HEADER -->
{{#if hasTall}}
<header class="header header--tall js-header">
  <div class="header__inner container">
    <div class="header__logo">
      <div class="header__logo-inner">
        <a href="/">
          {{#if isLanding}}
          Fine Arts Museums <br>
          of San Francisco
          {{ else }}
          <img src="img/site-logo-white.png" alt="{{ siteName }} logo">
          {{/if}}
        </a>
      </div>
    </div>
    <div class="header__top">
      {{> ticker classes='header__ticker'}}
      {{> cta url='/' label='Buy Tickets' classes='header__buy-tickets-cta'}}
    </div>
    <div class="header__bottom">
      <nav class="header__nav">
        <ul class="header__nav-items">
          {{#each header.navigationItems}}
            <li class="header__nav-item {{this.class}}">
              <a href="{{this.href}}" {{#if this.target}}data-target=".{{this.target}}"{{/if}}>{{this.title}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
      <button class="header__search-button">
        <span class="screen-reader-text">Search</span>
        <svg role="img">
          <use xlink:href="img/icons/icons.svg#header_search"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
{{/if}}
<header class="header header--short {{#if isLanding}}header--landing {{/if}}js-header {{#unless hasTall}}header--expanded{{/unless}}">
  <div class="header__inner container">
    <div class="header__logo">
      <div class="header__logo-inner">
        <a href="/">
          {{#if isLanding}}
          Fine Arts Museums <br>
          of San Francisco
          {{ else }}
          <img src="img/site-logo-inverted.png" alt="{{ siteName }} logo">
          {{/if}}
        </a>
      </div>
    </div>
    <div class="header__nav-search-cta">
      <nav class="header__nav">
        <ul class="header__nav-items">
          {{#each header.navigationItems}}
            <li class="header__nav-item {{this.class}}">
              <a href="{{this.target}}" data-target=".{{this.target}}">{{this.title}}</a>
            </li>
          {{/each}}
        </ul>
      </nav>
      {{#if isLanding}}
      {{ else }}
      <button class="header__search-button">
        <span class="screen-reader-text">Search</span>
        <svg role="img">
          <use xlink:href="img/icons/icons.svg#header_search"></use>
        </svg>
      </button>
      {{> cta url='/' label='Buy Tickets' classes='header__buy-tickets-cta' }}
      {{/if}}
    </div>
    <button class="header__nav-toggle" data-target=".navigation__nav-primary">
      <span class="header__nav-toggle-bar"></span>
      <span class="header__nav-toggle-bar"></span>
      <span class="header__nav-toggle-bar"></span>
      <span class="header__nav-toggle-bar"></span>
      <span class="screen-reader-text">Nav toggle</span>
    </button>
  </div>
</header>
{{#if isLanding}}
{{ else }}
<div class="header__search container mfp-hide" id="header__search">
  <div class="header__search-inner">
    <button class="header__search-close-button mfp-close">
      <svg role="img">
        <use xlink:href="img/icons/icons.svg#header_cross"></use>
      </svg>
    </button>
    <form class="header__search-form">
      <fieldset>
        <label class="header__search-label" for="header__search-field">Type &amp; Press ‘Enter’</label>
        <input class="header__search-field" id="header__search-field" type="text" placeholder="What are you searching for?">
      </fieldset>
    </form>
  </div>
</div>
{{/if}}
<!-- END MODULE: SITE HEADER -->

{{> navigation }}
