<div class="hero {{#if hero.hasTitle}} module {{/if}}">
    <div class="hero hero--{{hero.type}} u-fullwidth-1800 " {{#if hero.hasTitle}} data-item="{{hero.media.block.img}}" {{/if}}>
        <div class="hero__sections {{#if hero.media.block2 }}[ u-df@m u-flexww@m u-jcsb@m ]{{/if}}">
            <section class="hero__media {{#if hero.media.block2 }}hero__media--left{{/if}} {{hero.classes.media.block}}">
                <div class="media-bg {{hero.mediaData.type}} {{hero.classes.mediaBg.block2}}" {{#unless hero.hasTitle}} data-bg="img/{{hero.media.block.img}}" {{/unless}}>

                    {{#unless hero.hasTitle}}
                        {{> media-overlay-button exhibition-hero=hero}}
                    {{/unless}}
                </div>
            </section>

            {{#if hero.media.block2 }}
                <section class="hero__media hero__media--right {{hero.classes.media.block2}}">
                    <div class="media-bg media-bg-bw {{hero.classes.mediaBg.block2}}">
                        <div class="media-bg__img" data-bg="img/{{hero.media.block2.img}}"></div>
                        {{#if hero._type.2block }}<div class="[ u-bg-block u-bgc-hl2 u-opacity-75 ]"></div>{{/if}}
                    </div>
                </section>
            {{/if}}
        </div>
        {{#if hero._type.2block}}
            <div class="hero__text [ u-span5@m u-offset5@m ]">
                <h1 class="hero__title h4 u-white">{{ hero.title }}</h1>
            </div>
        {{/if}}
        {{#if hero.hasTitle}}
            <div class="container">
                <h2 class="h2">{{hero.title}}</h2>
            </div>
        {{/if}}
    </div>
</div>

