<div class="join-give--hero">
    <div class="join-give--hero__sections">
        <div class="join-give--hero__media join-give--hero__media-left" style="background-image: url(/img/fpo-16x9-1.jpg);">
          <div class="[ u-bg-block u-bgc-hl-blk u-opacity-15 ]"></div>
        </div>

        <div class="join-give--hero__media join-give--hero__media-right">
            <div class="join-give--hero__media-right-img" style="background-image: url(/img/fpo-4x3-5.jpg);"></div>
            <div class="[ u-bg-block u-bgc-hl2 u-opacity-75 ]"></div>
        </div>
    </div>

    <div class="join-give--hero__toggles container">
      <a class="join-give--hero__goto join-give--hero__goto-left {{#if joinHeroActive}}active{{/if}}" href="join.html">
        Join <span class="cta--square"><button></button></span>
      </a>

      {{!-- @NOTE(andrew): active class on each join-give--hero__goto --}}
      <a class="join-give--hero__goto join-give--hero__goto-right {{#if giveHeroActive}}active{{/if}}" href="give.html">
        Give <span class="cta--square"><button></button></span>
      </a>
    </div>
</div>
