<section class="join-give-intro [ container module transition ]">
  <div class="join-give-intro__main">
    <h2 class="join-give-intro__title">{{pageTitle}}</h2>

    <div class="wysiwyg">
      <p>The Fine Arts Museums play a crucial role in our community, providing residents and visitors alike with year-round access to outstandingspecial exhibitions and an exemplary permanent collection. We also offer high-quality enrichment programs for art lovers of all ages,including an extensive schedule of educational activities at the de Young and the Legion of Honor, as well as at schools and in the community.</p>

      <ul>
        <li><strong>Primary Designer:</strong> Herzog &amp; de Meuron, Basel, Switzerland, and San Francisco, California</li>

        <!-- @NOTE(Andrew): Styled external link: requires CSS class and inline SVG, no space between text and SVG. -->
        <li><strong>Principal Architects:</strong> <a class="link--external" href="/" target="_blank">Fong &amp; Chan Architects<svg role="img"><use xlink:href="img/icons/icons.svg#offsite_link"></use></svg></a>, San Francisco, California</li>

        <li><strong>Landcape Architect:</strong> Walter Hood, Hood Design, Oakland, California</li>
        <li><strong>Contractor:</strong> Swinerton and Walberg Builders</li>
        <li><strong>Nested Items:</strong>
          <ul>
            <li><strong>Item one:</strong> Lorem ipsum dolor sit amet</li>
            <li><strong>Item two:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
          </ul>
        </li>
        <li><strong>Lorem ipsum</strong></li>
      </ul>

      <h3>Lorem ipsum dolor</h3>

      <p>The outdoor environment of the new de Young features a public sculpture garden and terrace beneath a cantilevered roof; a children’s garden; and landscaping that creates an organic link between the building and the surrounding environment on all four sides.</p>

      <ol>
        <li>The sphinx sculptures</li>
        <li>The Pool of Enchantment</li>
        <li>Nested items
          <ol>
            <li>Item one</li>
            <li>Item two</li>
          </ol>
        </li>
        <li>Lorem ipsum</li>
      </ol>

      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui.</p>
    </div>

  </div>

  <div class="join-give-intro__aux">
    <div class="join-give-intro__aux__inner">
      <div class="join-give-intro__aux__content">
        <h4 class="join-give-intro__aux__title">{{aux.title}}</h4>

        {{{aux.body}}}
      </div>
    </div>
  </div>
</section>
