<!-- BEGIN MODULE: LANDING HERO -->
<div class="landing-hero hero module">

  <div class="landing-hero__inner u-fullwidth-1400">
    
    <div class="landing-hero__sections container">

      <section class="landing-hero__figures">
        <div class="landing-hero__figure">
          <div class="landing-hero__figure-dy">
            <img class="aspect-ratio-100x58" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAA6AQMAAAB8qG6QAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAA9JREFUKM9jGAWjYBQQBQADLAABoI3IogAAAABJRU5ErkJggg==" />
            <svg role="img" class="landing-hero__svg-dy"><use xlink:href="img/icons/icons.svg#museum-map-dy"></use></svg>
          </div>
        </div>
        <div class="landing-hero__figure">
          <div class="landing-hero__figure-loh">
            <img class="aspect-ratio-100x58" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAA6AQMAAAB8qG6QAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAA9JREFUKM9jGAWjYBQQBQADLAABoI3IogAAAABJRU5ErkJggg==" />
            <svg role="img" class="landing-hero__svg-loh"><use xlink:href="img/icons/icons.svg#museum-map-loh"></use></svg>
          </div>
        </div>
      </section>
      <section class="landing-hero__content">
        <h1 class="landing-hero__title h3">
          <a href="/">
            <span>We are the Fine Arts Museums of San Francisco</span>  
          </a>
        </h1>
        <div class="landing-hero__body">
          FAMSF is comprised of the de Young Museum in Golden Gate Park and the Legion of Honor in Lincoln Park. We are the largest public arts institution in the city of San Francisco and one of the largest art museums in the United States. 
        </div>
      </section>

    </div>
  </div>

  {{> landing-grid }}
</div>
<!-- BEGIN MODULE: LANDING HERO -->
