<footer class="landing--footer">
  <div class="footer__inner">
    <div class="footer__container container">
      <div class="footer__sections [ u-df u-flexww u-jcsb ]">
        <section class="footer__about h8 [ u-df u-flexdc u-jcc ]">
          <article>
            <h2><a href="/" title="" alt="">Fine Arts Museum of San Francisco</a></h2>
            <div><a href="/" title="de Young">de Young</a></div>
            <div><a href="/" title="Legion of Honor">Legion of Honor</a></div>
          </article>
        </section>

        <section class="footer__newsletter js-newsletter">
          <form id="ajax-newsletter" method="post" action="ajax-newsletter.html" novalidate>
            <h2 class="h8">Sign up for our newsletter</h2>
            {{> textfield textfield=global.footer.newsletter}}
          </form>
        </section>

        <section class="footer__site-info">
          <div>{{ footer.address.line1 }}</div>
          <div>{{ footer.address.line2 }}</div>
          <div>San Francisco, CA {{ footer.address.postalCode }}</div>
          <div class="footer__phone">
            <a class="footer__phone-link h9" href="tel:4157503600">
              <svg role="img"><use xlink:href="img/icons/icons.svg#footer_phone"></use></svg>415.750.3600
            </a>
          </div>
        </section>

        <section class="footer__nav h8">
          <ul>
            <li><a href="/" title="About">About</a></li>
            <li><a href="/" title="E-News">E-News</a></li>
            <li><a href="/" title="Press Room">Press Room</a></li>
            <li><a href="/" title="Employment">Employment</a></li>
            <li><a href="/" title="Contact">Contact</a></li>
            <li><a href="/" title="Privacy">Privacy</a></li>
            <li><a href="/" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>

  <div class="footer__container container">
    <div class="footer__copyright">
      &copy;2016 Fine Arts Museums of San Francisco
    </div>
  </div>
</footer>
