<section class="manifesto container manifesto--loh transition">
  <div class="manifesto__inner">
    <p class="cta--text">
      Experience a panoramic view of San Francisco from the <a href="http://codeandtheory.com">public observation floor</a> atop our <a href="http://codeandtheory.com">144-foot tower</a>; gently spiraling from the ground floor, the top aligns with the grid formed by the streets of the neighborhoods surrounding <a href="http://codeandtheory.com">the park</a>.
    </p>
  </div>
</section>
