<section class="manifesto container manifesto--deyoung js-manifesto transition">
  <div class="manifesto__inner">
    <p class="cta--text">
      Experience a panoramic view of San Francisco from the <a data-counter="1" href="http://codeandtheory.com">public observation floor</a> atop our <a data-counter="2" href="http://codeandtheory.com">144-foot tower</a>; gently spiraling from the <a href="http://codeandtheory.com" data-counter="3">ground floor</a>, the top aligns with the grid formed by the streets of the neighborhoods surrounding <a href="http://codeandtheory.com" data-counter="4">the park</a>.
    </p>

    <div class="manifesto__images">
      <div class="manifesto__image" data-counter="1"><img src="/img/fpo-manifesto-2.png" alt="Public observtion floor"></div>

      <div class="manifesto__image" data-counter="2"><img src="/img/fpo-manifesto-3.png" alt="144-foot tower"></div>

      <div class="manifesto__image" data-counter="3"><img src="/img/fpo-manifesto-4.png" alt="Ground floor"></div>

      <div class="manifesto__image" data-counter="4"><img src="/img/fpo-manifesto-1.png" alt="The park"></div>
    </div>
  </div>
</section>

<!-- @NOTE(Andrew): each link has a corresponding rollover image; links are matched to their corresponding image via the data-counter attribute. -->
