<div class="map__media media-bg js-map-media"></div>
<div class="[ u-bg-block u-bgc-hl2 u-opacity-50 ]"></div>

<a href="{{ map.loh }}" target="_blank" class="map__pin {{ map.classes.pin.loh }} map__pin-loh h8 js-map-pin" data-bg-img="img/map-overlay-loh.jpg"><i class="map__pin-arrow"></i>Legion of Honor</a>
<a href="{{ map.dy }}" target="_blank" class="map__pin {{ map.classes.pin.dy }} map__pin-dy h8 js-map-pin" data-bg-img="img/map-overlay-dy.jpg"><i class="map__pin-arrow map__pin-arrow--right"></i>de Young</a>