<section class="media-gallery js-media-gallery module u-fullwidth-1400 transition">
  <ul class="media-gallery__items slider">
  {{#each media-gallery as |slide| }}
    <li class="media-gallery__item media-bg" data-bg="{{slide.image}}">
      <div class="content">
        <img class="media-gallery__item-image" data-src="{{slide.image}}" alt="Image alt text">
        <div class="media-gallery__item-content container">
          <div class="media-gallery__item-content-inner">
            <h3 class="media-gallery__item-tag">{{slide.tag}}</h3>
            <h2 class="media-gallery__item-title">{{slide.title}}</h2>
            <p class="media-gallery__item-description">{{slide.description}}</p>
            {{> cta url="/" label='View More' classes='media-gallery__item-cta'}}
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
</section>
