<!-- BEGIN MODULE: MEMBERSHIP LEVEL -->
<div class="membership-level module container transition js-membership-level">
  
  <div class="membership-level__line"></div>
  <div class="membership-level__title">
    <h1 class="h3">Membership Levels & Benefits</h1>
  </div>

  <section class="membership-level__tab">
    <a href="#Membership-Levels" class="membership-level__tab-item js-tab-btn is-active">Membership Levels</a>
    <a href="#Annual-Giving-Program" class="membership-level__tab-item js-tab-btn">Annual Giving Program</a>
  </section>

  <section class="membership-level__tab-content">

    <div data-tab-id="Membership-Levels" class="membership-level__items js-tab-item is-active">
      {{> membership-level--item-1 }}
      {{> membership-level--item-2 }}
      {{> membership-level--item-1 }}
      {{> membership-level--item-2 }}
    </div>
    <div data-tab-id="Annual-Giving-Program" class="membership-level__items js-tab-item">
      {{> membership-level--item-2 }}
      {{> membership-level--item-1 }}
      {{> membership-level--item-2 }}
    </div>
  </section>
  </div>
<!-- END MODULE: MEMBERSHIP LEVEL -->
