<!-- BEGIN MODULE: MUSEUM DETAILS (LEGION OF HONOR) -->
<section class="museum-details container museum-details--loh transition">
  <div class="museum-details__inner">
    <div class="museum-details__media" data-bg="/img/fpo-4x3-6.jpg">
      <img data-src="/img/fpo-4x3-6.jpg" alt="Palace of the Legion of Honor">
    </div>

    <div class="museum-details__text">
      <div class="museum-details__hours">
        <h4 class="museum-details__hours__status">Hours</h4>

        <ul>
          <li>9:30 am–5:15 pm</li>

          <li><h5 class="item-title">Open select Mondays</h5>
            <strong class="item-subtitle">Dec 26, 2016</strong>
            <strong class="item-subtitle">May 29, 2017</strong>
            9:30 am–5:15 pm</li>
        </ul>

      </div>

      <div class="buy-tickets">
        <p class="cta--text">View complete <a href="#">list of hours</a>, <a href="#">buy tickets</a> or <a href="#">become a member</a></p>

        <p>General Admission tickets to the de Young are also transferrable to the <a href="#">de Young Museum</a>.</p>
      </div>
    </div>
  </div>
</section>
<!-- END MODULE: MUSEUM DETAILS (LEGION OF HONOR)  -->
