<div class="navigation">
  <div class="navigation__logo-container">
    <img class="navigation__logo" data-src="/img/site-logo-grey.png">
  </div>
  <div class="navigation__scroll-container">
    <div class="navigation__inner">
      <div class="navigation__nav navigation__nav-primary">
        <form class="navigation__search-form">
          <fieldset>
            <label class="navigation__search-label screen-reader-text" for="navigation__search-field">Search</label>
            <input class="navigation__search-field" id="navigation__search-field" type="text" placeholder="What are you searching for?">
            <button class="navigation__search-button">
              <span class="screen-reader-text">Search</span>
              <svg role="img">
                <use xlink:href="img/icons/icons.svg#header_search"></use>
              </svg>
            </button>
          </fieldset>
        </form>
        <ul class="navigation__nav-items">
          {{#each header.navigationItems}}
            <li class="navigation__nav-item navigation__nav-items--level1 {{this.class}}">
              <a href="{{this.target}}"  data-target=".{{this.target}}">{{this.title}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
      {{#each header.navigationItems}}
        <div class="navigation__nav {{this.target}}">
          <button class="navigation__back-button" data-target=".navigation__nav-primary">
            <svg role="img">
              <use xlink:href="img/icons/icons.svg#header_caret_left"></use>
            </svg>
            <span class="navigation__back-button-label">Back</span>
          </button>
          <div class="navigation__subnav">
            <ul class="navigation__nav-items navigation__nav-items--level1">
              {{#each this.navigationItems}}
                <li class="navigation__nav-item">
                  <a href="{{this.href}}">{{this.title}}</a>
                  {{#if this.navigationItems}}
                    <ul class="navigation__nav-items navigation__nav-items--level2">
                      {{#each this.navigationItems}}
                        <li class="navigation__nav-item navigation__nav-item--sub">
                          <a href="{{this.href}}" class="{{#if this.navigationItems}}navigation__dropdown-toggle{{/if}}">
                            {{this.title}}
                            {{#if this.navigationItems}}
                              <svg role="img">
                                <use xlink:href="img/icons/icons.svg#header_caret_up"></use>
                              </svg>
                            {{/if}}
                          </a>
                          {{#if this.navigationItems}}
                            <ul class="navigation__nav-items navigation__nav-items--level3 navigation__dropdown">
                              {{#each this.navigationItems}}
                                <li class="navigation__nav-item navigation__nav-item--sub navigation__dropdown-item">
                                  <a href="{{this.href}}">{{this.title}}</a>
                                </li>
                              {{/each}}
                            </ul>
                          {{/if}}
                        </li>
                      {{/each}}
                    </ul>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="navigation__featured">
            <h2 class="navigation__featured-title">{{this.featuredTitle}}</h2>
            <ul class="navigation__featured-items">
              {{#each this.featuredItems}}
                <li class="navigation__featured-item">
                  <a class="navigation__featured-item-link" href="{{this.href}}">
                    <div class="navigation__featured-item-image">
                      <img  data-src="{{this.image.src}}" alt="{{this.image.alt}}">
                    </div>
                    <span class="navigation__featured-item-title">{{this.title}}</span>
                  </a>
                  <span class="navigation__featured-item-date">{{this.date}}</span>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/each}}
      <button class="navigation__close-button">
        <svg role="img">
          <use xlink:href="img/icons/icons.svg#header_cross"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
