<!-- BEGIN MODULE: PERMANENT COLLECTIONS -->
<div class="permanent-collections container transition">
  {{> collection collection=module.permanentCollections }}
</div>
<!-- END MODULE: PERMANENT COLLECTIONS -->
