<section class="press [ container module transition ]">
  <h2 class="press__title">In the News</h2>

  <div class="press__items">
    <div class="press__item line">
      <a href="/">
        <span class="press__item__quote">&ldquo;<span class="underline">Ed Ruscha&apos;s exhibition is timeless and the must-see exhibition of the year!</span>&rdquo;<span class="no-break"><svg role="img"><use xlink:href="img/icons/icons.svg#offsite_link"></use></svg></span>
        </span>

        <span class="press__item__byline">&mdash; SF Chronicle</span>

        <span class="cta--square"><button></button></span></a>
    </div>

    <div class="press__item line">
      <a href="/">
        <span class="press__item__quote">&ldquo;<span class="underline">If you only see one exhibition this year make sure it’s the Ed Ruscha exhibition at the de Young Museum! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</span>&rdquo;<span class="no-break"><svg role="img"><use xlink:href="img/icons/icons.svg#offsite_link"></use></svg></span>

        <span class="cta--square"><button></button></span></a>
    </div>
  </div>
</section>

<!-- @NOTE(Andrew): Please note that the no-break span must be present (lines 7, 17), with no preceding whitespace, to keep the offsite link icon from breaking to a new line -->
