<!-- BEGIN MODULE: RELATED STORIES -->
<div class="grab-hover__follow">
  <div class="grab-hover__follow-inner">
    <span>
        Drag
    </span>
  </div>
</div>

<div class="related-stories container module transition">
    <div class="related-stories__title">
        <h4>Related stories</h4>
    </div>

    <div id="horizontal-scroll" class="related-stories__items grab-cur dragdealer">
      {{!--  @NOTE(andrew): add items-# class based on number of related-stories__items loaded--}}
      <div class="related-stories__child-contain handle items-6">
        <div class="related-stories__item">
          <h4 class="related-stories__item-title"><a class="link-dk-grey" href="/">Behind The Scenes at the de Young</a></h4>
        </div>

        <div class="related-stories__item">
          <div class="related-stories__image">
            <a href="http://codeandtheory.com" class="media-link"><img src="img/fpo-4x3-2.jpg" /></a>
          </div>

          <h4 class="related-stories__item-title"><a class="link-dk-grey" href="/">Fong &amp; Chan: Get A Glimpse Into Their Process<span class="no-break">&nbsp;<svg role="img"><use xlink:href="img/icons/icons.svg#offsite_link"></use></svg></span></a></h4>
        </div>

        <div class="related-stories__item">
          <div class="related-stories__image">
            <a href="http://codeandtheory.com" class="media-link"><img src="img/fpo-4x3-3.jpg" /></a>
          </div>

          <h4 class="related-stories__item-title"><a class="link-dk-grey" href="/">de Young Today and Yesterday</a></h4>
        </div>

        <div class="related-stories__item">
          <div class="related-stories__image">
            <a href="http://codeandtheory.com" class="media-link"><img src="img/fpo-4x3-4.jpg" /></a>
          </div>
        </div>

        <div class="related-stories__item">
          <div class="related-stories__image">
            <a href="http://codeandtheory.com" class="media-link"><img src="img/fpo-4x3-5.jpg" /></a>
          </div>
        </div>

        <div class="related-stories__item">
          <div class="related-stories__image">
            <a href="http://codeandtheory.com" class="media-link"><img src="img/fpo-4x3-6.jpg" /></a>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- END MODULE: RELATED STORIES -->
