<!-- BEGIN MODULE: RELATED EVENTS -->
<div class="grab-hover__follow">
  <div class="grab-hover__follow-inner">
    <span>
        Drag
    </span>
  </div>
</div>

<div class="related-events container module transition js-related-events grid-span">
    <div class="related-events__title">
          <h4>
            <span class="related-events__title-inner">Upcoming Events</span>
            <span class="related-events__title-cta-wrap">
              <span class="related-events__title-cta">
                <button class="cta related-events__view-all-cta">View All Events</button>
              </span>
            </span>
          </h4>
    </div>

    <div class="related-events__items">
      <div id="horizontal-scroll" class="related-events__scroll grab-cur dragdealer">
        <!--  @NOTE(andrew): add items-# class based on number of related-events__items loaded-->
        <div class="related-events__child-contain handle items-3">
          <div class="related-events__item">
            <h1 class="related-events__item-day">7</h1>
            <h4 class="related-events__item-month">October</h4>
            <h8 class="related-events__item-details">Exhibition  /  6:00pm</h8>
            <h4 class="related-events__item-link"><a href="#">Live Projected Touchscreen Paintings...</a></h4>
          </div>

          <div class="related-events__item">
            <h1 class="related-events__item-day">7</h1>
            <h4 class="related-events__item-month">October</h4>
            <h8 class="related-events__item-details">Docent Lecture  /  6:00pm</h8>
            <h4 class="related-events__item-link"><a href="#">“Ed Ruscha and the Great American West”, by Marsha Holm...</a></h4>
          </div>

          <div class="related-events__item">
            <h1 class="related-events__item-day">9</h1>
            <h4 class="related-events__item-month">October</h4>
            <h8 class="related-events__item-details">Docent Lecture  /  1:30pm</h8>
            <h4 class="related-events__item-link"><a href="#">On the Grid: Textiles and Minimalism...</a></h4>
          </div>

          {{!-- <div class="related-events__item">
            <h1 class="related-events__item-day">13</h1>
            <h4 class="related-events__item-month">October</h4>
            <h8 class="related-events__item-details">Curator Lecture  /  10:30 am – 12:00 pm</h8>
            <h4 class="related-events__item-link"><a href="#">Curator's View: Frank Stella: A Retrospective, by Timothy A. Burgard</a></h4>
          </div>

          <div class="related-events__item">
            <h1 class="related-events__item-day">13</h1>
            <h4 class="related-events__item-month">October</h4>
            <h8 class="related-events__item-details">Curator Lecture  /  10:30 am – 12:00 pm</h8>
            <h4 class="related-events__item-link"><a href="#">Curator's View: Frank Stella: A Retrospective, by Timothy A. Burgard</a></h4>
          </div>

          <div class="related-events__item">
            <h1 class="related-events__item-day">13</h1>
            <h4 class="related-events__item-month">October</h4>
            <h8 class="related-events__item-details">Curator Lecture  /  10:30 am – 12:00 pm</h8>
            <h4 class="related-events__item-link"><a href="#">Curator's View: Frank Stella: A Retrospective, by Timothy A. Burgard</a></h4>
          </div> --}}
        </div>
      </div>
    </div>
</div>
<!-- END MODULE: RELATED EVENTS -->
