<!-- BEGIN MODULE: RELATED EVENTS SMALL -->
<!-- Serve when 2 or less events, otherwise serve related-events.hbs -->
<div class="related-events related-events-small container module transition js-related-events grid-span">
    <div class="related-events__title">
          <h4>
            <span class="related-events__title-inner">Upcoming Events(small)</span>
            <span class="related-events__title-cta-wrap">
              <span class="related-events__title-cta">
                <button class="cta related-events__view-all-cta">View All Events</button>
              </span>
            </span>
          </h4>
    </div>

    <div class="related-events__items--small related-events__items">
      <div id="horizontal-scroll" class="related-events__scroll dragdealer">
        <!--  @NOTE(andrew): add items-# class based on number of related-events__items loaded-->
        <div class="related-events__child-contain handle items-2">
          <div class="related-events__item">
            <h1 class="related-events__item-day">7</h1>
            <h4 class="related-events__item-month">October</h4>
            <h8 class="related-events__item-details">Exhibition  /  6:00pm</h8>
            <h4 class="related-events__item-link"><a href="#">Live Projected Touchscreen Paintings...</a></h4>
          </div>

          <div class="related-events__item">
            <h1 class="related-events__item-day">7</h1>
            <h4 class="related-events__item-month">October</h4>
            <h8 class="related-events__item-details">Docent Lecture  /  6:00pm</h8>
            <h4 class="related-events__item-link"><a href="#">“Ed Ruscha and the Great American West”, by Marsha Holm...</a></h4>
          </div>
        </div>
      </div>
    </div>
</div>
<!-- END MODULE: RELATED EVENTS SMALL -->
