<div class="ticker js-ticker {{classes}}">
  <div class="ticker__inner">
    <span class="ticker__message ticker__time">
      <svg role="img">
        <use xlink:href="img/icons/icons.svg#ticker_clock"></use>
      </svg>
      Open Now! - Hours today: 9:30am - 5:15pm
    </span>
    <span class="ticker__message">Lorem ipsum dolor sit amet</span>
    <span class="ticker__message">consectetur adipiscing elit</span>
    <span class="ticker__message">Ut eu risus tortor</span>
  </div>
</div>
