<!-- BEGIN MODULE: VISIT NOTIFICATION -->
<section class="visit-notification js-visit-notification transition module u-fullwidth-1800">
  <div class="container">
    <div class="visit-notification__icon">
      <svg role="img">
        <use xlink:href="img/icons/icons.svg#visit_notification"></use>
      </svg>
    </div>
    <ul class="visit-notification__items slider slider--dark">
      <li class="visit-notification__item">Hardly Strictly Bluegrass Festival will be taking place this weekend in Golden Gate Park and could cause traffic delays and parking difficulties.</li>
      <li class="visit-notification__item">Hardly Strictly Bluegrass Festival will be taking place this weekend in Golden Gate Park and could cause traffic delays and parking difficulties.</li>
      <li class="visit-notification__item">Hardly Strictly Bluegrass Festival will be taking place this weekend in Golden Gate Park and could cause traffic delays and parking difficulties.</li>
    </ul>
  </div>
</section>
<!-- END MODULE: VISIT NOTIFICATION -->
