<!-- BEGIN MODULE: VISIT INTRO -->
<div class="visit-intro container module transition">
  <div class="visit-intro--inner">
    <h1 class="h3">{{ visit-intro.title }}</h1>
    <div class="visit-intro--inner__text">{{ visit-intro.content }}</div>
  </div>
</div>
<!-- END MODULE: VISIT INTRO -->