<!--
  Explicitly for https://codeandtheory.atlassian.net/browse/FAMSF-419
-->

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!-- BEGIN PARTIAL: HEAD ITEMS -->
    <title>Calendar Landing | Legion of Honor</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://use.typekit.net/jpa8buj.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- END PARTIAL: HEAD ITEMS -->
    <style>
        .section-calendar {
            
        }
        .sample-section {
            background: black;
            min-height: 500px;
        }
    </style>
</head>
<body class="section-calendar">
    <main>

        
        <div class="calendar module js-calendar">
          <div class="calendar__inline container js-calendar--inline">
            <div class="calendar__wrapper js-calendar--wrapper"></div>
          </div>
          <div class="calendar__fixed js-calendar--fixed">
            <div class="calendar__wrapper js-calendar--wrapper"></div>
          </div>
        </div>
        
        <script id="calender-template" type="text/template">
          <h3 class="calendar__title js-calendar--title h3">
            <span class="calendar__month js-calendar--month"><%= month %></span>
            <span class="calendar__date js-calendar--date"></span>
          </h3>
        
          <div class="calendar__open js-calendar--open">
            <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
          </div>
        
          <div class="calendar__close js-calendar--close">
            <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#header_cross"></use></svg>
          </div>
        
          <div class="calendar__head">
            <div class="calendar__nav js-calendar--nav">
              <a class="calendar__link calendar__link--prev js-calendar--prev">
                <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_left"></use></svg>
              </a>
              <a class="calendar__link calendar__link--next js-calendar--next">
                <svg role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/icons/icons.svg#carousel_arrow_right"></use></svg>
              </a>
            </div>
          </div>
        
          <div class="calendar__grid js-calendar--grid">
            <div class="calendar__row clearfix">
              <% _.each(daysOfTheWeek, function(day) { %>
                <h4 class="calendar__cell h4">
                  <span class="calendar__item"><%= day %></span>
                </h4>
              <% }); %>
            </div>
            <div class="calendar__row clearfix">
              <% _.each(days, function(day) { %>
                <h8 class="h8 <%= day.classes %> calendar__cell">
                  <span class="calendar__item"><%= day.day %></span>
                </h8>
              <% }); %>
            </div>
          </div>
        </script>
        

        <!-- START: SAMPLE CONTENT BELOW -->
        <section class="sample-section events-listing grid-titled container module transition">
            <section class="events-listing-blocks block-container">
                <div class="block--item block--item--noimage"></div>
            </section>
        </section>
        <section class="sample-section container module"></section>
        <section class="sample-section container module"></section>

        <section class="sample-section container module"></section>
        <section class="sample-section container module"></section>
        <section class="sample-section container module"></section>

        <section class="sample-section container module"></section>
        <section class="sample-section container module"></section>
        <section class="sample-section container module"></section>
        <!-- END: SAMPLE CONTENT BELOW -->

        
    </main>


    <script src="js/jquery.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/clndr.js"></script>
    <script src="js/modernizr-custom.js"></script>    
    <script src="js/calendar-scripts.js"></script>
</body>
</html>
