.no-scroll {
  overflow: hidden;
}

.container {
  @include sgs-row;
}

.module {
  @include respond(
    ('margin-bottom', 60px, 60px, 80px)
  );
}

.transition {
  @include breakpoint($bp-medium) {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity .5s, transform .5s;
  }
}

.transition--completed {
  @include breakpoint($bp-medium) {
    transform: none;
    opacity: 1;
  }
}

// Magnific Popup
.mfp-bg {
  background-color: rgba($color-black, 0.93);
  opacity: 1;
}

//SHOW GRID
.showgrid {
  @include sgs-change('debug', true);
  @include background-grid($color: $color-7);
}

// media buttons
.play-video {
  transition: 500ms;

  i {
    display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
  }


  & {

    svg {
      stroke: $color-white;
      display: block;
      margin: 0 auto;
      fill: rgba($color-white,1);
      width: 106%;
      height: 106%;
      margin-top: -3%;
      margin-left: -3%;
    }
  }
  &:hover {
    background: rgba($color-black,0.5);
    svg {
      stroke: rgba($color-black,0.8);
      display: block;
      margin: 0 auto;
      fill: rgba($color-white,0.8);
      width: 106%;
      height: 106%;
      margin-top: -3%;
      margin-left: -3%;
    }
  }
}
.play-gallery {
  i {
    position: absolute;
    bottom: 90px;
    left: 30px;
  }

  svg {
    @include respond(
      ('width', 30px, 30px, 40px),
      ('height', 26px, 26px, 35px)
    );
    stroke: color(text,white);
  }
}

.is-hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.module,.body-module .body-module-content {
  p:last-of-type {
    margin-bottom: 0;
  }
}

.grab-cur {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: url(/img/icons/grab.cur); /* fallback for IE */
  cursor: -webkit-grab; /* Chrome, Safari */
  cursor: -moz-grab; /* Firefox */
  cursor: grab; /* W3C standards syntax, should come least */

  &:active { /* Apply a "closed-hand" cursor during drag operation. */
    cursor: url(/img/icons/grabbing.cur);
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
}
