/*------------------------------------------------------------------*\
  BOX SIZING
  .u-<property>
    specifiy the box-sizing property of an element
    usage:
      <div class="u-border-box">
\*------------------------------------------------------------------*/
// Border Box
.u-border-box { box-sizing: border-box; }

// Content Box
.u-content-box { box-sizing: content-box; }

/*------------------------------------------------------------------*\
  TEXT
\*------------------------------------------------------------------*/
// Font style
.u-fsn { font-style: normal; }
.u-fsi { font-style: italic; }

// text align
.u-tal { text-align: left; }
.u-tar { text-align: right; }
.u-tac { text-align: center; }

// captions
.u-caption {
  font-style: italic;
  color: color(text,secondary);
}


/*------------------------------------------------------------------*\
  COLOR
\*------------------------------------------------------------------*/
// Text/Fill color
.u-black {
  color: color(text,black);
  fill: color(text,black);
}
.u-white {
  color: color(text,white);
  fill: color(text,white);
}
.u-charcoal {
  color: color(text,charcoal);
  fill: color(text,charcoal);
}
.u-grey-light {
  color: color(text,grey-light);
  fill: color(text,grey-light);
}
.u-grey-dark {
  color: color(text,grey-dark);
  fill: color(text,grey-dark);
}
.u-highlight {
  color: color(text,highlight);
  fill: color(text,highlight);
}
.u-highlight-2 {
  color: color(text,highlight-2);
  fill: color(text,highlight-2);
}


/*------------------------------------------------------------------*\
  FLEXBOX
\*------------------------------------------------------------------*/
.u-df { display: flex; }
.u-dif { display: inline-flex; }

@include breakpoint($bp-medium){
  .u-df\@m { display: flex; }
  .u-dif\@m { display: inline-flex; }
}
@include breakpoint($bp-large){
  .u-df\@l { display: flex; }
  .u-dif\@l { display: inline-flex; }
}

// flex-direction
.u-flexdc { flex-direction: column; }
.u-flexdcr { flex-direction: column-reverse; }
.u-flexdr { flex-direction: row; }
.u-flexdrr { flex-direction: row-reverse; }

@include breakpoint($bp-medium){
  .u-flexdc\@m { flex-direction: column; }
  .u-flexdcr\@m { flex-direction: column-reverse; }
  .u-flexdr\@m { flex-direction: row; }
  .u-flexdrr\@m { flex-direction: row-reverse; }
}
@include breakpoint($bp-large){
  .u-flexdc\@l { flex-direction: column; }
  .u-flexdcr\@l { flex-direction: column-reverse; }
  .u-flexdr\@l { flex-direction: row; }
  .u-flexdrr\@l { flex-direction: row-reverse; }
}

// flex-wrap
.u-flexwn { flex-wrap: nowrap; }
.u-flexww { flex-wrap: wrap; }

@include breakpoint($bp-medium){
  .u-flexwn\@m { flex-wrap: nowrap; }
  .u-flexww\@m { flex-wrap: wrap; }
}
@include breakpoint($bp-large){
  .u-flexwn\@l { flex-wrap: nowrap; }
  .u-flexww\@l { flex-wrap: wrap; }
}

// flex box justify content
.u-jcc { justify-content: center; }
.u-jcfs { justify-content: flex-start; }
.u-jcfe { justify-content: flex-end; }
.u-jcsa { justify-content: space-around; }
.u-jcsb { justify-content: space-between; }

@include breakpoint($bp-medium){
.u-jcc\@m { justify-content: center; }
.u-jcfs\@m { justify-content: flex-start; }
.u-jcfe\@m { justify-content: flex-end; }
.u-jcsa\@m { justify-content: space-around; }
.u-jcsb\@m { justify-content: space-between; }
}
@include breakpoint($bp-large){
.u-jcc\@l { justify-content: center; }
.u-jcfs\@l { justify-content: flex-start; }
.u-jcfe\@l { justify-content: flex-end; }
.u-jcsa\@l { justify-content: space-around; }
.u-jcsb\@l { justify-content: space-between; }
}

// flex box align items
.u-aib { align-items: baseline; }
.u-aic { align-items: center; }
.u-aife { align-items: flex-end; }
.u-aifs { align-items: flex-start; }

.u-asb { align-self: baseline; }
.u-asc { align-self: center; }
.u-asfe { align-self: flex-end; }
.u-asfs { align-self: flex-start; }

@include breakpoint($bp-medium){
  .u-aib\@m { align-items: baseline; }
  .u-aic\@m { align-items: center; }
  .u-aife\@m { align-items: flex-end; }
  .u-aifs\@m { align-items: flex-start; }

  .u-asb\@m { align-self: baseline; }
  .u-asc\@m { align-self: center; }
  .u-asfe\@m { align-self: flex-end; }
  .u-asfs\@m { align-self: flex-start; }
}
@include breakpoint($bp-large){
  .u-aib\@l { align-items: baseline; }
  .u-aic\@l { align-items: center; }
  .u-aife\@l { align-items: flex-end; }
  .u-aifs\@l { align-items: flex-start; }

  .u-asb\@l { align-self: baseline; }
  .u-asc\@l { align-self: center; }
  .u-asfe\@l { align-self: flex-end; }
  .u-asfs\@l { align-self: flex-start; }
}
// flex-basis
.u-flexb-1\/4 { flex-basis: 25%; }
.u-flexb-1\/3 { flex-basis: 33%; }
.u-flexb-2\/3 { flex-basis: 67%; }
.u-flexb-1\/2 { flex-basis: 50%; }
.u-flexb-1 { flex-basis: 100%; }

// order
.u-order-1 { order: 1; }
.u-order-100 { order: 100; }

// grow
.u-fg-1 { flex-grow: 1; }
.u-fg-2 { flex-grow: 2; }
.u-fg-3 { flex-grow: 3; }

// shrink
.u-fs-0 { flex-shrink: 0; }
.u-fs-1 { flex-shrink: 1; }
.u-fs-2 { flex-shrink: 2; }
.u-fs-3 { flex-shrink: 3; }


/*------------------------------------------------------------------*\
  WIDTH & HEIGHT
\*------------------------------------------------------------------*/
.u-w100 { width: 100%; }
.u-h100 { height: 100%; }

.u-fullwidth {
  width: 100%;
}

.u-fullwidth-1400 {
  width: 100%;
  @include container;
}

.u-fullwidth-1800 {
  width: 100%;
  @include container($page-max-width-wide); 
}

/*------------------------------------------------------------------*\
  MARGIN
\*------------------------------------------------------------------*/
.u-mar-b30 { margin-bottom: 30px; }


/*------------------------------------------------------------------*\
  GRID SPAN - SGS 
  .u-span-<no of grid>

  specifiy the box-sizing property of an element
    usage:
      <div class="u-span2">  
\*------------------------------------------------------------------*/

// small only 
@media (max-width: $bp-medium - 1 ){
  .u-span5\@s { @include grid-span(5); }
}

//medium to xlarge
@include breakpoint($bp-medium){
  .u-span2, .u-span2\@m { @include grid-span(2); }
  .u-span3, .u-span3\@m { @include grid-span(3); }
  .u-span4, .u-span4\@m { @include grid-span(4); }
  .u-span5, .u-span5\@m { @include grid-span(5); }
  .u-span6, .u-span6\@m { @include grid-span(6); }
  .u-span7, .u-span7\@m { @include grid-span(7); }
  .u-span8, .u-span8\@m { @include grid-span(8); }
  .u-span9, .u-span9\@m { @include grid-span(9); }
  .u-span10, .u-span10\@m { @include grid-span(10); }
  .u-span11, .u-span11\@m { @include grid-span(11); }
  .u-span12, .u-span12\@m { @include grid-span(12); }
}
@include breakpoint($bp-large){ 
  .u-span2, .u-span2\@l { @include grid-span(2); }
  .u-span3, .u-span3\@l { @include grid-span(3); }
  .u-span4, .u-span4\@l { @include grid-span(4); }
  .u-span5, .u-span5\@l { @include grid-span(5); }
  .u-span6, .u-span6\@l { @include grid-span(6); }
  .u-span7, .u-span7\@l { @include grid-span(7); }
  .u-span8, .u-span8\@l { @include grid-span(8); }
  .u-span9, .u-span9\@l { @include grid-span(9); }
  .u-span10, .u-span10\@l { @include grid-span(10); }
  .u-span11, .u-span11\@l { @include grid-span(11); }
  .u-span12, .u-span12\@l { @include grid-span(12); }
}
@include breakpoint($bp-xlarge){ 
  .u-span2, .u-span2\@xl { @include grid-span(2); }
  .u-span3, .u-span3\@xl { @include grid-span(3); }
  .u-span4, .u-span4\@xl { @include grid-span(4); }
  .u-span5, .u-span5\@xl { @include grid-span(5); }
  .u-span6, .u-span6\@xl { @include grid-span(6); }
  .u-span7, .u-span7\@xl { @include grid-span(7); }
  .u-span8, .u-span8\@xl { @include grid-span(8); }
  .u-span9, .u-span9\@xl { @include grid-span(9); }
  .u-span10, .u-span10\@xl { @include grid-span(10); }
  .u-span11, .u-span11\@xl { @include grid-span(11); }
  .u-span12, .u-span12\@xl { @include grid-span(12); }
}
[class*="u-span"] {
  @include respond(('margin', 0));

  @include breakpoint($bp-medium){
    &.u-offset0, &.u-offset0\@m { margin-left: 0; margin-right: -100% }
    &.u-offset1, &.u-offset1\@m { margin-left: 8.49459%;  margin-right: -100% }
    &.u-offset2, &.u-offset2\@m { margin-left: 16.98918%; margin-right: -100% }
    &.u-offset3, &.u-offset3\@m { margin-left: 25.48377%; margin-right: -100% }
    &.u-offset4, &.u-offset4\@m { margin-left: 33.97835%; margin-right: -100% }
    &.u-offset5, &.u-offset5\@m { margin-left: 42.47294%; margin-right: -100% }
    &.u-offset6, &.u-offset6\@m { margin-left: 50.96753%; margin-right: -100% }
    &.u-offset7, &.u-offset7\@m { margin-left: 59.46212%; margin-right: -100% }
    &.u-offset8, &.u-offset8\@m { margin-left: 67.95671%; margin-right: -100% }
    &.u-offset9, &.u-offset9\@m { margin-left: 76.4513%;  margin-right: -100% }
  }
  @include breakpoint($bp-large){
    &.u-offset0, &.u-offset0\@l { margin-left: 0; margin-right: -100%  }
    &.u-offset1, &.u-offset1\@l { margin-left: 8.56481%;  margin-right: -100% }
    &.u-offset2, &.u-offset2\@l { margin-left: 17.12963%; margin-right: -100% }
    &.u-offset3, &.u-offset3\@l { margin-left: 25.69444%; margin-right: -100% }
    &.u-offset4, &.u-offset4\@l { margin-left: 34.25926%; margin-right: -100% }
    &.u-offset5, &.u-offset5\@l { margin-left: 42.82407%; margin-right: -100% }
    &.u-offset6, &.u-offset6\@l { margin-left: 51.38889%; margin-right: -100% }
    &.u-offset7, &.u-offset7\@l { margin-left: 59.9537%;  margin-right: -100% }
    &.u-offset8, &.u-offset8\@l { margin-left: 68.51852%; margin-right: -100% }
    &.u-offset9, &.u-offset9\@l { margin-left: 77.08333%; margin-right: -100% }
  }
  @include breakpoint($bp-xlarge){
    &.u-offset0, &.u-offset0\@xl { margin-left: 0; margin-right: -100% }
    &.u-offset1, &.u-offset1\@xl { margin-left: 8.56481%;  margin-right: -100% }
    &.u-offset2, &.u-offset2\@xl { margin-left: 17.12963%; margin-right: -100% }
    &.u-offset3, &.u-offset3\@xl { margin-left: 25.69444%; margin-right: -100% }
    &.u-offset4, &.u-offset4\@xl { margin-left: 34.25926%; margin-right: -100% }
    &.u-offset5, &.u-offset5\@xl { margin-left: 42.82407%; margin-right: -100% }
    &.u-offset6, &.u-offset6\@xl { margin-left: 51.38889%; margin-right: -100% }
    &.u-offset7, &.u-offset7\@xl { margin-left: 59.9537%;  margin-right: -100% }
    &.u-offset8, &.u-offset8\@xl { margin-left: 68.51852%; margin-right: -100% }
    &.u-offset9, &.u-offset9\@xl { margin-left: 77.08333%; margin-right: -100% }
  }
}
[class*="u-offset"] {
  .u-df & { margin: 0; }
  @include breakpoint($bp-medium){ .u-df\@m  & { margin: 0; }}
  @include breakpoint($bp-large) { .u-df\@l  & { margin: 0; }}
  @include breakpoint($bp-xlarge){ .u-df\@xl & { margin: 0; }}
}

/*h1 {
  //@include breakpoint($bp-xlarge){
    @include grid-span(5,6);
  //}
  
  background: white;
  font-size: 12px;
}
section { display: none; }*/


/*------------------------------------------------------------------*\
  BACKGROUND COLOR | OVERLAY
\*------------------------------------------------------------------*/
.u-bg-block { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } 

.u-bgc-bk       { background-color: color(overlay,black); }
.u-bgc-grey-lt  { background-color: color(overlay,lt-grey); }
.u-bgc-grey-dk  { background-color: color(overlay,dk-grey); }
.u-bgc-yw       { background-color: color(overlay,yellow); }
.u-bgc-hl1      { background-color: color(overlay,highlight1); }
.u-bgc-hl2      { background-color: color(overlay,highlight2); }
.u-bgc-hl3      { background-color: color(overlay,highlight3); }
.u-bgc-hl4      { background-color: color(overlay,highlight4); }
.u-bgc-hl54     { background-color: color(overlay,highlight54); }


/*------------------------------------------------------------------*\
  DISPLAY | OPACITY | VISIBILITY
\*------------------------------------------------------------------*/
//[class*="u-opacity"] { transition: opacity 200ms ease; }
.u-opacity-0-imp { opacity: 0 !important; }
.u-opacity-1-imp { opacity: 1 !important; }

.u-opacity-0,  .u-opacity-hover-0:hover  { opacity: 0; }
.u-opacity-20, .u-opacity-hover-20:hover { opacity: .20; }
.u-opacity-50, .u-opacity-hover-50:hover { opacity: .50; }
.u-opacity-70, .u-opacity-hover-70:hover { opacity: .70; }
.u-opacity-75, .u-opacity-hover-75:hover { opacity: .75; }
.u-opacity-80, .u-opacity-hover-80:hover { opacity: .80; }
.u-opacity-90, .u-opacity-hover-90:hover { opacity: .90; }
.u-opacity-1,  .u-opacity-hover-1:hover  { opacity: 1; }

.u-hidden\@s { @media (max-width: $bp-medium - 1 ){ display: none; }}

/*------------------------------------------------------------------*\
  FLOAT
  .u-float-<property>
    specifiy the float property of an element
    usage:
      <div class="f-left f-clear-left">
\*------------------------------------------------------------------*/
.u-fn { float: none; }
.u-fl { float: left; }
.u-fr { float: right; }
// Clearfix
.u-cf { @include clearfix(); }
.u-cn { clear: none; }
.u-cl { clear: left; }
.u-cr { clear: right; }

@include breakpoint($bp-medium) {
  .u-fn\@m { float: none; }
  .u-fl\@m { float: left; }
  .u-fr\@m { float: right; }

  .u-cn\@m { clear: none; }
  .u-cl\@m { clear: left; }
  .u-cr\@m { clear: right; }
}
@include breakpoint($bp-large) {
  .u-fn\@l { float: none; }
  .u-fl\@l { float: left; }
  .u-fr\@l { float: right; }

  .u-cn\@l { clear: none; }
  .u-cl\@l { clear: left; }
  .u-cr\@l { clear: right; }
}




// word wrap
.u-wb { word-wrap: break-word; }
.u-wbb { word-break: break-all; }
.u-wbba { word-break: break-all; }
.u-wbbw { word-break: break-word; }

