$bp-medium:   721px;
$bp-large:    1001px;
$bp-xlarge:  1401px;

// Interim breakpoints to address layout breakage between major breakpoints:
$bp-hero-medium: 767px;
$bp-int-medium-large: 820px;
$bp-int-large-xlarge: 1160px;

$breakpoints: ( 0px, $bp-medium, $bp-large, $bp-xlarge );

$page-max-width: 1400px;
$page-max-width-wide: 1800px;
