$page-margin-small: 20px;
$page-margin-medium: 25px;
$page-margin-large: 40px;
$page-margin-xlarge: auto;

$page-gutter-small: .4;
$page-gutter-medium: .295;
$page-gutter-large: .48;

@include add-grid(6);
@include add-grid(12 at 721px);

@include add-gutter($page-gutter-small);
@include add-gutter($page-gutter-medium at 721px);
@include add-gutter($page-gutter-large at 1001px);

@include sgs-change('debug', true);
