@mixin body {
  @include respond(
    ('font-size', 14px,14px,16px),
    ('line-height', 22px,22px,24px)
  );

  font-family: font(body);
  font-weight: font(body, w);
  color: color(text);
}

@mixin h1 {
  @include respond(
    ('font-size', 80px,90px,100px),
    ('line-height', 84px,94px,104px)
  );

  font-family: font(h1);
  font-weight: font(h1, w);

  a {
    font-weight: font(h1, w);
  }
}

@mixin h2 {
  @include respond(
    ('font-size', 35px,66px,90px),
    ('line-height', 38px,70px,96px)
  );

  font-family: font(h2);
  font-weight: font(h2, w);

  a {
    font-weight: font(h2, w);
  }
}

@mixin h3 {
  @include respond(
    ('font-size', 30px,54px,64px),
    ('line-height', 32px,60px,68px)
  );

  font-family: font(h3);
  font-weight: font(h3, w);
  letter-spacing: .010em;

  a {
    font-weight: font(h3, w);
  }
}

@mixin h4 {
  @include respond(
    ('font-size', 22px,26px,32px),
    ('line-height', 26px,30px,38px)
  );

  font-family: font(h4);
  font-weight: font(h4, w);
  letter-spacing: .010em;

  a {
    font-weight: font(h4, w);
  }
}

@mixin h5 {
  @include respond(
    ('font-size', 26px,26px,32px),
    ('line-height', 30px,30px,38px)
  );

  font-family: font(h5);
  font-weight: font(h5, w);
  letter-spacing: .010em;
}

@mixin h6 {
  @include respond(
    ('font-size', 19px,22px,32px),
    ('line-height', 22px,26px,38px)
  );

  font-family: font(h6);
  font-weight: font(h6, w);
  letter-spacing: .010em;
}

@mixin h7 {
  @include respond(
    ('font-size', 24px,20px,24px),
    ('line-height', 30px,24px,30px)
  );

  font-family: font(h7);
  font-weight: font(h7, w);
  letter-spacing: .010em;
}

@mixin h8 {
  @include respond(
    ('font-size', 14px,14px,16px),
    ('line-height', 16px,16px,18px)
  );

  font-family: font(h8);
  font-weight: font(h8, w);
  letter-spacing: .020em;
}

@mixin h9 {
  @include respond(
    ('font-size', 12px,13px,15px),
    ('line-height', 14px,16px,18px)
  );

  font-family: font(h9);
  font-weight: font(h9, w);
  letter-spacing: .060em;
}

@mixin h10 {
  @include respond(
    ('font-size', 18px,14px,16px),
    ('line-height', 26px,22px,24px)
  );

  font-family: font(h10);
  font-weight: font(h10, w);
}

// utils
@mixin caption {
  font-style: italic;
  color: color(text,secondary);
}
