.block-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  @include respond(
          ('margin-bottom', -30px, -30px, -60px)
  );
}
.block--item {
  width: 100vw;
  margin-left: - $page-margin-small;
  margin-right: - $page-margin-small;
  margin-bottom: 30px;

  @include breakpoint($bp-medium){
    margin-right: 0;
    margin-left: 0;
    width: percentage(329/671);
    margin-bottom: 30px;
  }
  @include breakpoint($bp-large){
    width: percentage(447/920);
    margin-bottom: 60px;
  }
}
.block--media {
  @include aspect-ratio(4,3);
  width: 100%;
  background-size: cover;

  .content {
    width: 100%;
    height: 100%;
    background: $color-2;
    background-size: cover;
    overflow: hidden;

    span {
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      position: absolute;
      left: -99999px;
      top: 0;
      right: 0;
      bottom: 0;

      opacity: 0;
      transition: opacity 200ms ease;

      &.is-active {
        opacity: 1;
        left:0;
      }
      &.lazy-loaded { left: 0; }
    }
  }
}
.block--text {
  width: calc(100vw - 20px);
  margin-top: -40px;
  position: relative;
  z-index: 10;
  background-color: $color-6;
  padding: 18px 53px 23px 20px;
  @include breakpoint($bp-medium) {
    width: percentage(406/447);
    padding: 20px 60px 26px 16px;
  }
  @include breakpoint($bp-large) {
    margin-top: -55px;
    padding: 23px 60px 30px 20px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 45px;
    height: 45px;
    background: #dfdfdf;
  }

  &.open {
    background: color(bg, grey);
  }
  .o-h9 {
    margin-bottom: 9px;
    @include breakpoint($bp-medium) {
      margin-bottom: 9px;
    }
    @include breakpoint($bp-large){
      margin-bottom: 6px;
    }
  }
  .close-block {
    position: absolute;
    width: 53px;
    height: 53px;
    cursor: pointer;
    transform: rotate(45deg);
    transition: 100ms;
    @include breakpoint($bp-medium) {
      width: 53px;
      height: 53px;
    }
    @include breakpoint($bp-large) {
      width: 60px;
      height: 60px;
    }
    @include respond(
                    ('top', 6px, 6px, 2px),
                    ('right', 5px ,6px ,2px)
    );
    svg {
      width: 100%;
      height: 100%;
      fill: $color-1;
    }
    &:hover {
      svg {
        fill: color(button,hover);
      }
    }
    &.open {
      transform: rotate(0deg);
    }
  }
}


.block--context {
  position: absolute;
  padding: 20px 20px 38px;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: $color-6;
  display: none;
  @include breakpoint($bp-medium) {
    padding: 6px 16px 36px;
  }
  @include breakpoint($bp-large){
    padding: 0 38px 45px 20px;
  }
  &.open {
    //background: color(bg, grey);
  }

  ul {
    @include breakpoint($bp-medium){
      margin: 20px 0 25px;
    }
    @include breakpoint($bp-large){
      margin: 25px 0 35px;
    }
    li {
      @include breakpoint($bp-medium){
        margin-bottom: 8px;
      }
      @include breakpoint($bp-large){
        margin-bottom: 10px;
      }
    }
  }
  a {
    white-space: nowrap;
  }
  .box-cta {
    margin-left: 0;
    width: 100%;
  }
  p {
    margin: 0;
  }
  a {
    vertical-align: top;
  }
}
