.callout {
  @include h9;
  background-color: color(callout, base);
  display: inline-block;
  line-height: 40px;
  padding: 0 20px;

  @include breakpoint($bp-medium) {
    line-height: 45px;
    padding: 0 25px;
  }

  @include breakpoint($bp-large) {
    line-height: 50px;
    padding: 0 30px;
  }
}
