// comps styling
.collection {
  @include clearfix();
}

.collection__sections {
  position: relative;
}

.page--collections .hero {
  @include respond(
    (margin-bottom, 30px, 30px, 40px)
  );
}

.collection__hero {
  position: relative;

  .media-bg {
    @include respond(
      ('margin-left', -20px, -25px, -40px),
      ('width', calc(100% + 40px), calc(100% + 25px), calc(100% + 40px))
    );
  }

  .callout {
    position: absolute;
    top:0;
    left:0;
  }
}

.collection__content-tag {
  @include respond(
    ('margin-bottom', 20px, 30px, 40px)
  );
}

.collection__title {
  @include respond(
    ('margin-bottom', 20px, 20px, 30px)
  );
}

.collection__sub-title {
  @include respond(
    ('margin-bottom', 10px, 15px, 20px)
  );
}

.collection__body {
  @include respond(
    ('margin-bottom', 30px, 30px, 40px)
  );
}



// modifier styling
@include breakpoint($bp-medium) {
  .collection--text-left {
    .media-bg {
      @include respond(
        ('margin-left', 0, 0, 0)
      );
    }

    .callout {
      @include respond(
        ('left', 0, auto),
        ('right', auto, 0)
      );
    }

    .collection__text {
      text-align: right;
    }
  }
}


// others
.collection__text {
  .is-active {
    color: color(link1, hover);
  }
}


// bio
