.cta {
  @include h9;
  background-color: color(button, base);
  color: color(button, text);
  display: inline-block;
  line-height: 50px;
  padding: 0 30px;
  text-decoration: none;

  @include breakpoint($bp-medium) {
    line-height: 60px;
    padding: 0 35px;
  }

  @include breakpoint($bp-large) {
    line-height: 65px;
    padding: 0 40px;
  }

  &:hover,
  &:focus {
    color: color(button, text);
    background-color: color(button, hover);
    color: color(button, text);
  }
}

a.cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.cta--text {
  @include h4;
}

.cta--square {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background:  color(border, secondary);

  &:before, button {
    content: "";
    position: absolute;
    top: 8px;
    right: 8px;
    width: 22px;
    height: 22px;
    border: solid color(border, white);
    border-width: 1px 1px 0 0;
    z-index: 10;

    transition: all 200ms ease;
  }

  button {
    width: 0 !important;
    height: 0 !important;
    border: 0;
    border-top: 0 solid color(border, white);
    border-left: 0 solid transparent;
    outline: none;
  }

  // states
  &:hover,
  a:hover & {
    button {
      border-top-width: 24px;
      border-left-width: 24px;
    }
    &:before { opacity: 0; }
  }

  @include breakpoint($bp-medium) {
    &:before, & button {
      top: 10px;
      right: 10px;
      width: 21px;
      height: 21px;
    }

    &:hover,
    a:hover & {
      button {
        border-top-width: 24px;
        border-left-width: 24px;
      }
    }
  }
}


.cta--outline {
  position: relative;
  background: none;
  color: color(button, base);

  &:before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    border: 2px solid color(button, base);
  }

  &:hover {
    background: none;
    color: color(button, hover);

    &:before { border-color: color(button, hover); }
  }
}
