.grab-hover {
  &__follow {
    @include respond(
      ('height', null, 60px, 70px),
      ('width', null, 60px, 70px),
      ('margin-left', null, null, -5px),
      ('display', none, block),
      ('visibility', hidden, visible)
    );

    background-color: $color-8;
    border-radius: 50%;
    color: color(text, white);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    z-index: 99999999;

    &.active {
      opacity: 1;
      transition: opacity 200ms ease;
    }
  }

  &__follow-inner {
    height: 100%;
    position: relative;

    span {
      @include centerer(true, true);
    }
  }
}
