.events-listing-blocks {
  .block--text {
    &::before {
      display: none;
    }
  }

  .block--item {
    @include respond(
      ('margin-bottom', 20px, 18px, 30px),
      ('width', null, percentage(326.5/671), percentage(445.5/921))
    );
    overflow: hidden;
  }

  .block--text {
    @include respond(
      ('min-height', 190px, 195px, 240px),
      ('padding', 25px 20px 50px, 30px 20px 50px, null)
    );
    display: block;
    height: 100%;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      // cursor: url(../img/pointer.cur) 13 0, auto;
      background-color: $color-1;

      .block--category,
      .block--title,
      .block--datevenue {
        color: $color-white;
      }
    }
  }

  .block--category {
    display: block;
    margin-bottom: 20px;
  }

  .block--title {
    @include respond(
      ('font-size', 22px, 24px, 30px),
      ('line-height', 26px, 30px, 38px)
    );
    margin-bottom: 30px;
    color: $color-7;
  }

  .block--datevenue {
    color: $color-8;
  }

  .block--item--noimage {
    .block--text {
      @include respond(
        ('min-height', 190px, 215px, 330px),
        ('padding-top', 30px, 40px, null)
      );
      width: 100%;
      margin-top: 0;
    }

    .block--title {
      @include respond(
        ('margin-bottom', null, 40px, null)
      );
    }
  }

  .block--error {
    @include respond(
      ('width', calc(100% - 20px), 75%, 60%),
      ('margin-top', 0, null, 10px)
    );
    display: none;
    position: relative;
    letter-spacing: 0.01em;

    &.visible {
      display: block;
    }
  }
}
