body {
  @include body;
}

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5 {
  @include h5;
}

.h6 {
  @include h6;
}

.h7 {
  @include h7;
}

.h8 {
  @include h8;
}

.h9 {
  @include h9;
}

.h10 {
  @include h10;
}

@mixin h8-special {
  @include h8;
  @include respond(
    ('height', 58px, 52px, 54px),
    (margin-bottom, 20px, 30px, 30px)
  );

  display: inline-flex;
  align-items: center;
  position: relative;
  color: color(h8-special);
  padding-right: 30px;
  border:solid color(h8-special);
  border-width: 2px 0;
  border-radius: 2px 0 0 1px; // Helps clean up intersection with diagonal rules
  z-index: 2;

  &:before,
  &:after {
    content: '';
    position: absolute;
    border-top: 2px solid color(h8-special);
    border-radius: 2px; // Helps clean up intersection with horizontal rules
    width: 26px;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;

  }

  &:before {
    top: 16px;
    left: -17px;
  }

  &:after {
    bottom: -20px;
    left: -18px;
  }

  @include breakpoint($bp-medium){
    &:before {
      left: -25px;
      top: 22px;
      width: 35px;
    }

    &:after {
      left: -25px;
      bottom: -27px;
      width: 36px;
    }
  }
}
.h8-special {
  @include h8-special();
}
