// type: full by default
.hero__sections {
  position: relative;
}

.hero__media {
  &, .media-bg {
    @include respond(
      ('height', 280px, 420px, 580px)
    );
  }

  .media-bg-bw {
    &:before {
      padding-top: 0;
    }
  }
}


// modifier

    // type: cutoff
.hero--cutoff {
  .hero__media, .media-bg {
    @include respond(
      ('height', null, 640px, 700px),
      ('clip-path',
        null,
        polygon(0 0, 100% 0, 100% 100%, 85.64815% 100%, 85.64815% calc( 100% - 60px ), 0 calc( 100% - 60px )),
        polygon(0 0, 100% 0, 100% 100%, 84.94588% 100%, 84.94588% calc( 100% - 60px ), 0 calc( 100% - 60px ))
      )
    );
    width: 100%;
  }
}

    // type: 2block
.hero--2block {
  margin-bottom: 2px;

  .hero__media--right {
    @include respond(
      ('width',
        null,
        calc(59.46212% - 2px),
        calc(59.9537% - 2px))
    );
  }
}

.hero__text {
  @media (max-width: $bp-medium - 1 ){
    margin: 0 20px;
  }
  @include respond(
    ('bottom', 40px, 50px, 60px)
  );

  position: absolute;
  left: 0;
}

//hero collection
.hero--collection {
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(#000,0.15);
    z-index: 5;
  }
  .hero__media {
    &, .media-bg {
      @include respond(
                      ('height', 195px, 265px, 326px)
      );
    }
  }
  h2 {
    position: absolute;
    left: 0;
    color: $color-white;
    z-index: 5;
    @include respond(
                    ('bottom', $c-hero-bottom-sm, $c-hero-bottom-md, $c-hero-bottom-lg)
    );
  }
}

.media-bg__img {
      background: {
      position: center center;
      size: cover;
    }
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  position: relative;
  top: 0;
}
