.media {
  @include aspect-ratio(3,2);
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.media-bg {
  @include aspect-ratio(3,2);
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.media-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// media align window
.media-aw-left {
  @include respond(
    ('margin-left', -20px, -25px, -40px)
  );
}
.media-aw-left, .media-aw-right {
  @include respond(
    ('width', calc(100% + 20px), calc(100% + 25px), calc(100% + 40px))
  );
}

@media (max-width: $bp-medium - 1 ) {
  .media-aw-left\@s {
    margin-left: -20px;
    width: calc(100% + 20px);
  }
}

.wysiwyg__media {
  @include aspect-ratio(16,9);
  @include respond(
    (margin-bottom, 26px, 26px, 28px)
  );

  img {
    width: 100%;
  }
}

/*
full width image formula
  N = childW / ((100 - childW) / 2);
  width: calc( ( 100% / N ) * 2 + 100% );

  example:
  parent - width 100%
    child - wdith 32.5%
      img - width [parent's width]

  N = 32.5 / ((100 - 32.5) / 2);
  img { width: calc( ( 100% / N ) * 2 + 100% ); }
*/
