.line {
  @include respond(
    //('min-height', 185px, 264px, 205px),
                  ('margin-top', 30px, 105px, 155px),
                  ('margin-left', 22px, 0)
  );

  position: relative;
  z-index: 5;

  &:after { display: none; }
  &:before, &:after {
    @include respond(
                    ('width', 230px, 305px, 367px),
                    ('height', 230px, 305px, 270px),
                    ('left', -22px, -11.8%, -15.2%), // default based grid span: 5
                    ('top', -53px, -41px, -65px)
    );

    content: "";
    position: absolute;
    z-index: 0;

    border-color: color(border,line);
    border-style: solid;
    border-width: $line-border-width 0 0 $line-border-width;
    @include breakpoint($bp-large){
      border-width: $line-border-width-large 0 0 $line-border-width-large;
    }


  }

  > * { position: relative; }

  // line spacing
  &[class*="u-span6"]:before { @include respond( ('left', null, -9.8%, -12.4%) ); }
  &[class*="u-span5"]:before { @include respond( ('left', null, -11.8%, -15.2%) ); }
  &[class*="u-span4"]:before { @include respond( ('left', null, -11.1%, -18.5%) ); }

}

.line--right {
  @include respond(
                  ('margin-right', 20px, 0)
  );

  margin-left: 0;

  &:before { display: none; }
  &:after {
    @include respond(
                    ('left', auto, auto, auto),
                    ('right', -22px, -11.8%, -15.2%) // default based grid span: 5
    );

    display: block;
    border-width: $line-border-width $line-border-width 0 0;
    z-index: 0;
    @include breakpoint($bp-large){
      border-width: $line-border-width-large $line-border-width-large 0 0;
    }
  }

  & > * {
    position: relative;
    z-index: 10;
  }

  // line spacing
  &[class*="u-span6"]:after { @include respond( ('right', null, -9.8%, -12.4%) ); }
  &[class*="u-span5"]:after { @include respond( ('right', null, -11.8%, -15.2%) ); }
  &[class*="u-span4"]:after { @include respond( ('right', null, -11.1%, -18.5%) ); }
}

.line--both {
  &:before, &:after { display: block; }
}

.line--hidden {
  &:before, &:after { display: none; }
  margin-left: 0;
  margin-right: 0;
}
@include breakpoint($bp-medium){
  .line--clear\@m {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    &:before, &:after { display: none; }
  }
}

@media (max-width: $bp-medium - 1) {
  .line--right\@s {
    margin-left:0;
    margin-right: 22px;

    &:before { display: none; }
    &:after {
      display: block;
      left : auto;
      right: -22px;
      border-width: $line-border-width $line-border-width 0 0;
      @include breakpoint($bp-large){
        border-width: $line-border-width-large $line-border-width-large 0 0;
      }
    }
  }

  .line--clear\@s {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    &:before, &:after { display: none; }
  }
}
