a {
  // transition
  &,&:before, & svg {
    transition: all 200ms ease;
  }

  //styling
  &, & svg {
    color: color(link1);
    fill: color(link1);
    text-decoration: underline;
  }
  
  &:hover {
    &, & svg {
      color: color(link1,hover);
      fill: color(link1,hover);
    } 
  }

  // disabled
  &[disabled] { pointer-events: none; }
}
//color: charcoal, hover: white
.link-hover-white {
  &:hover {
    &, & svg {
      color: color(link1,hover2);
      fill: color(link1,hover2);
    } 
  }
} 

.link-lt-grey {
  &, & svg {
    color: color(link2);
    fill: color(link2);
  }
  
  &:hover {
    &, & svg {
      color: color(link2,hover);
      fill: color(link2,hover);
    } 
  }
}

.link-dk-grey {
  &, & svg {
    color: color(link2,secondary);
    fill: color(link2,secondary);
    text-decoration: none;
  }
  
  &:hover {
    &, & svg {
      color: color(link2,hover);
      fill: color(link2,hover);
      text-decoration: underline;
    } 
  }
}