.media-btn {
  display: none;

  .page--regular-exhibitions &,
  .page--special-exhibitions &,
  &.video {
    display: block;
  }

  cursor: pointer;
  outline-width: 0;
  i {
    position: absolute;
    @include respond(
                    ('bottom', 20px, 22px, 24px),
                    ('left', 20px, 35px,40px)
    );

    .collection--bio &{
      @include respond(
                      ('bottom', 15px, 15px, 15px),
                      ('left', $page-margin-small, 20px,20px)
      );
    }
    .gallery-item &{
      @include respond(
                      ('bottom', 15px, 15px, 15px),
                      ('left', 20px, 35px,40px)
      );
    }
    .exhibition-hero.regular & {
      position: absolute;

      @include respond(
                      ('bottom', 45px, 65px, 95px),
                      ('left', $page-margin-small, $page-margin-medium,$page-margin-large)
      );

    }
    .exhibition-hero.special & {
      @include respond(
                      ('bottom', 55px, 85px, 95px),
                      ('left',$page-margin-small, $page-margin-medium,$page-margin-large)
      );
    }

  }
  .hero__play-btn {
    display: none;
  }
  svg {
    @include respond(
                    ('width', 30px, 30px, 40px),
                    ('height', 26px, 26px, 35px)
    );
    stroke: color(text,white);

  }
  &:hover {
    background: rgba(black, 0.5);
    svg {
      fill: transparent
    }
  }

  &.video {
    background: rgba(black, 0.15);
    .hero__play-btn {
      display: block;
      height: 90px;
      width: 90px;
      overflow: hidden;
      border-radius: 50%;
      background: rgba($color-white, 0.4);
      transition: background 200ms ease;

      @include centerer;
      @include respond(
                      ('width', 58px, 72px , 90px),
                      ('height', 58px, 72px , 90px)
      );

      svg {
        display: block;
        position: absolute;
        margin: 0 auto;
        fill: transparent;
        stroke-width: 2px;
        opacity: 1;
        @include respond(
                        (left, 27px, 32px, 40px),
                        (top, 18px, 23px, 30px),
                        (width, 11px, 15px, 18px),
                        (height, 21px, 25px, 30px)
        );

        &:nth-child(2){
          opacity: 0;
          margin: 0 auto;
          fill: $color-white;
          stroke-width: 0;
          @include respond(
                          ('width', 58px, 72px , 90px),
                          ('height', 58px, 72px , 90px)
          );

          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
        }
      }
    }
    &:hover {
      background: rgba(black, 0.5);
      .hero__play-btn {
        background: transparent;
        svg {

          &:nth-child(1){
            opacity: 0;
          }

          &:nth-child(2){
            opacity: 1;
          }
        }
      }
    }
  }
}
