.slider {
  position: relative;
  margin-bottom: 0;

  .slick-arrow {
    position: absolute;
    z-index: 1;

    @include respond(
      ('bottom', 50px, auto),
      ('height', 58px, 72px, 100px),
      ('right', auto, $page-margin-medium, $page-margin-large),
      ('width', 24px, 30px, 40px)
    );
    
    @include breakpoint($bp-medium) {
      @include centerer(false, true);
    }

    &:hover {
      svg {
        stroke: color(sliderArrow, hover);

        .can-touch & {
          stroke: color(sliderArrow, base);
        }
      }
    }

    svg {
      height: 100%;
      fill: none;
      stroke-width: 3;
      stroke: color(sliderArrow, base);
      width: 100%;
    }
  }

  .slick-next {
    @include respond(
      ('left', 90px, auto),
      ('margin-top', 0, -58px, -75px)
    );
  }

  .slick-prev {
    @include respond(
      ('left', $page-margin-small, auto),
      ('margin-top', 0, 58px, 75px)
    );
  }

  .slick-dots {
    transform: translateX(-50%);
    position: absolute;

    @include respond(
      ('bottom', 72px, auto),
      ('left', 68px, auto),
      ('right', auto, $page-margin-medium, $page-margin-large)
    );

    @include breakpoint($bp-medium) {
      @include centerer(false, true);
    }

    li {
      @include h9;
      color: color(text, white);
      display: none;
      white-space: nowrap;

      &.slick-active {
        display: block;
      }
    }
  }

  .slick-slide {
    display: block;
    transition: transform .25s;
    z-index: 0;

    &.slick-slide--peeking {
      z-index: 1;
    }

    &.slick-slide--peeking-next {
      transform: translateX(-#{column-span(1, 1)});
      
      @include breakpoint($bp-medium) {
        transform: translateX(-#{column-span(1.5, 1)});
      }
    }

    &.slick-slide--peeking-prev {
      transform: translateX(#{column-span(1, 1)});

      @include breakpoint($bp-medium) {
        transform: translateX(#{column-span(1.5, 1)});
      }
    }
  }
}

.slider--dark {
  .slick-arrow {
    &:hover {
      svg {
        stroke: color(sliderArrow2, hover);

        .can-touch & {
          stroke: color(sliderArrow2, base);
        }
      }
    }

    svg {
      stroke: color(sliderArrow2, base);
    }
  }

  .slick-dots {
    li {
      color: $color-black;
    }
  }
}
