input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: unset;
  appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  position: relative;
  width: 100%;
  padding-left: 20px;
  padding-right: 52px;

  height: 55px;
  border: 2px solid color(border);

  &:-webkit-autofill {
    background-color: transparent;
  }

  @include breakpoint($bp-medium) {
    height: 45px;
    padding-right: 40px;
  }
}

textarea {
  @include respond(
    ('height', auto, auto)
  );
}

.textfield {
  position: relative;

  &:before, button {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 31px;
    height: 31px;
    border: solid color(border, secondary);
    border-width: 2px 2px 0 0; 
    z-index: 10;

    transition: all 200ms ease;
  }

  button {
    width: 0 !important;
    height: 0 !important;
    border: 0;
    border-top: 0 solid color(border, secondary);
    border-left: 0 solid transparent;
  }

  // states
  &.is-filled {
    button { 
      border-top-width: 31px;
      border-left-width: 31px;

      &:hover {
        border-top-color: color(border);
      }
    }
    &:before { opacity: 0; }
  }

  &[disabled] {
    color: color(text,secondary);
  }

  @include breakpoint($bp-medium) {
    &:before, & button {
      top: 10px;
      right: 10px;
      width: 21px;
      height: 21px;
    }

    &.is-filled {
      button {
        border-top-width: 24px;
        border-left-width: 24px;
      }
    }
  }
}


.textfield__msg {
  @include h9;

  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 7px;
  color: color(text,highlight);


}

.textfield__progress, .textfield__progress-bar {
  position: absolute;
  left:0;
  top: 100%;
  width: 100%;
  height: 3px;
  background: color(bg,secondary);
}

.textfield__progress-bar {
  width: 0;
  top:0;
  background: color(bg,highlight);
}