

// comps styling
.ticket__sections {
  position: relative;
}

.ticket__info {
  @include clearfix();

  position: relative;
}


.ticket__hero {
  z-index: -1;
  &, & .media-bg {
    position: absolute;
    height: 100%;
  }
}

.ticket__info-details {
  @include respond(
    ('margin-bottom', 40px, 50px, 0)
  );
}

.ticket__info-disclamer {
  @include respond(
    ('margin-top', 30px, null, 40px)
  );  
}

.ticket__item-list {
  margin-bottom: 0; 
}


// cops sched stylings

.ticket__sched {
  @include respond(
    ('padding-left', 0, 25px, 0),
    ('float', null, right)
  ); 

  
}


.ticket__sched-title {
  .h8-special {
    @include respond(
      ('margin-bottom', 30px, 40px, 40px)
    );
  }
}

.ticket__sched-item__title {
  @include respond((margin-bottom, 8px, 10px, 15px));
}

.ticket__sched-item__sub-title {
  margin-bottom: 6px;
}

.ticket__sched-item {
  &:not(:last-of-type) {
    @include respond((margin-bottom, 25px, 35px, 35px));
  }
}